{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Booking",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://book.liteapi.travel/v3.0"
    }
  ],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "Make bookings",
      "description": "The **Book API V3** provides the relevant methods m book a specific room rate of a hotel."
    },
    {
      "name": "Manage bookings",
      "description": "The **Booking Management API** collection provides different methods to retrieve an existing booking by the booking Id and also by guest Id, It also provides a method to cancel an existing booking Id if it exists and when cancellation policies are met"
    }
  ],
  "paths": {
    "/prebooks/{prebookId}": {
      "get": {
        "tags": ["Manage bookings"],
        "summary": "Retrieve a prebook by ID",
        "description": "## Overview\n\nRetrieve details of an existing prebook session by its ID. Use this to fetch prebook information without creating a new session.\n\n## When to Use\n\n- **Session recovery** - Retrieve prebook details if you've stored the prebookId\n- **Status checks** - Verify prebook session details before completing booking\n- **Payment integration** - Get prebook data needed for payment processing\n- **Credit balance** - Optionally include updated credit balance information\n\n## What You Get\n\n- **Complete prebook data** - All information from the prebook session\n- **Rate details** - Pricing, room types, and availability\n- **Terms and conditions** - Cancellation policies and booking terms\n- **Credit balance** - Optional updated credit balance (if requested)\n\n## Quick Start\n\nProvide the `prebookId` in the URL path. Optionally include `includeCreditBalance` query parameter to get updated credit information.",
        "parameters": [
          {
            "name": "prebookId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "(Required) The unique identifier of the prebook session."
          },
          {
            "name": "includeCreditBalance",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Whether to include updated credit balance information with the prebook."
          }
        ],
        "security": [{ "apikeyAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prebookId": {
                          "type": "string",
                          "description": "The pre-booking ID is required to confirm a booking and is reusable for multiple bookings. It's the only required field unless using our payment SDK, which also requires transactionId and secretKey."
                        },
                        "offerId": {
                          "type": "string",
                          "description": "The offer ID passed during the prebook call, provided again here for reference."
                        },
                        "hotelId": {
                          "type": "string",
                          "description": "The unique identifier for the hotel related to this pre-booking. Used along with the hotel content endpoint."
                        },
                        "checkin": {
                          "type": "string",
                          "description": "The check-in date for the booking in YYYY-MM-DD format."
                        },
                        "checkout": {
                          "type": "string",
                          "description": "The check-out date for the booking in YYYY-MM-DD format."
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency in which prices and fees are displayed."
                        },
                        "termsAndConditions": {
                          "type": "string",
                          "description": "The terms and conditions that apply to this booking, provided as a string."
                        },
                        "roomTypes": {
                          "type": "array",
                          "description": "An array of objects containing all the requested rooms/rates. This is not the type of room being booked.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rates": {
                                "type": "array",
                                "description": "An array of objects detailing the pricing and availability of the selected room rates. There will be a number of rates equal to the occupancies request.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "rateId": {
                                      "type": "string",
                                      "description": "The unique identifier for a specific rate within the offer."
                                    },
                                    "occupancyNumber": {
                                      "type": "integer",
                                      "description": "The number identifying which guest is associated with each room in a multi-room booking."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the room type booked, including key attributes."
                                    },
                                    "maxOccupancy": {
                                      "type": "integer",
                                      "description": "The maximum number of guests allowed in this room."
                                    },
                                    "adultCount": {
                                      "type": "integer",
                                      "description": "The number of adults included in this booking."
                                    },
                                    "childCount": {
                                      "type": "integer",
                                      "description": "The number of children included in this booking."
                                    },
                                    "childrenAges": {
                                      "type": "array",
                                      "description": "A list of ages for each child included in this rate. Empty array if no children.",
                                      "items": {
                                        "type": "integer"
                                      }
                                    },
                                    "boardType": {
                                      "type": "string",
                                      "description": "A short code representing the meal plan included with the booking."
                                    },
                                    "boardName": {
                                      "type": "string",
                                      "description": "The full name of the meal plan included in the booking."
                                    },
                                    "remarks": {
                                      "type": "string",
                                      "description": "Any special remarks related to the booking or room type."
                                    },
                                    "priceType": {
                                      "type": "string",
                                      "description": "Defines how pricing is structured. Only commission currently used. It can be set to 0 for net rates."
                                    },
                                    "commission": {
                                      "type": "array",
                                      "description": "An array of objects specifying commission details for the booking.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The amount of commission included in the total price."
                                          },
                                          "currency": {
                                            "type": "string",
                                            "description": "The currency the commission is in."
                                          }
                                        }
                                      }
                                    },
                                    "retailRate": {
                                      "type": "object",
                                      "description": "An object containing details of the final price, including taxes and fees.",
                                      "properties": {
                                        "total": {
                                          "type": "array",
                                          "description": "An array containing the total price due for this room.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The total cost amount due to book this room. This is what the end user will pay."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the total is in."
                                              }
                                            }
                                          }
                                        },
                                        "suggestedSellingPrice": {
                                          "type": "array",
                                          "description": "This field represents the recommended price at which the booking should be offered.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The minmum amount the room can be sold for publicly."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the SSP is in."
                                              },
                                              "source": {
                                                "type": "string",
                                                "description": "The source of the SSP if we have it. "
                                              }
                                            }
                                          }
                                        },
                                        "initialPrice": {
                                          "type": "array",
                                          "description": "This object represents the hotel's standard listed price for the room. It is always equal to or higher than the total price. If higher, it indicates a hotel discount is applied.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The initial price amount."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency of the initial price."
                                              }
                                            }
                                          }
                                        },
                                        "taxesAndFees": {
                                          "type": "array",
                                          "description": "Breakdown of taxes and additional charges:",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "included": {
                                                "type": "boolean",
                                                "description": "Indicates whether the tax or fee is already included in the total price (true) or if it must be paid separately at check-in (false)."
                                              },
                                              "description": {
                                                "type": "string",
                                                "description": "A brief explanation of the tax or fee (e.g., \"Hotel Tax Rate\" or \"Daily Facilities Fee\")."
                                              },
                                              "amount": {
                                                "type": "number",
                                                "description": "The monetary value of the tax or fee."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the tax is in."
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "cancellationPolicies": {
                                      "type": "object",
                                      "description": "An object containing the cancellation rules and conditions for the booking.",
                                      "properties": {
                                        "cancelPolicyInfos": {
                                          "type": "array",
                                          "description": "An array of objects detailing specific cancellation penalties and deadlines.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "cancelTime": {
                                                "type": "string",
                                                "description": "The deadline to cancel before incurring a fee (ISO datetime format)."
                                              },
                                              "amount": {
                                                "type": "number",
                                                "description": "The monetary penalty applied if the booking is canceled after the deadline. Can be 0 which means its fully refundable."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency of the cancellation fee."
                                              },
                                              "type": {
                                                "type": "string",
                                                "description": "The type of cancellation penalty (e.g., 'amount' for a fixed fee)."
                                              },
                                              "timezone": {
                                                "type": "string",
                                                "description": "The timezone in which the cancellation policy applies. Always GMT, even if not listed."
                                              }
                                            }
                                          }
                                        },
                                        "hotelRemarks": {
                                          "type": "array",
                                          "description": "An array of additional remarks from the hotel regarding cancellations.",
                                          "items": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        },
                                        "refundableTag": {
                                          "type": "string",
                                          "description": "Indicates whether the booking is refundable, Either 'NRFN' for non-refundable or RFN for refundable."
                                        }
                                      }
                                    },
                                    "paymentTypes": {
                                      "type": "array",
                                      "items": { "type": "string" },
                                      "description": "An array of payment types supported for this booking request."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "suggestedSellingPrice": {
                          "type": "object",
                          "description": "The minimum public selling price for all the rooms combined. This is used for pricing control.",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "The minmum amount the room can be sold for publicly."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency the suggestedSellingPrice is in."
                            },
                            "source": {
                              "type": "string",
                              "description": "The source of the suggestedSellingPrice if we have it. ex: 'expedia.com' or 'providerDirect'."
                            }
                          }
                        },
                        "commission": {
                          "type": "number",
                          "description": "The total commission earned for all rooms being booked."
                        },
                        "addonsTotalAmount": {
                          "type": "number",
                          "description": "The total amount charged for any additional services or extras."
                        },
                        "price": {
                          "type": "number",
                          "description": "The final price of the booking for all rooms after applicable calculations."
                        },
                        "priceType": {
                          "type": "string",
                          "description": "Defines how pricing is structured. Only commission currently used. It can be set to 0 for net rates."
                        },
                        "priceDifferencePercent": {
                          "type": "integer",
                          "description": "Percentage difference between original offered and final price if alternate rate used."
                        },
                        "cancellationChanged": {
                          "type": "boolean",
                          "description": "Boolean indicating if cancellation policies have changed since the initial offer."
                        },
                        "boardChanged": {
                          "type": "boolean",
                          "description": "Boolean indicating if the board (meal plan) has changed since the initial offer."
                        },
                        "supplier": {
                          "type": "string",
                          "description": "The supplier providing the inventory for this booking. By default this will always be Nuitee."
                        },
                        "supplierId": {
                          "type": "integer",
                          "description": "The numerical identifier of the supplier. By default Nuitee's ID is always 2."
                        },
                        "transactionId": {
                          "type": "string",
                          "description": "A unique transaction identifier for this booking request. Only returned if using the payment SDK."
                        },
                        "paymentTypes": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "An array of payment types supported for this booking request."
                        },
                        "mappedRoomId": {
                          "type": "integer",
                          "nullable": true,
                          "description": "The mapped room ID, or null if the room has not been mapped"
                        },
                        "secretKey": {
                          "type": "string",
                          "description": "A key used for calling the paymentSDK to secure booking-related payments. Only returned if using the payment SDK."
                        },
                        "voucherCode": {
                          "type": "string",
                          "description": "Represents the unique code used to redeem a voucher during the transaction."
                        },
                        "voucherTotalAmount": {
                          "type": "string",
                          "description": "Specifies the total monetary value or discount amount provided by the voucher."
                        },
                        "addonsRequest": {
                          "type": "array",
                          "description": "An array of objects specifying additional services or extras requested for the booking.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "addon": {
                                "type": "string",
                                "description": "The name or type of the additional service requested."
                              },
                              "value": {
                                "type": "number",
                                "description": "The price of the addon in the specified currency."
                              },
                              "currency": {
                                "type": "string",
                                "description": "The currency in which the addon is priced."
                              },
                              "addonDetails": {
                                "type": "object",
                                "description": "An object containing additional details about the requested addon.",
                                "properties": {
                                  "package_id": {
                                    "type": "integer",
                                    "description": " Unique package ID for the addon"
                                  },
                                  "destination_code": {
                                    "type": "string",
                                    "description": "Destination location code (e.g., US)"
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "description": "Start date of the addon service"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "description": "End date of the addon service"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "creditLine": {
                          "type": "object",
                          "description": "Credit line information returned when includeCreditBalance is set to true and the user has a credit line available.",
                          "properties": {
                            "remainingCredit": {
                              "type": "number",
                              "description": "The remaining credit amount available for the user."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency of the remaining credit amount."
                            }
                          }
                        }
                      }
                    },
                    "guestLevel": {
                      "type": "integer",
                      "description": "Used with loyalty programs to determine the guests level of cost reduction."
                    },
                    "sandbox": {
                      "type": "boolean",
                      "description": "Indicates whether this response is in a test/sandbox environment (true/false)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed message providing context about the error"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": { "type": "string", "example": "47" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": { "code": 401, "message": "Unauthorized" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rates/prebook": {
      "post": {
        "tags": ["Make bookings"],
        "summary": "1. Create a checkout session (PREBOOK)",
        "description": "## Overview\n\n**Step 1 of 2** in the booking flow. Create a prebook session to check the availability of a rate and get final pricing before payment. This `prebookId` needed to complete the booking.\n\n## When to Use\n\n- **Before payment** - Always call this before completing a booking\n- **Rate confirmation** - Verify final pricing and availability\n- **Session creation** - Generate a checkout session for your payment flow\n\n## What You Get\n\n- **Prebook ID** - Required for the next step (completing the booking)\n- **Final pricing** - Confirmed rates with all fees and taxes\n- **Terms and conditions** - Cancellation policies and booking rules\n- **Room details** - Complete information about the selected rooms\n\n## Key Features\n\n- **Live availability check** - Verifies the rate is available before you collect payment\n- **Payment SDK support** - Set `usePaymentSdk=true` to use client-side payment forms\n- **Reusable** - PrebookId can be used for multiple bookings if needed\n\n## Quick Start\n\nProvide the `offerId` from your hotel rates search and set `usePaymentSdk` (true/false). Returns a `prebookId` to use in the next step.\n\n**Next Step**: Use the `prebookId` with `/rates/book` to complete the booking.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offerId", "usePaymentSdk"],
                "properties": {
                  "offerId": {
                    "type": "string",
                    "description": "The unique identifier of the selected offer from the search results."
                  },
                  "usePaymentSdk": {
                    "type": "boolean",
                    "description": "Specifies whether the fields needed to call the payment processing SDK are returned. Set to true if using the SDK for payment processing."
                  },
                  "voucherCode": {
                    "type": "string",
                    "description": "An optional voucher code to apply discounts to the booking. The vouchers API allows creation of these discounts"
                  },
                  "addons": {
                    "type": "array",
                    "description": "A list of additional services or extras that can be added to the booking. For example, adding an Uber voucher or an esim card. The final booking amount is the sum of the offer's total price and the cost of any addons. Each addon's price is added individually to reflect all extras in the billed total. ",
                    "items": {
                      "type": "object",
                      "required": ["adults"],
                      "properties": {
                        "addon": {
                          "type": "string",
                          "description": "The type of addon service (e.g., uber, esimply).",
                          "example": "uber"
                        },
                        "value": {
                          "type": "number",
                          "description": "The monetary cost of the addon service",
                          "example": 50
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency in which the addon service is charged",
                          "example": "USD"
                        },
                        "addonDetails": {
                          "type": "object",
                          "properties": {
                            "package_id": {
                              "type": "integer",
                              "description": "Unique identifier of the addon package",
                              "example": 1
                            },
                            "destination_code": {
                              "type": "string",
                              "description": " Short code representing the destination or country (e.g., ES for Spain)",
                              "example": "ES"
                            },
                            "start_date": {
                              "type": "string",
                              "description": "The start date for the add-on service (YYYY-MM-DD format)",
                              "example": "2025-12-05"
                            },
                            "end_date": {
                              "type": "string",
                              "description": "The end date for the add-on service (YYYY-MM-DD format)",
                              "example": "2025-12-10"
                            }
                          }
                        }
                      }
                    }
                  },
                  "bedTypeIds": {
                    "type": "array",
                    "description": "An optional array of bed type IDs to specify preferred bed configurations for the rooms being booked. The availability of specific bed types depends on the hotel's inventory.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "includeCreditBalance": {
                    "type": "boolean",
                    "description": "Optional flag to include credit line information in the response. When set to true, credit line details will be returned if the user has a credit line available.",
                    "example": false
                  }
                }
              },
              "examples": {
                "Prebook request": {
                  "value": {
                    "offerId": "GE5ESNBSIZKVEQ2OJRFEURSPKRFVUR2OIRKVGVCLKVEVERCVKNLUWRKJGVDVKVKVGJEESRK2KVHVES2PJNFE4RKPK5JVIS2SI5KTIV2TKRETKQKUI5JEGRSKLJFEMTKSGJNEOSSFIZJVIS2LJFJEIVKTK5FUKSKWJBCUKVKLJFEVMTKVJFIVUWCJJJFFKT2RJMZESUSFKUZFCUZSJE2UCVSVK5BVUTCKI5CTMVCCKZFE4TCFJ5HDERCLLJDFKNCOKNDUUTSLKRCVES2RJNDE2VSLKEZE4SKOINCU2TSDGJEVMQSVGJJTERKJGVBVMU2XINNEUVSKIZDVGQ2CJRFE2RSTKZJUWS2OIZLFKVCLJFEVKM2VIVKVGSCHKJGVMSKUGJIESSSMIVIVCSZSJNJEGVJUK5JTESSCIFKEOVSLLJGEUQ2GI5KFGUSLJJFUKR2UJNBUWNKEKVFVOS2FJFHEKVSVKVJUQSSFLJKUOTKTJZFEUSKVJ5LUWWSLKJAVKMSUIJKUUTSGIVEVESSVI42UERSHKIZEETCKINCVGVCLINGEMRCVKNHEGVKJJZDVKRKVJNEESSJTIVEVCWSYJFFE2RKPKFFFGSKSINKTEU2TIVFE4RSFKFKTESCLKZFFKT2TKNNEWSSLIVFVIS2DJNHEIVSDKYZFKSKGJBDEKVCTJBEUKWSVI5IUWTSKJJEVKUKTJNNESUSBLBMU4QSRJBAVQRCJJUZTIUCSJJCTMOZSHJETIMSGKVJEGTSMJJFEMT2UJNNEOTSEKVJVIS2VJFJEIVKTK5FUKSJVI5KVKVJSJBEUKWSVJ5JEWT2LJJHEKT2XKNKEWUSHKU2FOU2UJE2UCVCHKJBUMSS2JJDE2URSLJDUURKGKNKEWU2JKJCFKU2XJNCUSVSIIVCVKS2JJFLE2VKJKFNFQSKKJJKU6UKLGJEVERKVGJIVGMSJGVAVMVKXINNEYSSHIU3FIQSWJJHEYRKPJYZEIS22IZKTITSTI5FE4S2UIVJEWUKLIZGVMS2RGJHESTSDIVGU4QZSJFLEEVJSKMZEKSJVINLFGV2DLJFFMSSGI5JUGQSMJJGUMU2WKNFUWTSGKZKVIS2JJFKTGVKFKVJUQR2SJVLESVBSKBEUUTCFKFIUWMSLKJBVKNCXKMZEUQSBKRDVMS22JRFEGRSHKRJVES2KJNCUOVCLINFTKRCVJNLUWRKJJZCVMVKVKNEEURK2KVDU2U2OJJFESVKPK5FVUS2SIFKTEVCCKVFE4RSFJFJEUVKHGVBEMR2SGJBEYSSDIVJVIS2DJRDEIVKTJZBVKSKOI5KUKVKLJBEUSM2FJFIVUWCJJJGUKT2RJJJUSUSDKUZFGU2FJJHEMRKRKUZEQS2WJJKU6U2TLJFUUS2FJNKEWQ2LJZCFMQ2WGJKUSRSIIZCVIU2IJFCVUVKHKFFU4SSKJFKVCU2LLJEVEQKYLFHEEUKIIFMEISKNGM2FAUSKIU3HYMJQGYYTAML4GJ6GY4BRHFSTONL4GEWTWMRNGEYXYVKTIR6FKU34GIYDENBNGA4S2MBRPQZDAMRUFUYDSLJQGN6A",
                    "usePaymentSdk": true,
                    "voucherCode": "example-voucher-1234",
                    "addons": [
                      {
                        "addon": "uber",
                        "value": 50,
                        "currency": "USD"
                      },
                      {
                        "addon": "uber",
                        "value": 70,
                        "currency": "USD"
                      },
                      {
                        "addon": "esimply",
                        "value": 30,
                        "currency": "USD",
                        "addonDetails": {
                          "package_id": 1,
                          "destination_code": "US",
                          "start_date": "2025-12-05",
                          "end_date": "2025-12-10"
                        }
                      }
                    ],
                    "bedTypeIds": [1, 2]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 30
          },
          {
            "name": "includeCreditBalance",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Optional flag to include credit line information in the response. When set to true, credit line details will be returned if the user has a credit line available. This can also be provided in the request body as `includeCreditBalance`.",
            "example": false
          }
        ],
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prebookId": {
                          "type": "string",
                          "description": "The pre-booking ID is required to confirm a booking and is reusable for multiple bookings. It's the only required field unless using our payment SDK, which also requires transactionId and secretKey."
                        },
                        "offerId": {
                          "type": "string",
                          "description": "The offer ID passed during the prebook call, provided again here for reference."
                        },
                        "hotelId": {
                          "type": "string",
                          "description": "The unique identifier for the hotel related to this pre-booking. Used along with the hotel content endpoint."
                        },
                        "checkin": {
                          "type": "string",
                          "description": "The check-in date for the booking in YYYY-MM-DD format."
                        },
                        "checkout": {
                          "type": "string",
                          "description": "The check-out date for the booking in YYYY-MM-DD format."
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency in which prices and fees are displayed."
                        },
                        "termsAndConditions": {
                          "type": "string",
                          "description": "The terms and conditions that apply to this booking, provided as a string."
                        },
                        "roomTypes": {
                          "type": "array",
                          "description": "An array of objects containing all the requested rooms/rates. This is not the type of room being booked.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rates": {
                                "type": "array",
                                "description": "An array of objects detailing the pricing and availability of the selected room rates. There will be a number of rates equal to the occupancies request.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "rateId": {
                                      "type": "string",
                                      "description": "The unique identifier for a specific rate within the offer."
                                    },
                                    "occupancyNumber": {
                                      "type": "integer",
                                      "description": "The number identifying which guest is associated with each room in a multi-room booking."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the room type booked, including key attributes."
                                    },
                                    "maxOccupancy": {
                                      "type": "integer",
                                      "description": "The maximum number of guests allowed in this room."
                                    },
                                    "adultCount": {
                                      "type": "integer",
                                      "description": "The number of adults included in this booking."
                                    },
                                    "childCount": {
                                      "type": "integer",
                                      "description": "The number of children included in this booking."
                                    },
                                    "childrenAges": {
                                      "type": "array",
                                      "description": "A list of ages for each child included in this rate. Empty array if no children.",
                                      "items": {
                                        "type": "integer"
                                      }
                                    },
                                    "boardType": {
                                      "type": "string",
                                      "description": "A short code representing the meal plan included with the booking."
                                    },
                                    "boardName": {
                                      "type": "string",
                                      "description": "The full name of the meal plan included in the booking."
                                    },
                                    "remarks": {
                                      "type": "string",
                                      "description": "Any special remarks related to the booking or room type."
                                    },
                                    "priceType": {
                                      "type": "string",
                                      "description": "Defines how pricing is structured. Only commission currently used. It can be set to 0 for net rates."
                                    },
                                    "commission": {
                                      "type": "array",
                                      "description": "An array of objects specifying commission details for the booking.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The amount of commission included in the total price."
                                          },
                                          "currency": {
                                            "type": "string",
                                            "description": "The currency the commission is in."
                                          }
                                        }
                                      }
                                    },
                                    "retailRate": {
                                      "type": "object",
                                      "description": "An object containing details of the final price, including taxes and fees.",
                                      "properties": {
                                        "total": {
                                          "type": "array",
                                          "description": "An array containing the total price due for this room.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The total cost amount due to book this room. This is what the end user will pay."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the total is in."
                                              }
                                            }
                                          }
                                        },
                                        "suggestedSellingPrice": {
                                          "type": "array",
                                          "description": "This field represents the recommended price at which the booking should be offered.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The minmum amount the room can be sold for publicly."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the SSP is in."
                                              },
                                              "source": {
                                                "type": "string",
                                                "description": "The source of the SSP if we have it. "
                                              }
                                            }
                                          }
                                        },
                                        "initialPrice": {
                                          "type": "array",
                                          "description": "This object represents the hotel's standard listed price for the room. It is always equal to or higher than the total price. If higher, it indicates a hotel discount is applied.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number",
                                                "description": "The initial price amount."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency of the initial price."
                                              }
                                            }
                                          }
                                        },
                                        "taxesAndFees": {
                                          "type": "array",
                                          "description": "Breakdown of taxes and additional charges:",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "included": {
                                                "type": "boolean",
                                                "description": "Indicates whether the tax or fee is already included in the total price (true) or if it must be paid separately at check-in (false)."
                                              },
                                              "description": {
                                                "type": "string",
                                                "description": "A brief explanation of the tax or fee (e.g., \"Hotel Tax Rate\" or \"Daily Facilities Fee\")."
                                              },
                                              "amount": {
                                                "type": "number",
                                                "description": "The monetary value of the tax or fee."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency the tax is in."
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "cancellationPolicies": {
                                      "type": "object",
                                      "description": "An object containing the cancellation rules and conditions for the booking.",
                                      "properties": {
                                        "cancelPolicyInfos": {
                                          "type": "array",
                                          "description": "An array of objects detailing specific cancellation penalties and deadlines.",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "cancelTime": {
                                                "type": "string",
                                                "description": "The deadline to cancel before incurring a fee (ISO datetime format)."
                                              },
                                              "amount": {
                                                "type": "number",
                                                "description": "The monetary penalty applied if the booking is canceled after the deadline. Can be 0 which means its fully refundable."
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency of the cancellation fee."
                                              },
                                              "type": {
                                                "type": "string",
                                                "description": "The type of cancellation penalty (e.g., 'amount' for a fixed fee)."
                                              },
                                              "timezone": {
                                                "type": "string",
                                                "description": "The timezone in which the cancellation policy applies. Always GMT, even if not listed."
                                              }
                                            }
                                          }
                                        },
                                        "hotelRemarks": {
                                          "type": "array",
                                          "description": "An array of additional remarks from the hotel regarding cancellations.",
                                          "items": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        },
                                        "refundableTag": {
                                          "type": "string",
                                          "description": "Indicates whether the booking is refundable, Either 'NRFN' for non-refundable or RFN for refundable."
                                        }
                                      }
                                    },
                                    "paymentTypes": { "type": "array", "items": { "type": "string" }, "description": "An array of payment types supported for this booking request." },
                                    "perks": { "type": "array", "description": "An array of perks or benefits associated with this rate.", "items": { "type": "object", "properties": { "perkId": { "type": "integer", "description": "Unique identifier for the perk." }, "name": { "type": "string", "description": "The name or description of the perk." }, "amount": { "type": "number", "description": "The monetary value of the perk." }, "currency": { "type": "string", "description": "The currency of the perk amount." }, "level": { "type": "string", "description": "The level or tier of the perk." } } } }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "suggestedSellingPrice": {
                          "type": "object",
                          "description": "The minimum public selling price for all the rooms combined. This is used for pricing control.",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "The minmum amount the room can be sold for publicly."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency the suggestedSellingPrice is in."
                            },
                            "source": {
                              "type": "string",
                              "description": "The source of the suggestedSellingPrice if we have it. ex: 'expedia.com' or 'providerDirect'."
                            }
                          }
                        },
                        "commission": {
                          "type": "number",
                          "description": "The total commission earned for all rooms being booked."
                        },
                        "price": {
                          "type": "number",
                          "description": "The final price of the booking for all rooms after applicable calculations."
                        },
                        "priceType": {
                          "type": "string",
                          "description": "Defines how pricing is structured. Only commission currently used. It can be set to 0 for net rates."
                        },
                        "priceDifferencePercent": {
                          "type": "integer",
                          "description": "This is one of the three important fields to check. This should be 0. But if a rate has sold out, a similar alternate rate may be found and this field tells how much is the percentage difference between the original and final price."
                        },
                        "cancellationChanged": {
                          "type": "boolean",
                          "description": "This is one of the three important fields to check. Boolean indicating if cancellation policies have changed since the initial offer."
                        },
                        "boardChanged": {
                          "type": "boolean",
                          "description": "This is one of the three important fields to check. Boolean indicating if the board (meal plan) has changed since the initial offer."
                        },
                        "supplier": {
                          "type": "string",
                          "description": "The supplier providing the inventory for this booking. By default this will always be Nuitee."
                        },
                        "supplierId": {
                          "type": "integer",
                          "description": "The numerical identifier of the supplier. By default Nuitee's ID is always 2."
                        },
                        "transactionId": {
                          "type": "string",
                          "description": "A unique transaction identifier for this booking request. Only returned is using the payment SDK."
                        },
                        "paymentTypes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "An array of payment types supported for this booking request."
                        },
                        "mappedRoomId": {
                          "type": "integer",
                          "nullable": true,
                          "description": "The mapped room ID, or null if the room has not been mapped"
                        },
                        "secretKey": {
                          "type": "string",
                          "description": "A key used for calling the paymentSDK to secure booking-related payments. Only returned is using the payment SDK."
                        },
                        "voucherCode": {
                          "type": "string",
                          "description": "Represents the unique code used to redeem a voucher during the transaction."
                        },
                        "voucherTotalAmount": {
                          "type": "string",
                          "description": "Specifies the total monetary value or discount amount provided by the voucher."
                        },
                        "addonsRequest": {
                          "type": "array",
                          "description": "An array of objects specifying additional services or extras requested for the booking.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "addon": {
                                "type": "string",
                                "description": "The name or type of the additional service requested."
                              },
                              "value": {
                                "type": "number",
                                "description": "The price of the addon in the specified currency."
                              },
                              "currency": {
                                "type": "string",
                                "description": "The currency in which the addon is priced."
                              },
                              "addonDetails": {
                                "type": "object",
                                "description": "An object containing additional details about the requested addon.",
                                "properties": {
                                  "package_id": {
                                    "type": "integer",
                                    "description": " Unique package ID for the addon"
                                  },
                                  "destination_code": {
                                    "type": "string",
                                    "description": "Destination location code (e.g., US)"
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "description": "Start date of the addon service"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "description": "End date of the addon service"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "creditLine": {
                          "type": "object",
                          "description": "Credit line information returned when includeCreditBalance is set to true and the user has a credit line available.",
                          "properties": {
                            "remainingCredit": {
                              "type": "number",
                              "description": "The remaining credit amount available for the user."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency of the remaining credit amount."
                            }
                          }
                        }
                      }
                    },
                    "guestLevel": {
                      "type": "integer",
                      "description": "Used with loyalty programs to determine the guests level of cost reduction."
                    }
                  }
                },
                "examples": {
                  "Prebook response": {
                    "value": {
                      "data": {
                        "prebookId": "zzWkJcdgk",
                        "offerId": "GE5ESNBSIZKVMQ2QJJNEERSPKIZEMR2OIRKVOVCTKNFVMRCWKNLUWVKKGVDVMRKWGJEEWRSOIVEVCS2PJNJEEVKPK5FFKS2SI5LFKU2TLBETIMSGKVJEGQSKLJHEMR2SGIZEWUSDIUZFOU2TJM2UOVSFJZJUKSKOIVLFKVJSJBEUMTSFJFJTETSJJJFVKT2RJNNEYQSNKUZFKU2SJE2UKVCFKZBUESS2IJDEGURSJNDVURCVK5GTEVCHGVDFMTKTKNMUYRSMIVLVMQ2RJNFEMVSNKIZFGSKRGJCU6U2TIJFVEQKWINGVUVKJGVCVMVKSINJEUVK2KREVGMSWJRFEIRJSKYZEKS2OJFDEGV2LKVFDKSCFIVKUWSCHKFNEKSKRJNHESSSNIVHVCSSTJFJECVJUKEZESSS2JJDEWUSLLJFEMTSGJ5JDESSHKJFUKV2TJMZEWVSEKZFU2MSUI5FEQRSFKUZESSKVLJDFCV2LKZFU4RCVKVLVEV2JKJBVKMSRKNKESNKLKZJVEQ2IJJLE4RSDKIZEETCKINCUGVCLIVDVERCVJVHFGRSJGQZVKR2VGJEESVSNKZEVKS2OJFITERKPKJFFGS2SJBKTEV2TLFEVMSCFKVJEUV2KIVNEMR2TJMZEUQSCKVHVIS2TJNDEIVKTJVJVIR2KI5KUKVSDI5FVMTSGJFIUWSSJJJEVKT2TJJLESUSBKUZFCTBUI5CTGRCHJRJFOR22GZCEKTKCKNDVKV2UIFGVUTSHJVMUGQKNIJJUQSKZIRAU6USRI5BDMRSFKRMXYNRSHE2XYMT4NRYDCOBZG56DELL4KVJUI7CVKN6DEMBSGUWTANBNGAYXYMRQGI2S2MBUFUYDE7D4GQXDAMA",
                        "hotelId": "lp1897",
                        "checkin": "2025-12-05",
                        "checkout": "2025-12-10",
                        "currency": "USD",
                        "termsAndConditions": "",
                        "roomTypes": [
                          {
                            "rates": [
                              {
                                "rateId": "I42FUVCPJZBFOR2FGNDUWTSSKVDVSWKUJ5GVEV2HKFNEIQKOKRBUOWJUKRGVUSSXI42FURCBJZNFGR22KRCE2WSSK5GVENSEINEVUU2HIFNEIS2NIJKUOQKZLBMU2USRI5ETEVCBJZBFCR2KGZDUWM2TG5FVMSSYLFLEWVCQKJFVMR2SIQ2EOSSBKRAVCMZUI5EVURCRJUZTIS2VLJDE2V2EKNIFCWKUJ5HEEUKHGQZEIQKNIJMEOQJSIRAU4Q2IJZJFKRKZJFNFOR2JGRKEWSK2KVDVKM2TGJHFEU2IIUZFQWKVKNDUUWRWIRCU2QSTI5KVSRCHJVNFCR2BLJCECTKEGRDUMNSFI43UGU2HIVMVIUKNIQ2EORJSKRHU2WSYIVHEURJWJEZFGSK2JBBUOTKSKFDUSMSTGJGUEVCGKVNFIQKJIJIUOSJVIRAU2QL4GE3DGLRWGZ6DEMBSGUWTAMZNGMYCAMBSHIYDAORQGB6FETY",
                                "occupancyNumber": 1,
                                "name": "Standard King Room - Room only",
                                "maxOccupancy": 2,
                                "adultCount": 2,
                                "childCount": 0,
                                "childrenAges": [],
                                "boardType": "RO",
                                "boardName": "Room Only",
                                "remarks": "<br/><br/>A Resort Fee totaling USD43.61 will be charged for the stay. The Manhattan at Times Square Hotel has a mandatory Facilities Fee of $40.16 per room per night provides guests with the following inclusive services, amenities and added value offerings: \n All local, long distance and international phone calls \n Premium high-speed wireless internet access for unlimited devices \n An eco-friendly, collapsible 16 oz. water bottle to use at the hotel?s water filtration stations \n Unlimited use of our Business Center \n Unlimited use of our 24/7 Fitness Center with treadmills, bikes, elliptical machines and free weights \n*The Facilities Fee does not include service gratuity . Hotel Check In Policy: Major credit card required at check-in for deposit and incidentals. Any additional fees such as parking, pet fees, etc. are solely at the discretion of the hotel, are subject to change at any point and should be paid directly by the guest.. Minimum adult age at check in is 21 years.<br/>",
                                "priceType": "commission",
                                "commission": [
                                  {
                                    "amount": 6.28,
                                    "currency": "USD"
                                  }
                                ],
                                "retailRate": {
                                  "total": [
                                    {
                                      "amount": 163.66,
                                      "currency": "USD"
                                    }
                                  ],
                                  "suggestedSellingPrice": [
                                    {
                                      "amount": 185.7,
                                      "currency": "USD",
                                      "source": ""
                                    }
                                  ],
                                  "initialPrice": null,
                                  "taxesAndFees": [
                                    {
                                      "included": true,
                                      "description": "NYC Javits Center Fee",
                                      "amount": 1.62,
                                      "currency": "USD"
                                    },
                                    {
                                      "included": true,
                                      "description": "NYC Occupancy Tax",
                                      "amount": 2.16,
                                      "currency": "USD"
                                    },
                                    {
                                      "included": true,
                                      "description": "NY State Tax",
                                      "amount": 11.88,
                                      "currency": "USD"
                                    },
                                    {
                                      "included": true,
                                      "description": "NY City Tax",
                                      "amount": 7.87,
                                      "currency": "USD"
                                    },
                                    {
                                      "included": false,
                                      "description": "Facility Fee",
                                      "amount": 43.61,
                                      "currency": "USD"
                                    }
                                  ]
                                },
                                "cancellationPolicies": {
                                  "cancelPolicyInfos": [
                                    {
                                      "cancelTime": "2025-03-30 02:00:00",
                                      "amount": 163.66,
                                      "currency": "USD",
                                      "type": "amount",
                                      "timezone": "GMT"
                                    }
                                  ],
                                  "hotelRemarks": [],
                                  "refundableTag": "RFN"
                                },
                                "paymentTypes": ["NUITEE_PAY", "PROPERTY_PAY"],
                                "perks": []
                              }
                            ]
                          }
                        ],
                        "suggestedSellingPrice": {
                          "amount": 185.7,
                          "currency": "USD",
                          "source": "expedia.com"
                        },
                        "isPackageRate": null,
                        "commission": 6.28,
                        "addonsTotalAmount": 70,
                        "price": 213.66,
                        "priceType": "commission",
                        "priceDifferencePercent": 0,
                        "cancellationChanged": false,
                        "boardChanged": false,
                        "supplier": "nuitee",
                        "supplierId": 2,
                        "transactionId": "tr_ct_NjePtG_-HHUDCeQ_LrTOS",
                        "secretKey": "pi_3QxSJ8A4FXPoRk9Y14cv6f1G_secret_psA870CD4S17fSh58skN1TWaG",
                        "voucherCode": "createvoucher83",
                        "voucherTotalAmount": 20,
                        "addonsRequest": [
                          {
                            "addon": "uber",
                            "value": 70,
                            "currency": "USD"
                          }
                        ],
                        "creditLine": {
                          "remainingCredit": 1000.0,
                          "currency": "USD"
                        }
                      },
                      "guestLevel": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid offerId": {
                    "value": {
                      "error": {
                        "code": 4002,
                        "description": "invalid offerId",
                        "message": "required request field is missing or wrong input"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "47"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "85"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Detailed message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Prebook timeout": {
                    "value": {
                      "error": {
                        "code": 4016,
                        "description": "prebook timeout exceeded, please consider increasing",
                        "message": "prebook timeout exceeded, please consider increasing"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rates/book": {
      "post": {
        "tags": ["Make bookings"],
        "summary": "2. Complete a booking",
        "description": "## Overview\n\n**Step 2 of 2** in the booking flow. Complete the booking by providing guest information and payment details. This confirms the reservation and creates the final booking.\n\n## When to Use\n\n- **After prebook** - Call this after creating a prebook session\n- **Payment processing** - Submit payment information to confirm booking\n- **Booking confirmation** - Finalize the reservation\n\n## What You Get\n\n- **Booking ID** - Unique identifier for the confirmed booking\n- **Hotel confirmation code** - Reference code from the hotel\n- **Complete booking details** - Dates, pricing, room information\n- **Cancellation policies** - Terms for cancelling the booking\n- **Guest information** - Confirmed guest details\n\n## Payment Methods\n\n- **TRANSACTION** - Use when using Payment SDK (provide `transactionId`)\n- **ACC_CREDIT_CARD** - Direct credit card payment\n- **WALLET** - Wallet payment method\n- **CREDIT** - Use account credit balance\n\n## Required Information\n\n- **Prebook ID** - From the prebook step\n- **Guest details** - First name, last name, and email\n- **Payment information** - Payment method and details\n\n## Quick Start\n\nProvide the `prebookId`, guest information (firstName, lastName, email), and payment details. Returns confirmed booking with booking ID and confirmation code.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "prebookId": "len80MPr_",
                    "holder": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "guests": [
                      {
                        "occupancyNumber": 1,
                        "remarks": "quiet room please",
                        "firstName": "John",
                        "lastName": "Doe",
                        "email": "john.doe@example.com"
                      },
                      {
                        "occupancyNumber": 2,
                        "remarks": "non smoking room please",
                        "firstName": "John",
                        "lastName": "Doe",
                        "email": "john.doe@example.com"
                      }
                    ],
                    "payment": {
                      "method": "TRANSACTION_ID",
                      "transactionId": "tr_ct_ELlwT7nqeZCKSysxZq1Vr"
                    }
                  }
                },
                "required": ["prebookId", "holder", "guests", "payment"],
                "properties": {
                  "prebookId": {
                    "type": "string",
                    "description": "This identifier from the pre-booking step is used to confirm a booking rate"
                  },
                  "clientReference": {
                    "type": "string",
                    "description": "An optional client-defined reference ID acts as an idempotency key to prevent duplicate bookings"
                  },
                  "holder": {
                    "type": "object",
                    "description": "Information on the person responsible for making the payment. This may not necessarily be the traveler",
                    "required": ["firstName", "lastName", "email", "phone"],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "The first name of the payer"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "The last name of the payer"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address of the payer"
                      },
                      "phone": {
                        "type": "string",
                        "description": "The phone number of the payer, if available"
                      }
                    }
                  },
                  "guests": {
                    "type": "array",
                    "description": "This represents a list of all individuals included in the hotel reservation",
                    "items": {
                      "type": "object",
                      "required": [
                        "occupancyNumber",
                        "firstName",
                        "lastName",
                        "email"
                      ],
                      "properties": {
                        "occupancyNumber": {
                          "type": "integer",
                          "description": "An array where each object represents the primary guest assigned to a specific booked room. There is a 1:1 mapping between guests and rooms, meaning each guest object corresponds to a single room in the booking.  (Doc for more details: https://docs.liteapi.travel/docs/adding-guests-durring-the-booking-step)"
                        },
                        "remarks": {
                          "type": "string",
                          "description": "Special requests or remarks for the guest's stay (not guaranteed)"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "The first name of the primary guest staying in this assigned room"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "The last name of the primary guest staying in the assigned room"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email of the primary guest staying in the assigned room"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The guest's contact number for verification and hotel communication"
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Encapsulates essential metadata for fraud detection and compliance, including IP, location, language, device details, and marketing parameters.",
                    "required": [
                      "occupancyNumber",
                      "firstName",
                      "lastName",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": " ip String (or derived) IPv4/IPv6 of the requester"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country inferred from the requester's IP, aiding in regional compliance."
                      },
                      "language": {
                        "type": "string",
                        "description": "The preferred language from the user's browser settings."
                      },
                      "platform": {
                        "type": "string",
                        "description": "The operating system or device platform from which the request originates."
                      },
                      "device_id": {
                        "type": "string",
                        "description": "A unique identifier for the user's device, useful for tracking and security."
                      },
                      "user_agent": {
                        "type": "string",
                        "description": "The browser/OS user agent string for verifying request authenticity."
                      },
                      "utm_medium": {
                        "type": "string",
                        "description": "The marketing medium (e.g., email, ad) through which the service was accessed."
                      },
                      "utm_source": {
                        "type": "string",
                        "description": "The source of the traffic, such as a search engine or social network."
                      },
                      "utm_campaign": {
                        "type": "string",
                        "description": "An identifier for the specific marketing campaign that led to the request."
                      }
                    }
                  },
                  "guestPayment": {
                    "type": "object",
                    "description": "The payment method used for the transaction. This determines where the money for the booking comes from",
                    "required": [
                      "method",
                      "phone",
                      "last_4_digits",
                      "payee_last_name",
                      "payee_first_name"
                    ],
                    "properties": {
                      "phone": {
                        "type": "string",
                        "description": "Contact number associated with the payment"
                      },
                      "method": {
                        "type": "string",
                        "description": "Payment method used (e.g., ACC_CREDIT_CARD, WALLET)."
                      },
                      "payee_last_name": {
                        "type": "string",
                        "description": "Last name of the person making the payment"
                      },
                      "payee_first_name": {
                        "type": "string",
                        "description": "First name of the person making the payment"
                      },
                      "last_4_digits": {
                        "type": "string",
                        "description": "Last 4 digits of the credit card used for payment"
                      },
                      "address": {
                        "type": "object",
                        "description": " Billing address details of the payee",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City of the billing address"
                          },
                          "address": {
                            "type": "string",
                            "description": "Street address"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country of the billing address"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal or ZIP code"
                          }
                        }
                      }
                    }
                  },
                  "payment": {
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Payment method using TRANSACTION_ID. Required when using the Payment SDK for processing payments. This method requires both the payment method and transaction ID from the prebook step.",
                        "required": ["method", "transactionId"],
                        "properties": {
                          "method": {
                            "enum": ["TRANSACTION_ID"],
                            "description": "The payment method used for the transaction. This determines where the money for the booking comes from."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "The unique identifier for the transaction from the prebook step and only used with the payment SDK and the TRANSACTION method"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Alternative payment methods that don't require a transaction ID. These methods use pre-configured payment settings: WALLET uses available wallet balance, ACC_CREDIT_CARD uses stored card details, and CREDIT allows payment on credit line.",
                        "required": ["method"],
                        "properties": {
                          "method": {
                            "enum": ["WALLET", "ACC_CREDIT_CARD", "CREDIT"],
                            "description": "The payment method used for the transaction. This determines where the money for the booking comes from."
                          }
                        }
                      }
                    ],
                    "description": "Specifies the payment method for completing the booking"
                  }
                }
              },
              "examples": {
                "Book request": {
                  "value": {
                    "prebookId": "len80MPr_",
                    "holder": {
                      "firstName": "Steve",
                      "lastName": "Doe",
                      "email": "s.doe@liteapi.travel",
                      "phone": "0200923695"
                    },
                    "guests": [
                      {
                        "occupancyNumber": 1,
                        "remarks": "quiet room please",
                        "firstName": "Sunny",
                        "lastName": "Mars",
                        "email": "s.mars@liteapi.travel",
                        "phone": "0200923695"
                      },
                      {
                        "occupancyNumber": 2,
                        "remarks": "non smokong room please",
                        "firstName": "James",
                        "lastName": "Smith",
                        "email": "j.smith@liteapi.travel",
                        "phone": "0343108276"
                      }
                    ],
                    "metadata": {
                      "ip": "203.112.45.67",
                      "country": "FR",
                      "language": "fr-FR",
                      "platform": "Windows",
                      "device_id": "device-abc-789",
                      "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)",
                      "utm_medium": "organic",
                      "utm_source": "bing",
                      "utm_campaign": "spring_2025"
                    },
                    "guestPayment": {
                      "method": "CREDIT_CARD",
                      "phone": "0200923695",
                      "payee_last_name": "john",
                      "payee_first_name": "doe",
                      "last_4_digits": "1111",
                      "address": {
                        "city": "New York",
                        "address": "123 Main Street",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "payment": {
                      "method": "TRANSACTION_ID",
                      "transactionId": "tr_ct_ELlwT7nqeZCKsxZq1Vr"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 30
          }
        ],
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bookingId": {
                          "type": "string",
                          "description": "The unique identifier for the confirmed booking. This is used to reference the booking later via the API or calls for support."
                        },
                        "clientReference": {
                          "type": "string",
                          "description": "A reference ID provided by the client (you) for tracking purposes."
                        },
                        "supplierBookingId": {
                          "type": "string",
                          "description": "The booking ID assigned by the supplier. Not needed, use bookingId instead."
                        },
                        "supplierBookingName": {
                          "type": "string",
                          "description": "The name associated with the booking in the supplier's system. By default, Nuitee."
                        },
                        "supplier": {
                          "type": "string",
                          "description": "The supplier handling this booking. By default, Nuitee."
                        },
                        "supplierId": {
                          "type": "integer",
                          "description": "The unique numerical identifier for the supplier. By default, 2 for Nuitee."
                        },
                        "status": {
                          "type": "string",
                          "description": "The current status of the booking. At this point it will be CONFIRMED, the other option for this field is CANCELED."
                        },
                        "hotelConfirmationCode": {
                          "type": "string",
                          "description": "The confirmation code issued by the hotel for the booking. Not available at booking time. Nuitee performs a manual process to to contact the hotel and get the confirmation number."
                        },
                        "checkin": {
                          "type": "string",
                          "format": "date",
                          "description": "The check-in date for the booking (ISO format)."
                        },
                        "checkout": {
                          "type": "string",
                          "format": "date",
                          "description": "The check-out date for the booking (ISO format)."
                        },
[...]
