{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Experiences",
    "version": "3.0.0",
    "description": "The Experiences API lets you search tours and activities, check availability, reviews, and booking options. Discovery endpoints proxy to experiences-api. Access requires `experiences_access` on your account."
  },
  "servers": [
    {
      "url": "https://api.liteapi.travel/v3.0"
    }
  ],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Experiences",
      "description": "Search tours, check availability, reviews, and booking options for tours and activities."
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header"
      }
    },
    "parameters": {
      "language": {
        "name": "language",
        "in": "query",
        "required": true,
        "description": "ISO language code for localized content",
        "schema": {
          "type": "string"
        },
        "example": "en"
      },
      "currency": {
        "name": "currency",
        "in": "query",
        "required": true,
        "description": "ISO 4217 currency code for prices",
        "schema": {
          "type": "string"
        },
        "example": "EUR"
      },
      "tourId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Tour identifier",
        "schema": {
          "type": "string"
        },
        "example": "1218792"
      }
    },
    "schemas": {
      "BookingQuestionOptionResponse": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Human-readable option text shown in a dropdown or radio group."
          },
          "value": {
            "type": "string",
            "description": "Machine value submitted as the booking question answer when this option is selected."
          }
        }
      },
      "BookingPickupCoordinatesResponse": {
        "type": "object",
        "required": [
          "lat",
          "long"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "format": "double",
            "description": "Latitude in decimal degrees."
          },
          "long": {
            "type": "number",
            "format": "double",
            "description": "Longitude in decimal degrees."
          }
        }
      },
      "BookingPickupBoundsResponse": {
        "type": "object",
        "required": [
          "swLat",
          "swLong",
          "neLat",
          "neLong"
        ],
        "properties": {
          "swLat": {
            "type": "number",
            "format": "double",
            "description": "Southwest corner latitude."
          },
          "swLong": {
            "type": "number",
            "format": "double",
            "description": "Southwest corner longitude."
          },
          "neLat": {
            "type": "number",
            "format": "double",
            "description": "Northeast corner latitude."
          },
          "neLong": {
            "type": "number",
            "format": "double",
            "description": "Northeast corner longitude."
          }
        }
      },
      "BookingPickupAreaResponse": {
        "type": "object",
        "required": [
          "id",
          "label",
          "address",
          "coordinates",
          "bounds"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UI-only pickup area identity; not a provider ID and not submitted with booking answers."
          },
          "label": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "coordinates": {
            "$ref": "#/components/schemas/BookingPickupCoordinatesResponse",
            "description": "Representative map coordinates for the area, not a booking answer."
          },
          "bounds": {
            "$ref": "#/components/schemas/BookingPickupBoundsResponse"
          }
        }
      },
      "BookingPickupChoiceResponse": {
        "type": "object",
        "required": [
          "id",
          "label",
          "address",
          "coordinates"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UI-only canonical pickup choice identity; not a provider ID and not submitted with booking answers."
          },
          "label": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "coordinates": {
            "$ref": "#/components/schemas/BookingPickupCoordinatesResponse"
          }
        }
      },
      "BookingPickupPresentationResponse": {
        "type": "object",
        "required": [
          "mode",
          "transportationModes",
          "areas",
          "choices"
        ],
        "description": "Provider-neutral pickup UI metadata. Booking answers remain address/latitude/longitude and never submit area/choice IDs.",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "area",
              "location",
              "map"
            ],
            "description": "area = pick a real point inside allowed area bounds; location = select an exact predefined pickup point; map = free map/address search fallback."
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "transportationModes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "areas": {
            "type": "array",
            "description": "Allowed pickup regions for mode=area. Not selectable answers.",
            "items": {
              "$ref": "#/components/schemas/BookingPickupAreaResponse"
            }
          },
          "choices": {
            "type": "array",
            "description": "Exact predefined pickup points for mode=location.",
            "items": {
              "$ref": "#/components/schemas/BookingPickupChoiceResponse"
            }
          }
        }
      },
      "BookingQuestionFieldResponse": {
        "type": "object",
        "required": [
          "fieldId",
          "scope",
          "type",
          "label",
          "required"
        ],
        "properties": {
          "fieldId": {
            "type": "string",
            "description": "Stable provider-neutral canonical field ID."
          },
          "scope": {
            "type": "string",
            "enum": [
              "booking",
              "participant"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "date",
              "select",
              "group",
              "pickup_location"
            ]
          },
          "label": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "maxLength": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingQuestionOptionResponse"
            }
          },
          "fields": {
            "type": "array",
            "description": "Required and non-empty when type is group or pickup_location.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/BookingQuestionFieldResponse"
            }
          },
          "pickup": {
            "$ref": "#/components/schemas/BookingPickupPresentationResponse",
            "nullable": true,
            "description": "Pickup presentation metadata. Present only when type is pickup_location."
          }
        }
      },
      "BookingOptionResponse": {
        "type": "object",
        "required": [
          "optionId",
          "bookingQuestionSchema"
        ],
        "properties": {
          "optionId": {
            "type": "integer"
          },
          "tourId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "bookingQuestionSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingQuestionFieldResponse"
            }
          },
          "slots": {
            "type": "array",
            "description": "Priced time slots for this option. Use pricing.totals.net (sell) for checkout.",
            "items": {
              "$ref": "#/components/schemas/ExperienceBookingOptionSlot"
            }
          },
          "price": {
            "type": "object",
            "description": "On booking-options, partner-facing sell for the requested mix: minimum available slot `pricing.totals.net` after markup (not GYG catalog from-price). Prefer the chosen slot `pricing.totals.net` for prebook `selection.price.amount`.",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Lowest available-slot sell total for this option and participant mix.",
                "example": 708.76
              },
              "currency": {
                "type": "string",
                "example": "EUR"
              }
            }
          }
        },
        "additionalProperties": true
      },
      "BookingOptionsResponse": {
        "type": "object",
        "required": [
          "tourId",
          "date",
          "currency",
          "options"
        ],
        "properties": {
          "tourId": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "currency": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingOptionResponse"
            }
          }
        }
      },
      "BookingOptionsEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BookingOptionsResponse"
          }
        }
      },
      "ExperienceBookingData": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string",
            "description": "Dispatcher booking identifier.",
            "example": "ueTM5wXBX"
          },
          "prebookId": {
            "type": "string",
            "description": "Dispatcher prebook session that created this booking.",
            "example": "tJHcT_KHA"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING_CONFIRMATION",
              "CONFIRMED",
              "FAILED",
              "CANCELLED"
            ],
            "example": "PENDING_CONFIRMATION"
          },
          "providerStatus": {
            "type": "string",
            "description": "Raw status from the upstream provider (e.g. `completed`, `pending`).",
            "example": "completed"
          },
          "cartId": {
            "type": "string",
            "description": "Experiences-api shopping cart identifier from the validate step."
          },
          "experienceBookingId": {
            "type": "string",
            "description": "Experiences-api internal booking UUID."
          },
          "providerBookingId": {
            "type": "string",
            "description": "Provider-side booking reference hash."
          },
          "tourId": {
            "type": "integer",
            "description": "Provider tour identifier.",
            "example": 903304
          },
          "optionId": {
            "type": "integer",
            "description": "Chosen tour option from booking-options.",
            "example": 1416025
          },
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Booked slot start time.",
            "example": "2026-07-18T07:00:00Z"
          },
          "price": {
            "type": "number",
            "description": "Partner sell price charged via Stripe / persisted on the booking. Not GYG retail. Public responses omit providerPayment.",
            "example": 101.25
          },
          "commission": {
            "type": "number",
            "description": "Partner earn on this booking (sell − commercial net). Same value as clientCommission until experiences distributor markup exists.",
            "example": 7.5
          },
          "clientCommission": {
            "type": "number",
            "description": "Partner earn on this booking (sell − commercial net). Hotel-parity field name.",
            "example": 7.5
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code for all monetary amounts on this booking.",
            "example": "EUR"
          },
          "paymentStatus": {
            "type": "string",
            "description": "Stripe payment lifecycle status (e.g. `succeeded`, `requires_capture`).",
            "example": "succeeded"
          },
          "paymentTransactionId": {
            "type": "string",
            "description": "Stripe PaymentIntent transaction identifier.",
            "example": "tr_cts_test"
          },
          "customTags": {
            "type": "object",
            "description": "Optional bag of up to 5 user-defined key/value labels persisted with the booking. Keys must match `^[A-Z0-9_-]+$`; values are strings up to 255 characters.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "WHITELABEL_DOMAIN": "partner.example"
            }
          },
          "voucher": {
            "type": "object",
            "description": "Provider voucher payload available after the booking is confirmed. Structure varies by provider.",
            "additionalProperties": true
          },
          "experienceSnapshot": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional versioned provider-neutral booking-time display snapshot."
          }
        }
      },
      "ExperienceBookingResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ExperienceBookingData"
          }
        }
      },
      "ExperienceSelectionPrice": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Partner-facing sell from booking-options (`slots[].pricing.totals.net`, equiv. `priceSummary.netPrice` after markup). Not provider retail.",
            "example": 45.5
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code for the slot price.",
            "example": "EUR"
          }
        }
      },
      "ExperienceSelectionParticipants": {
        "type": "object",
        "required": [
          "ticketCategory",
          "numberOfParticipants"
        ],
        "properties": {
          "ticketCategory": {
            "type": "string",
            "description": "Semantic participant key from availability/booking-options (e.g. `adult`, `child`).",
            "example": "adult"
          },
          "numberOfParticipants": {
            "type": "integer",
            "minimum": 1,
            "description": "Count of participants in this category.",
            "example": 2
          }
        }
      },
      "ExperienceSelection": {
        "type": "object",
        "required": [
          "optionId",
          "dateTime",
          "price",
          "participants"
        ],
        "properties": {
          "optionId": {
            "type": "integer",
            "description": "Chosen tour option from booking-options.",
            "example": 1416025
          },
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Chosen slot start time from booking-options (`slots[].dateTime`).",
            "example": "2026-07-18T07:00:00"
          },
          "price": {
            "$ref": "#/components/schemas/ExperienceSelectionPrice"
          },
          "participants": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ExperienceSelectionParticipants"
            }
          },
          "questions": {
            "type": "object",
            "description": "Provider-neutral canonical answers for bookingQuestionSchema.",
            "properties": {
              "answers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExperienceQuestionAnswer"
                }
              },
              "participantAnswers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExperienceParticipantQuestionAnswers"
                }
              }
            }
          }
        }
      },
      "ExperienceQuestionAnswer": {
        "type": "object",
        "required": [
          "fieldId",
          "value"
        ],
        "properties": {
          "fieldId": {
            "type": "string",
            "description": "Canonical field ID from `bookingQuestionSchema`."
          },
          "value": {
            "description": "Answer value. Type depends on the question: string for text/select, integer for date components, object for grouped fields like pickup_location."
          }
        }
      },
      "ExperienceParticipantQuestionAnswers": {
        "type": "object",
        "required": [
          "participantIndex",
          "answers"
        ],
        "properties": {
          "participantIndex": {
            "type": "integer",
            "minimum": 0
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperienceQuestionAnswer"
            }
          }
        }
      },
      "CanonicalBookingValidationError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "validation_error"
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fieldId": {
                  "type": "string"
                },
                "participantIndex": {
                  "type": "integer",
                  "nullable": true
                },
                "code": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ExperiencePrebookRequest": {
        "type": "object",
        "required": [
          "selection",
          "language",
          "currency",
          "usePaymentSdk"
        ],
        "properties": {
          "selection": {
            "$ref": "#/components/schemas/ExperienceSelection"
          },
          "language": {
            "type": "string",
            "description": "ISO language code used for validate and downstream book cart.",
            "example": "en"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code used for validate and downstream book cart.",
            "example": "EUR"
          },
          "clientReferenceId": {
            "type": "string",
            "description": "Partner reference echoed in prebook response and stored on the checkout session.",
            "example": "partner-ref-1"
          },
          "usePaymentSdk": {
            "type": "boolean",
            "description": "Phase 1 requires `true` to create a Stripe PaymentIntent.",
            "example": true
          },
          "payment": {
            "type": "object",
            "description": "Optional Stripe metadata (e.g. statement descriptor suffix).",
            "properties": {
              "descriptorSuffix": {
                "type": "string"
              }
            }
          }
        }
      },
      "ExperiencePrebookData": {
        "type": "object",
        "required": [
          "prebookId",
          "price",
          "currency",
          "paymentTypes"
        ],
        "properties": {
          "prebookId": {
            "type": "string",
            "description": "Dispatcher checkout session id. Pass to `POST /experiences/bookings`.",
            "example": "tJHcT_KHA"
          },
          "tourId": {
            "type": "integer",
            "description": "Provider tour id (from the path parameter).",
            "example": 903304
          },
          "optionId": {
            "type": "integer",
            "description": "Chosen tour option from the prebook selection.",
            "example": 1416025
          },
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Chosen slot start time from the prebook selection.",
            "example": "2026-07-18T07:00:00"
          },
          "language": {
            "type": "string",
            "description": "Language sent on validate.",
            "example": "en"
          },
          "clientReferenceId": {
            "type": "string",
            "description": "Partner reference when provided on prebook.",
            "example": "partner-ref-1"
          },
          "participants": {
            "type": "array",
            "description": "Participant mix from the prebook selection.",
            "items": {
              "$ref": "#/components/schemas/ExperienceSelectionParticipants"
            }
          },
          "price": {
            "type": "number",
            "description": "Authoritative checkout sell price used for the Stripe PaymentIntent (commercial net + partner markup).",
            "example": 45.5
          },
          "commission": {
            "type": "number",
            "description": "Partner earn on this checkout (sell − commercial net). Same value as clientCommission until experiences distributor markup exists.",
            "example": 3.64
          },
          "clientCommission": {
            "type": "number",
            "description": "Partner earn on this checkout (sell − commercial net). Hotel-parity field name.",
            "example": 3.64
          },
          "currency": {
            "type": "string",
            "description": "Checkout currency.",
            "example": "EUR"
          },
          "cartId": {
            "type": "string",
            "description": "Experiences-api shopping cart id from validate.",
            "example": "S82SPCWONTFLXI77Z4D66BZKI8S6ROZC"
          },
          "experienceBookingId": {
            "type": "string",
            "description": "Experiences-api internal booking uuid from validate.",
            "example": "444fe833-a84e-49b4-ae9f-b032c8619419"
          },
          "providerBookingId": {
            "type": "string",
            "description": "Provider booking hash from validate (`bookingId` upstream).",
            "example": "GC0915TB2VJT9CVM643S9OLYBEDDYBOL"
          },
          "status": {
            "type": "string",
            "description": "Validate hold status from experiences-api (typically `temp`).",
            "example": "temp"
          },
          "transactionId": {
            "type": "string",
            "description": "Stripe PaymentIntent transaction id. Confirm with Stripe SDK, then pass to book.",
            "example": "tr_cts_test"
          },
          "secretKey": {
            "type": "string",
            "description": "Stripe client secret for PaymentIntent confirmation.",
            "example": "pi_secret_test"
          },
          "publishableKey": {
            "type": "string",
            "description": "Stripe publishable key when returned by payment-gateway.",
            "nullable": true
          },
          "reservationExpiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "UTC expiry of the validate hold (~10 minutes). Create a new prebook after expiry.",
            "example": "2026-07-13T08:30:00Z"
          },
          "paymentTypes": {
            "type": "array",
            "description": "Supported payment methods for book. Phase 1: `TRANSACTION_ID` only.",
            "items": {
              "type": "string",
              "enum": [
                "TRANSACTION_ID"
              ]
            },
            "example": [
              "TRANSACTION_ID"
            ]
          }
        }
      },
      "ExperiencePrebookResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ExperiencePrebookData"
          }
        }
      },
      "ExperienceBillingContact": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.doe@example.com"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+33123456789"
          },
          "countryCode": {
            "type": "string",
            "example": "FR"
          }
        }
      },
      "ExperienceTravelerContact": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.doe@example.com"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+33123456789"
          }
        }
      },
      "ExperiencePaymentInput": {
        "type": "object",
        "required": [
          "method"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "TRANSACTION_ID"
            ],
            "description": "Phase 1 supports Stripe capture via `TRANSACTION_ID` only."
          },
          "transactionId": {
            "type": "string",
            "description": "Stripe transaction id from prebook. Omit to use the id stored on the prebook session.",
            "example": "tr_cts_test"
          }
        }
      },
      "ExperienceBookingRequest": {
        "type": "object",
        "required": [
          "prebookId",
          "billing",
          "traveler",
          "payment"
        ],
        "properties": {
          "prebookId": {
            "type": "string",
            "description": "Dispatcher prebook id from `POST /experiences/tours/{id}/prebooks`.",
            "example": "tJHcT_KHA"
          },
          "billing": {
            "$ref": "#/components/schemas/ExperienceBillingContact"
          },
          "traveler": {
            "$ref": "#/components/schemas/ExperienceTravelerContact"
          },
          "payment": {
            "$ref": "#/components/schemas/ExperiencePaymentInput"
          },
          "customTags": {
            "type": "object",
            "description": "Optional bag of up to 5 user-defined key/value labels persisted with the booking. Keys must match `^[A-Z0-9_-]+$`; values are strings up to 255 characters.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "WHITELABEL_DOMAIN": "partner.example"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Machine-readable error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "description": {
                "description": "Additional error context. Prebook requests can relay canonical booking validation details.",
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "$ref": "#/components/schemas/CanonicalBookingValidationError"
                  }
                ]
              },
              "key": {
                "type": "string",
                "description": "Dot-path to the offending field in the request body, present on field-level validation errors (e.g. `bodyRequest.selection.price.amount`)."
              }
            }
          }
        }
      },
      "ExperienceParticipantLine": {
        "type": "object",
        "properties": {
          "ticketCategoryId": {
            "type": "integer"
          },
          "ticketCategory": {
            "type": "string",
            "example": "adult"
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "unitNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell per unit (commercial net marked up in place). unitNet × quantity may differ from totalNet by a cent.",
            "example": 48.87
          },
          "totalNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell for the line. Sum of totalNet reconciles to totals.net.",
            "example": 97.74
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          }
        }
      },
      "ExperienceGroupTicketLine": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer"
          },
          "maxGroupSize": {
            "type": "integer"
          },
          "unitNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell per unit (commercial net marked up in place)."
          },
          "totalNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell for the group ticket line."
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ExperienceAdditionalPaxLine": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer"
          },
          "unitNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell per additional pax (commercial net marked up in place)."
          },
          "totalNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell for the additional-pax line."
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ExperienceGroupLine": {
        "type": "object",
        "properties": {
          "groupCategoryId": {
            "type": "integer"
          },
          "groupTicket": {
            "$ref": "#/components/schemas/ExperienceGroupTicketLine"
          },
          "additionalPax": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ExperienceAdditionalPaxLine"
              }
            ]
          }
        }
      },
      "ExperienceAddonLine": {
        "type": "object",
        "properties": {
          "addonCategoryId": {
            "type": "integer"
          },
          "quantity": {
            "type": "integer"
          },
          "unitNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell per addon unit (commercial net marked up in place)."
          },
          "totalNet": {
            "type": "number",
            "format": "double",
            "description": "Partner-facing sell for the addon line."
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ExperienceSlotTotals": {
        "type": "object",
        "required": [
          "net",
          "currency"
        ],
        "properties": {
          "net": {
            "type": "number",
            "format": "double",
            "description": "Authoritative slot sell total after partner markup. Use as selection.price.amount on prebook.",
            "example": 101.25
          },
          "commission": {
            "type": "number",
            "format": "double",
            "description": "Partner earn on this slot (sell − commercial net). Present when experience markup is configured.",
            "example": 7.5
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          }
        }
      },
      "ExperienceSlotPriceSummary": {
        "type": "object",
        "properties": {
          "netPrice": {
            "type": "number",
            "format": "double",
            "description": "Slot sell total (same semantics as totals.net after markup). Replaces the former retailPrice field name.",
            "example": 101.25
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          }
        }
      },
      "ExperienceSlotPricing": {
        "type": "object",
        "description": "Slot money fields are partner-facing sell amounts (commercial net marked up in place). Provider retail is not returned.",
        "properties": {
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperienceParticipantLine"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperienceGroupLine"
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperienceAddonLine"
            }
          },
          "priceSummary": {
            "$ref": "#/components/schemas/ExperienceSlotPriceSummary"
          },
          "totals": {
            "$ref": "#/components/schemas/ExperienceSlotTotals"
          }
        }
      },
      "ExperienceBookingOptionSlot": {
        "type": "object",
        "properties": {
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-18T07:00:00"
          },
          "vacancies": {
            "type": "integer",
            "example": 12
          },
          "isAvailable": {
            "type": "boolean",
            "example": true
          },
          "unavailabilityReason": {
            "type": "string",
            "nullable": true,
            "description": "Why the slot is unavailable when isAvailable is false. Official GetYourGuide groups: no_availability, not_enough_spots, invalid_request, others. Legacy responses may also include sold_out.",
            "example": "not_enough_spots"
          },
          "minParticipants": {
            "type": "integer",
            "description": "Minimum participants required for this slot; present even when unavailable.",
            "example": 1
          },
          "maxParticipants": {
            "type": "integer",
            "description": "Maximum participants allowed for this slot.",
            "example": 15
          },
          "pricing": {
            "$ref": "#/components/schemas/ExperienceSlotPricing"
          }
        }
      },
      "BookingOptionsRequest": {
        "type": "object",
        "required": [
          "language",
          "currency",
          "date",
          "participants"
        ],
        "properties": {
          "language": {
            "type": "string",
            "description": "ISO language code for localized content.",
            "example": "en"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code for prices.",
            "example": "EUR"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Tour date to price, `YYYY-MM-DD`.",
            "example": "2026-07-18"
          },
          "participants": {
            "type": "object",
            "description": "Participant counts keyed by ticket category (age band), e.g. `adult`, `child`. Keys are lowercase and must match a `ticketCategory` returned by `GET /experiences/tours/{id}/availability` for this tour. An array (e.g. `[{\"category\":\"adult\",\"count\":2}]`) is rejected, and uppercase keys (e.g. `ADULT`) are rejected - use the exact lowercase category strings from availability.",
            "additionalProperties": {
              "type": "integer",
              "minimum": 1,
              "description": "Number of participants in this category."
            },
            "example": {
              "adult": 2,
              "child": 1
            }
          },
          "addons": {
            "type": "array",
            "description": "Optional add-ons to price alongside the tour, from `GET .../availability` `addons[].id`.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "quantity"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 10
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "example": 1
                }
              }
            }
          }
        }
      },
      "TourCoordinatesResponse": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "format": "double",
            "example": 48.8584
          },
          "long": {
            "type": "number",
            "format": "double",
            "example": 2.2945
          }
        }
      },
      "TourPictureResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.example.com/tour-903304-1.jpg"
          },
          "verified": {
            "type": "boolean",
            "example": true
          },
          "copyright": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TourDealSummaryResponse": {
        "type": "object",
        "description": "Present only when a promotional deal applies to the tour's from-price.",
        "properties": {
          "originalPrice": {
            "type": "number",
            "example": 56.9
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          },
          "percentage": {
            "type": "number",
            "description": "Discount percentage, e.g. 20 for 20% off.",
            "example": 20
          },
          "dateRange": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "end": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          }
        }
      },
      "TourPriceResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "example": 45.5
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          },
          "dealSummary": {
            "$ref": "#/components/schemas/TourDealSummaryResponse"
          }
        }
      },
      "TourCategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 12
          },
          "name": {
            "type": "string",
            "example": "Sightseeing"
          }
        }
      },
      "TourLocationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "type": {
            "type": "string",
            "example": "city"
          },
          "name": {
            "type": "string",
            "example": "Paris"
          },
          "city": {
            "type": "string",
            "example": "Paris"
          },
          "country": {
            "type": "string",
            "example": "FR"
          },
          "coordinates": {
            "$ref": "#/components/schemas/TourCoordinatesResponse"
          },
          "parentId": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "TourDurationResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "example": 2
          },
          "unit": {
            "type": "string",
            "example": "hours"
          }
        }
      },
      "TourOpeningHoursResponse": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "example": "09:00"
          },
          "to": {
            "type": "string",
            "example": "18:00"
          }
        }
      },
      "TourCancellationPolicyResponse": {
        "type": "object",
        "properties": {
          "cancellable": {
            "type": "boolean",
            "example": true
          },
          "description": {
            "type": "string",
            "example": "Free cancellation up to 24 hours before the experience starts"
          },
          "cancellationFeeUnitFeeUnit": {
            "type": "string",
            "example": "percent"
          },
          "cancellationFeeUnitFeeValue": {
            "type": "number",
            "example": 100
          },
          "cancellationFeeUnitOffsetMin": {
            "type": "integer",
            "description": "Minutes before start time the fee schedule above applies.",
            "example": 1440
          },
          "refundable": {
            "type": "boolean",
            "example": true
          },
          "partlyRefundable": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "TourItineraryItemDurationResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "nullable": true,
            "example": 45
          },
          "unit": {
            "type": "string",
            "nullable": true,
            "example": "minutes"
          }
        }
      },
      "TourItineraryItemLocationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Eiffel Tower"
          },
          "coordinates": {
            "$ref": "#/components/schemas/TourCoordinatesResponse"
          }
        }
      },
      "TourItineraryItemResponse": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Itinerary stop/segment type, e.g. `stop`, `transfer`, `break`.",
            "example": "stop"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Eiffel Tower"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Skip-the-line entry"
          },
          "startTime": {
            "type": "string",
            "nullable": true,
            "example": "07:00"
          },
          "duration": {
            "$ref": "#/components/schemas/TourItineraryItemDurationResponse"
          },
          "location": {
            "$ref": "#/components/schemas/TourItineraryItemLocationResponse"
          },
          "optional": {
            "type": "boolean",
            "nullable": true
          },
          "extraCost": {
            "type": "boolean",
            "nullable": true
          },
          "entryIncluded": {
            "type": "boolean",
            "nullable": true
          },
          "mealType": {
            "type": "string",
            "nullable": true
          },
          "transportationType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TourItineraryResponse": {
        "type": "object",
        "description": "One day (or the only day) of a structured itinerary. Empty `itineraries` on the tour means the provider has no structured itinerary data.",
        "properties": {
          "dayNumber": {
            "type": "integer",
            "nullable": true,
            "example": 1
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Morning tour"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourItineraryItemResponse"
            }
          }
        }
      },
      "TourBaseResponse": {
        "type": "object",
        "description": "Shared tour fields returned by both search listings and the detail endpoint.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 903304
          },
          "title": {
            "type": "string",
            "example": "Skip-the-line morning tour"
          },
          "description": {
            "type": "string",
            "example": "A guided morning tour with skip-the-line access."
          },
          "placeDetails": {
            "type": "string",
            "example": "Meet at the main entrance."
          },
          "additionalInfo": {
            "type": "string",
            "example": "Not wheelchair accessible."
          },
          "itemsToBring": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Comfortable shoes"
            ]
          },
          "notAllowedItems": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Large backpacks"
            ]
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "likely_to_sell_out"
            ]
          },
          "hasPickUp": {
            "type": "boolean",
            "example": true
          },
          "overallRating": {
            "type": "number",
            "example": 4.7
          },
          "numberOfRatings": {
            "type": "integer",
            "example": 1523
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Skip the line",
              "Expert local guide"
            ]
          },
          "included": {
            "type": "string",
            "example": "Entry ticket, guided tour"
          },
          "excluded": {
            "type": "string",
            "example": "Hotel pickup, gratuities"
          },
          "pictures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourPictureResponse"
            }
          },
          "coordinates": {
            "$ref": "#/components/schemas/TourCoordinatesResponse"
          },
          "price": {
            "$ref": "#/components/schemas/TourPriceResponse"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourCategoryResponse"
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourLocationResponse"
            }
          },
          "availableLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "en",
              "fr"
            ]
          },
          "translationLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "en",
              "fr",
              "es"
            ]
          },
          "guideType": {
            "type": "string",
            "enum": [
              "none",
              "live_guide",
              "audio_guide",
              "driver",
              "host_or_greeter",
              "instructor"
            ],
            "example": "live_guide"
          },
          "mobileVoucher": {
            "type": "boolean",
            "example": true
          },
          "freeSale": {
            "type": "boolean",
            "example": false
          },
          "activityType": {
            "type": "string",
            "example": "tour"
          },
          "partnerBusinessCategory": {
            "type": "string",
            "example": "attraction"
          },
          "priceDescription": {
            "type": "string",
            "example": "per person"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://provider.example.com/tour/903304"
          },
          "durations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourDurationResponse"
            }
          },
          "openingHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourOpeningHoursResponse"
            }
          },
          "cancellationPolicy": {
            "$ref": "#/components/schemas/TourCancellationPolicyResponse"
          }
        }
      },
      "TourSummaryResponse": {
        "description": "Tour listing as returned by tour search. The list mapper collapses `notSuitableFor` to a single string. Use `GET /experiences/tours/{id}` for the full detail payload including `itineraries`.",
        "allOf": [
          {
            "$ref": "#/components/schemas/TourBaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "notSuitableFor": {
                "type": "string",
                "description": "First suitability restriction from the provider, collapsed to a single string by the list mapper.",
                "example": "Guests with mobility impairments"
              }
            }
          }
        ]
      },
      "TourDetailResponse": {
        "description": "Full tour detail including structured itineraries.",
        "allOf": [
          {
            "$ref": "#/components/schemas/TourBaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "notSuitableFor": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Individual suitability restrictions from the provider.",
                "example": [
                  "Guests with mobility impairments",
                  "Pregnant travelers"
                ]
              },
              "itineraries": {
                "type": "array",
                "description": "Ordered structured itinerary. Empty when the provider has no structured itinerary data.",
                "items": {
                  "$ref": "#/components/schemas/TourItineraryResponse"
                }
              }
            }
          }
        ]
      },
      "ToursMetaResponse": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "example": 102845
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "ToursListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ToursMetaResponse"
          },
          "tours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourSummaryResponse"
            }
          }
        }
      },
      "ToursListEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ToursListResponse"
          }
        }
      },
      "TourDetailEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TourDetailResponse"
          }
        }
      },
      "AvailabilityParticipantsRangeResponse": {
        "type": "object",
        "properties": {
          "min": {
            "type": "integer",
            "example": 1
          },
          "max": {
            "type": "integer",
            "example": 15
          }
        }
      },
      "AvailabilityAgeRangeResponse": {
        "type": "object",
        "properties": {
          "min": {
            "type": "integer",
            "example": 18
          },
          "max": {
            "type": "integer",
            "example": 99
          }
        }
      },
      "AvailabilityTicketCategoryResponse": {
        "type": "object",
        "properties": {
          "ticketCategory": {
            "type": "string",
            "description": "Key to use in `booking-options` `participants`.",
            "example": "adult"
          },
          "name": {
            "type": "string",
            "example": "Adult"
          },
          "ageRange": {
            "$ref": "#/components/schemas/AvailabilityAgeRangeResponse"
          },
          "independentlyBookable": {
            "type": "boolean",
            "description": "Whether this category can be booked without an adult present.",
            "example": true
          }
        }
      },
      "AvailabilityAddonResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 10
          },
          "name": {
            "type": "string",
            "example": "Audio guide"
          },
          "maxQuantity": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "AvailabilityDateResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-07-18"
          },
          "hasDeal": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "TourAvailabilityResponse": {
        "type": "object",
        "properties": {
          "tourId": {
            "type": "integer",
            "example": 903304
          },
          "participantsRange": {
            "$ref": "#/components/schemas/AvailabilityParticipantsRangeResponse"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityTicketCategoryResponse"
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityAddonResponse"
            }
          },
          "availableDates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityDateResponse"
            }
          },
          "updateTimestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-01T12:00:00Z"
          }
        }
      },
      "TourAvailabilityEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TourAvailabilityResponse"
          }
        }
      },
      "TourReviewRatingBreakdownResponse": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "integer",
            "example": 5
          },
          "numberOfReviews": {
            "type": "integer",
            "example": 1200
          },
          "share": {
            "type": "number",
            "description": "Fraction of total reviews at this rating, 0-1.",
            "example": 0.79
          }
        }
      },
      "TourReviewsSummaryResponse": {
        "type": "object",
        "properties": {
          "ratingBreakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourReviewRatingBreakdownResponse"
            }
          }
        }
      },
      "TourReviewItemResponse": {
        "type": "object",
        "properties": {
          "reviewId": {
            "type": "integer",
            "example": 55123
          },
          "reviewDate": {
            "type": "string",
            "format": "date",
            "example": "2026-06-02"
          },
          "subject": {
            "type": "string",
            "example": "Amazing experience"
          },
          "comment": {
            "type": "string",
            "example": "Our guide was fantastic and skip-the-line saved us hours."
          },
          "reviewerDisplayName": {
            "type": "string",
            "example": "Jane D."
          },
          "reviewRating": {
            "type": "number",
            "example": 5
          }
        }
      },
      "TourReviewsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ToursMetaResponse"
          },
          "summary": {
            "$ref": "#/components/schemas/TourReviewsSummaryResponse"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TourReviewItemResponse"
            }
          }
        }
      },
      "TourReviewsEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TourReviewsResponse"
          }
        }
      },
      "ExperienceCancellationRefundResponse": {
        "type": "object",
        "properties": {
          "cancellationFee": {
            "type": "number",
            "example": 0
          },
          "refundAmount": {
            "type": "number",
            "example": 45.5
          },
          "refundType": {
            "type": "string",
            "example": "full"
          },
          "estimateConfidence": {
            "type": "string",
            "example": "high"
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          },
          "sellingPrice": {
            "type": "number",
            "example": 45.5
          }
        }
      },
      "ExperienceCancelPreviewData": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string",
            "example": "444fe833-a84e-49b4-ae9f-b032c8619419"
          },
          "cancellable": {
            "type": "boolean",
            "example": true
          },
          "policy": {
            "$ref": "#/components/schemas/ExperienceCancellationRefundResponse"
          }
        }
      },
      "ExperienceCancelPreviewEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ExperienceCancelPreviewData"
          }
        }
      },
      "ExperienceCancelData": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string",
            "example": "444fe833-a84e-49b4-ae9f-b032c8619419"
          },
          "status": {
            "type": "string",
            "example": "cancelled"
          },
          "providerStatus": {
            "type": "string",
            "nullable": true,
            "example": "CANCELLED"
          },
          "refundPending": {
            "type": "boolean",
            "nullable": true,
            "example": true
          },
          "refund": {
            "$ref": "#/components/schemas/ExperienceCancellationRefundResponse"
          }
        }
      },
      "ExperienceCancelEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ExperienceCancelData"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "relayedValidationError": {
                "summary": "Relayed from experiences-api (e.g. malformed booking-options request)",
                "value": {
                  "error": {
                    "code": 400,
                    "message": "bad request",
                    "description": "participants must be an object containing participant counts by age band, e.g. {\"adult\": 2}"
                  }
                }
              },
              "missingRequiredField": {
                "summary": "Dispatcher-level required-field validation",
                "value": {
                  "error": {
                    "code": 4002,
                    "message": "required request field is missing or wrong input",
                    "description": "field 'Currency' is required",
                    "key": "bodyRequest.currency"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Experiences access is not enabled for this account",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Failed to reach the experiences provider",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Request body exceeds the 1 MiB limit",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PrebookBadRequest": {
        "description": "Invalid prebook request or canonical booking validation error relayed from experiences-api.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missingSelectionPrice": {
                "summary": "Missing required field (selection.price.amount)",
                "value": {
                  "error": {
                    "code": 4002,
                    "message": "required request field is missing or wrong input",
                    "description": "field 'Amount' is required",
                    "key": "bodyRequest.selection.price.amount"
                  }
                }
              },
              "usePaymentSdkRequired": {
                "summary": "Phase 1 requires usePaymentSdk: true",
                "value": {
                  "error": {
                    "code": 4002,
                    "message": "required request field is missing or wrong input",
                    "description": "usePaymentSdk must be true for Stripe checkout",
                    "key": "bodyRequest.usePaymentSdk"
                  }
                }
              },
              "malformedJson": {
                "summary": "Malformed JSON body",
                "value": {
                  "error": {
                    "code": 4002,
                    "message": "required request field is missing or wrong input",
                    "description": "invalid request body format",
                    "key": "bodyRequest"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/experiences/tours": {
      "get": {
        "operationId": "searchExperienceTours",
        "summary": "Search tours",
        "description": "## Overview\n\nSearch available tours and activities with localized content and prices in your chosen currency.\n\n## When to Use\n\n- **Search results** - Populate a tours listing or map view\n- **Destination pages** - Show activities available in a city or region\n- **Category browsing** - Filter tours by type, duration, or rating\n\n## What You Get\n\n- **Tour listings** - Titles, descriptions, images, and ratings\n- **Localized content** - Names and descriptions in the requested language\n- **Prices** - Amounts in the requested currency\n\n## Quick Start\n\nProvide required `language` and `currency` query parameters. Returns a paginated list of matching tours.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/currency"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToursListEnvelope"
                },
                "example": {
                  "data": {
                    "meta": {
                      "totalCount": 102845,
                      "limit": 20,
                      "offset": 0
                    },
                    "tours": [
                      {
                        "id": 903304,
                        "title": "Skip-the-line morning tour",
                        "description": "A guided morning tour with skip-the-line access.",
                        "placeDetails": "Meet at the main entrance.",
                        "additionalInfo": "Not wheelchair accessible.",
                        "itemsToBring": [
                          "Comfortable shoes"
                        ],
                        "notAllowedItems": [
                          "Large backpacks"
                        ],
                        "notSuitableFor": "Guests with mobility impairments",
                        "badges": [
                          "likely_to_sell_out"
                        ],
                        "hasPickUp": true,
                        "overallRating": 4.7,
                        "numberOfRatings": 1523,
                        "highlights": [
                          "Skip the line",
                          "Expert local guide"
                        ],
                        "included": "Entry ticket, guided tour",
                        "excluded": "Hotel pickup, gratuities",
                        "pictures": [
                          {
                            "id": 1,
                            "url": "https://cdn.example.com/tour-903304-1.jpg",
                            "verified": true
                          }
                        ],
                        "coordinates": {
                          "lat": 48.8584,
                          "long": 2.2945
                        },
                        "price": {
                          "amount": 45.5,
                          "currency": "EUR"
                        },
                        "categories": [
                          {
                            "id": 12,
                            "name": "Sightseeing"
                          }
                        ],
                        "locations": [
                          {
                            "id": 1,
                            "type": "city",
                            "name": "Paris",
                            "city": "Paris",
                            "country": "FR",
                            "coordinates": {
                              "lat": 48.8566,
                              "long": 2.3522
                            },
                            "parentId": 0
                          }
                        ],
                        "availableLanguages": [
                          "en",
                          "fr"
                        ],
                        "translationLanguages": [
                          "en",
                          "fr",
                          "es"
                        ],
                        "guideType": "live_guide",
                        "mobileVoucher": true,
                        "freeSale": false,
                        "activityType": "tour",
                        "partnerBusinessCategory": "attraction",
                        "priceDescription": "per person",
                        "sourceUrl": "https://provider.example.com/tour/903304",
                        "durations": [
                          {
                            "value": 2,
                            "unit": "hours"
                          }
                        ],
                        "openingHours": [
                          {
                            "from": "09:00",
                            "to": "18:00"
                          }
                        ],
                        "cancellationPolicy": {
                          "cancellable": true,
                          "description": "Free cancellation up to 24 hours before the experience starts",
                          "cancellationFeeUnitFeeUnit": "percent",
                          "cancellationFeeUnitFeeValue": 100,
                          "cancellationFeeUnitOffsetMin": 1440,
                          "refundable": true,
                          "partlyRefundable": false
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/tours/{id}": {
      "get": {
        "operationId": "getExperienceTour",
        "summary": "Get tour details",
        "description": "## Overview\n\nRetrieve full details for a specific tour, including description, media, inclusions, pricing context, and structured itineraries when available.\n\n## When to Use\n\n- **Product pages** - Display a tour detail view before the user selects dates\n- **Comparison** - Show full metadata when comparing activities\n- **Content enrichment** - Fetch descriptions and images for marketing surfaces\n\n## What You Get\n\n- **Complete tour profile** - Title, description, duration, and highlights\n- **Media** - Images and cover assets\n- **Practical info** - Meeting points, cancellation policy, and inclusions\n- **Structured itineraries** - Ordered days/items (`itineraries`) when the provider supplies them. `locations` are importance-ordered tags, not itinerary order.\n- **Localized pricing** - Prices in the requested currency\n\n## Quick Start\n\nProvide the tour `id` in the URL path plus required `language` and `currency` query parameters.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tourId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Tour detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourDetailEnvelope"
                },
                "example": {
                  "data": {
                    "id": 903304,
                    "title": "Skip-the-line morning tour",
                    "description": "A guided morning tour with skip-the-line access.",
                    "placeDetails": "Meet at the main entrance.",
                    "additionalInfo": "Not wheelchair accessible.",
                    "itemsToBring": [
                      "Comfortable shoes"
                    ],
                    "notAllowedItems": [
                      "Large backpacks"
                    ],
                    "notSuitableFor": [
                      "Guests with mobility impairments",
                      "Pregnant travelers"
                    ],
                    "badges": [
                      "likely_to_sell_out"
                    ],
                    "hasPickUp": true,
                    "overallRating": 4.7,
                    "numberOfRatings": 1523,
                    "highlights": [
                      "Skip the line",
                      "Expert local guide"
                    ],
                    "included": "Entry ticket, guided tour",
                    "excluded": "Hotel pickup, gratuities",
                    "pictures": [
                      {
                        "id": 1,
                        "url": "https://cdn.example.com/tour-903304-1.jpg",
                        "verified": true
                      }
                    ],
                    "coordinates": {
                      "lat": 48.8584,
                      "long": 2.2945
                    },
                    "price": {
                      "amount": 45.5,
                      "currency": "EUR"
                    },
                    "categories": [
                      {
                        "id": 12,
                        "name": "Sightseeing"
                      }
                    ],
                    "locations": [
                      {
                        "id": 1,
                        "type": "city",
                        "name": "Paris",
                        "city": "Paris",
                        "country": "FR",
                        "coordinates": {
                          "lat": 48.8566,
                          "long": 2.3522
                        },
                        "parentId": 0
                      }
                    ],
                    "availableLanguages": [
                      "en",
                      "fr"
                    ],
                    "translationLanguages": [
                      "en",
                      "fr",
                      "es"
                    ],
                    "guideType": "live_guide",
                    "mobileVoucher": true,
                    "freeSale": false,
                    "activityType": "tour",
                    "partnerBusinessCategory": "attraction",
                    "priceDescription": "per person",
                    "sourceUrl": "https://provider.example.com/tour/903304",
                    "durations": [
                      {
                        "value": 2,
                        "unit": "hours"
                      }
                    ],
                    "openingHours": [
                      {
                        "from": "09:00",
                        "to": "18:00"
                      }
                    ],
                    "cancellationPolicy": {
                      "cancellable": true,
                      "description": "Free cancellation up to 24 hours before the experience starts",
                      "cancellationFeeUnitFeeUnit": "percent",
                      "cancellationFeeUnitFeeValue": 100,
                      "cancellationFeeUnitOffsetMin": 1440,
                      "refundable": true,
                      "partlyRefundable": false
                    },
                    "itineraries": [
                      {
                        "dayNumber": 1,
                        "title": "Morning tour",
                        "items": [
                          {
                            "type": "stop",
                            "title": "Eiffel Tower",
                            "description": "Skip-the-line entry",
                            "startTime": "07:00",
                            "duration": {
                              "value": 45,
                              "unit": "minutes"
                            },
                            "location": {
                              "name": "Eiffel Tower",
                              "coordinates": {
                                "lat": 48.8584,
                                "long": 2.2945
                              }
                            },
                            "optional": false,
                            "extraCost": false,
                            "entryIncluded": true,
                            "mealType": null,
                            "transportationType": null
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/tours/{id}/availability": {
      "get": {
        "operationId": "getExperienceTourAvailability",
        "summary": "Get tour availability",
        "description": "## Overview\n\nRetrieve available dates and time slots for a specific tour so users can pick when to attend.\n\n## When to Use\n\n- **Date pickers** - Populate a calendar or slot selector on the tour page\n- **Availability checks** - Confirm a tour runs on the user's travel dates\n- **Booking flow** - Gate the checkout path until a valid slot is selected\n\n## What You Get\n\n- **Available dates** - Days the tour can be booked\n- **Time slots** - Start times per date where applicable\n- **Capacity hints** - Whether slots are still bookable\n\n## Quick Start\n\nProvide the tour `id` in the URL path and the required `language` query parameter.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tourId"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Tour availability, participant ranges, and add-ons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourAvailabilityEnvelope"
                },
                "example": {
                  "data": {
                    "tourId": 903304,
                    "participantsRange": {
                      "min": 1,
                      "max": 15
                    },
                    "categories": [
                      {
                        "ticketCategory": "adult",
                        "name": "Adult",
                        "ageRange": {
                          "min": 18,
                          "max": 99
                        },
                        "independentlyBookable": true
                      },
                      {
                        "ticketCategory": "child",
                        "name": "Child",
                        "ageRange": {
                          "min": 3,
                          "max": 17
                        },
                        "independentlyBookable": false
                      }
                    ],
                    "addons": [
                      {
                        "id": 10,
                        "name": "Audio guide",
                        "maxQuantity": 5
                      }
                    ],
                    "availableDates": [
                      {
                        "date": "2026-07-18",
                        "hasDeal": false
                      },
                      {
                        "date": "2026-07-19",
                        "hasDeal": true
                      }
                    ],
                    "updateTimestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/tours/{id}/reviews": {
      "get": {
        "operationId": "getExperienceTourReviews",
        "summary": "Get tour reviews",
        "description": "## Overview\n\nRetrieve normalized guest reviews and ratings for a specific tour.\n\n## When to Use\n\n- **Review sections** - Display guest feedback on tour detail pages\n- **Trust building** - Show authentic ratings before booking\n- **Decision support** - Help users evaluate tours before selecting dates\n\n## What You Get\n\n- **Guest reviews** - Review text, ratings, and dates\n- **Pagination** - `limit` and `offset` query parameters\n- **Localized content** - Reviews in the requested language where available\n\n## Quick Start\n\nProvide the tour `id` in the URL path plus required `language` and `currency` query parameters.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tourId"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Tour reviews with rating summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourReviewsEnvelope"
                },
                "example": {
                  "data": {
                    "meta": {
                      "totalCount": 1523,
                      "limit": 20,
                      "offset": 0
                    },
                    "summary": {
                      "ratingBreakdown": [
                        {
                          "rating": 5,
                          "numberOfReviews": 1200,
                          "share": 0.79
                        },
                        {
                          "rating": 4,
                          "numberOfReviews": 250,
                          "share": 0.16
                        }
                      ]
                    },
                    "items": [
                      {
                        "reviewId": 55123,
                        "reviewDate": "2026-06-02",
                        "subject": "Amazing experience",
                        "comment": "Our guide was fantastic and skip-the-line saved us hours.",
                        "reviewerDisplayName": "Jane D.",
                        "reviewRating": 5
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/tours/{id}/booking-options": {
      "post": {
        "operationId": "getExperienceTourBookingOptions",
        "summary": "Get merged booking options",
        "description": "## Overview\n\nResolve priced booking options, time slots, and required guest inputs for a selected tour date and participant mix.\n\n## When to Use\n\n- **Option/slot pickers** - Show available variants and start times for a date\n- **Live pricing** - Display authoritative slot sell totals (`pricing.totals.net` / `priceSummary.netPrice`)\n- **Checkout forms** - Collect `bookingQuestionSchema` before proceeding to payment\n\n## What You Get\n\n- **Booking options** - `optionId`, title, and `bookingQuestionSchema`\n- **Time slots** - `dateTime`, `isAvailable`, and slot-level pricing (`unitNet` / `totalNet` / `totals.net` / `priceSummary.netPrice`, plus `totals.commission` when markup applies)\n- **Participant mapping** - Uses `ticketCategory` keys from availability (e.g. `adult`, `child`)\n\n## Money semantics\n\nField names keep `*Net` from experiences-api; dispatcher marks commercial net up **in place** to partner sell. Use `slots[].pricing.totals.net` as `selection.price.amount` on prebook.\n\n## Quick Start\n\nPOST a body with `language`, `currency`, `date` (`YYYY-MM-DD`), and `participants` to `/experiences/tours/{id}/booking-options`. Use slot `pricing.totals.net` for display and checkout handoff.\n\n## Option-level `price`\n\n`options[].price.amount` is overwritten from the lowest available slot `pricing.totals.net` for the requested mix (after markup). It is not the GYG catalog from-price. Checkout still uses the chosen slot `pricing.totals.net`.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tourId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingOptionsRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Two adults, one child",
                  "value": {
                    "language": "en",
                    "currency": "EUR",
                    "date": "2026-07-18",
                    "participants": {
                      "adult": 2,
                      "child": 1
                    }
                  }
                },
                "withAddons": {
                  "summary": "With an add-on",
                  "value": {
                    "language": "en",
                    "currency": "EUR",
                    "date": "2026-07-18",
                    "participants": {
                      "adult": 2
                    },
                    "addons": [
                      {
                        "id": 10,
                        "quantity": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking options with canonical bookingQuestionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingOptionsEnvelope"
                },
                "example": {
                  "data": {
                    "tourId": 903304,
                    "date": "2026-07-18",
                    "currency": "EUR",
                    "options": [
                      {
                        "optionId": 1416025,
                        "tourId": 903304,
                        "title": "Skip-the-line morning tour",
                        "bookingQuestionSchema": [],
                        "slots": [
                          {
                            "dateTime": "2026-07-18T07:00:00",
                            "vacancies": 12,
                            "isAvailable": true,
                            "pricing": {
                              "participants": [
                                {
                                  "ticketCategoryId": 1,
                                  "ticketCategory": "adult",
                                  "quantity": 2,
                                  "unitNet": 48.87,
                                  "totalNet": 97.74,
                                  "currency": "EUR"
                                }
                              ],
                              "groups": [],
                              "addons": [],
                              "priceSummary": {
                                "netPrice": 101.25,
                                "currency": "EUR"
                              },
                              "totals": {
                                "net": 101.25,
                                "commission": 7.5,
                                "currency": "EUR"
                              }
                            }
                          }
                        ],
                        "price": {
                          "amount": 101.25,
                          "currency": "EUR"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/tours/{id}/prebooks": {
      "post": {
        "operationId": "prebookExperienceTour",
        "summary": "Create experience prebook (validate + Stripe intent)",
        "description": "## Overview\n\nCreate a temporary hold on the selected tour slot and a Stripe PaymentIntent for checkout.\n\n## When to Use\n\n- **Checkout start** — After the user picks option, slot, and participants from booking-options\n- **Payment setup** — Obtain `transactionId` and `secretKey` for Stripe SDK confirmation\n- **Hold window** — Reserve inventory for ~10 minutes before book\n\n## What You Get\n\n- **Checkout context** — `tourId`, `optionId`, `dateTime`, `language`, `participants`, and pricing echoed back\n- **Provider refs** — `cartId`, `experienceBookingId`, `providerBookingId`, `status`, `reservationExpiresAt`\n- **Stripe fields** — `transactionId`, `secretKey`, `paymentTypes: [\"TRANSACTION_ID\"]`\n\n## Quick Start\n\nPOST the same `selection` used for display pricing from booking-options with `usePaymentSdk: true`. Confirm payment with Stripe, then call `POST /experiences/bookings`.",
        "tags": [
          "Experiences"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tourId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperiencePrebookRequest"
              },
              "examples": {
                "valid": {
                  "summary": "Valid prebook request",
                  "value": {
                    "selection": {
                      "optionId": 1416025,
                      "dateTime": "2026-07-18T07:00:00",
                      "price": {
                        "amount": 45.5,
                        "currency": "EUR"
                      },
                      "participants": [
                        {
                          "ticketCategory": "adult",
                          "numberOfParticipants": 2
                        }
                      ]
                    },
                    "language": "en",
                    "currency": "EUR",
                    "clientReferenceId": "partner-ref-1",
                    "usePaymentSdk": true
                  }
                },
                "missingSelectionPrice": {
                  "summary": "Invalid: selection.price omitted — returns 400 PrebookBadRequest",
                  "value": {
                    "selection": {
                      "optionId": 1416025,
                      "dateTime": "2026-07-18T07:00:00Z",
                      "participants": [
                        {
                          "ticketCategory": "adult",
                          "numberOfParticipants": 2
                        }
                      ]
                    },
                    "language": "en",
                    "currency": "EUR",
                    "clientReferenceId": "partner-ref-1",
                    "usePaymentSdk": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prebook created with selection context, validate refs, and Stripe checkout fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperiencePrebookResponse"
                },
                "example": {
                  "data": {
                    "prebookId": "tJHcT_KHA",
                    "tourId": 903304,
                    "optionId": 1416025,
                    "dateTime": "2026-07-18T07:00:00",
                    "language": "en",
                    "clientReferenceId": "partner-ref-1",
                    "participants": [
                      {
                        "ticketCategory": "adult",
                        "numberOfParticipants": 2
                      }
                    ],
                    "price": 45.5,
                    "commission": 3.64,
                    "clientCommission": 3.64,
                    "currency": "EUR",
                    "cartId": "S82SPCWONTFLXI77Z4D66BZKI8S6ROZC",
                    "experienceBookingId": "444fe833-a84e-49b4-ae9f-b032c8619419",
                    "providerBookingId": "GC0915TB2VJT9CVM643S9OLYBEDDYBOL",
                    "status": "temp",
                    "transactionId": "tr_cts_test",
                    "secretKey": "pi_secret_test",
                    "reservationExpiresAt": "2026-07-13T08:30:00Z",
                    "paymentTypes": [
                      "TRANSACTION_ID"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PrebookBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/experiences/bookings": {
      "post": {
        "operationId": "createExperienceBooking",
        "summary": "Confirm experience booking (capture + book cart)",
        "description": "Capture Stripe payment then confirm cart with experiences-api. Cart status `completed` maps to dispatcher `PENDING_CONFIRMATION`; final `CONFIRMED` arrives via webhook. Cart status `ERROR` returns 502.\n\nPublic booking responses expose partner **sell** in `price` and partner earn in `commission` / `clientCommission`. Provider retail / invoice (`providerPayment`) is omitted.",
        "tags": [
          "Experiences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperienceBookingRequest"
              },
              "example": {
                "prebookId": "tJHcT_KHA",
                "billing": {
                  "firstName": "Jane",
                  "lastName": "Doe",
                  "email": "jane.doe@example.com",
                  "phoneNumber": "+33123456789",
                  "countryCode": "FR"
                },
                "traveler": {
                  "firstName": "Jane",
                  "lastName": "Doe",
                  "email": "jane.doe@example.com",
                  "phoneNumber": "+33123456789"
                },
[...]
