{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Flights",
    "version": "3.0.0",
    "description": "The Flights API provides endpoints for searching flights, managing bookings, and accessing static flight data including airlines and airports."
  },
  "servers": [
    {
      "url": "https://api.liteapi.travel/v3.0"
    }
  ],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header"
      }
    },
    "schemas": {
      "Airline": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether the airline is currently active"
          },
          "alliance": {
            "type": "string",
            "description": "Airline alliance membership (star_alliance, oneworld, skyteam, vanilla_alliance)"
          },
          "callsign": {
            "type": "string",
            "description": "Airline callsign"
          },
          "country": {
            "type": "string",
            "description": "Country of origin"
          },
          "iata": {
            "type": "string",
            "description": "2-letter IATA airline code"
          },
          "icao": {
            "type": "string",
            "description": "3-letter ICAO airline code"
          },
          "logo": {
            "type": "string",
            "description": "URL to airline logo"
          },
          "name": {
            "type": "string",
            "description": "Airline name"
          }
        },
        "description": "Full airline details including name, codes, alliance, and logo"
      },
      "AirlineIATA": {
        "type": "object",
        "properties": {
          "iata": {
            "type": "string",
            "description": "2-letter IATA airline code"
          },
          "name": {
            "type": "string",
            "description": "Airline name"
          }
        },
        "description": "Minimal airline representation with IATA code and name"
      },
      "Airport": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City name"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "iata": {
            "type": "string",
            "description": "3-letter IATA airport code"
          },
          "icao": {
            "type": "string",
            "description": "4-letter ICAO airport code"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "name": {
            "type": "string",
            "description": "Airport name"
          },
          "state": {
            "type": "string",
            "description": "State or province"
          },
          "tz": {
            "type": "string",
            "description": "Timezone (e.g., America/New_York)"
          }
        },
        "description": "Full airport details including location, codes, and timezone"
      },
      "AirportIATA": {
        "type": "object",
        "properties": {
          "iata": {
            "type": "string",
            "description": "3-letter IATA airport code"
          },
          "name": {
            "type": "string",
            "description": "Airport name"
          }
        },
        "description": "Minimal airport representation with IATA code and name"
      },
      "FlightSegment": {
        "type": "object",
        "properties": {
          "arrivalTime": {
            "type": "string",
            "description": "Arrival time (ISO 8601)"
          },
          "carrier": {
            "type": "object",
            "properties": {
              "marketingCode": {
                "type": "string",
                "description": "Marketing carrier IATA code"
              },
              "marketingLogo": {
                "type": "string",
                "description": "Marketing carrier logo path/URL"
              },
              "marketingName": {
                "type": "string",
                "description": "Marketing carrier name"
              },
              "operatingCode": {
                "type": "string",
                "description": "Operating carrier IATA code"
              },
              "operatingLogo": {
                "type": "string",
                "description": "Operating carrier logo path/URL"
              },
              "operatingName": {
                "type": "string",
                "description": "Operating carrier name"
              }
            },
            "description": "Marketing and operating carrier details for this segment"
          },
          "departureTime": {
            "type": "string",
            "description": "Departure time (ISO 8601)"
          },
          "destinationCode": {
            "type": "string",
            "description": "Destination IATA code"
          },
          "direction": {
            "type": "string",
            "description": "OUTBOUND or INBOUND"
          },
          "duration": {
            "type": "object",
            "properties": {
              "iso8601": {
                "type": "string",
                "description": "Duration in ISO 8601 format (e.g. PT7H45M)"
              },
              "minutes": {
                "type": "integer",
                "description": "Duration in minutes"
              }
            },
            "description": "Flight duration in ISO 8601 and minutes"
          },
          "flight": {
            "type": "object",
            "properties": {
              "marketingNumber": {
                "type": "string",
                "description": "Flight number as marketed to passengers"
              },
              "operatingNumber": {
                "type": "string",
                "description": "Flight number as operated by the carrier"
              }
            },
            "description": "Marketing and operating flight numbers"
          },
          "originCode": {
            "type": "string",
            "description": "Origin IATA code"
          },
          "originName": {
            "type": "string",
            "description": "Full name of the origin airport"
          },
          "destinationName": {
            "type": "string",
            "description": "Full name of the destination airport"
          },
          "segmentKey": {
            "type": "string",
            "description": "Unique identifier for this segment, used to link with offers, fares, and amenities"
          }
        },
        "description": "A single flight segment (one takeoff and landing) within a journey"
      },
      "FlightPrice": {
        "type": "object",
        "properties": {
          "base": {
            "type": "number",
            "description": "Base fare amount (before taxes and fees)"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "fees": {
            "type": "number",
            "description": "Service fees and surcharges"
          },
          "taxes": {
            "type": "number",
            "description": "Total taxes applied to the fare"
          },
          "total": {
            "type": "number",
            "description": "Total price (base + taxes + fees)"
          },
          "perPassenger": {
            "type": "object",
            "properties": {
              "adult": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each adult passenger"
              },
              "child": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each child passenger"
              },
              "infant": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each infant passenger"
              }
            },
            "description": "Price breakdown per passenger type"
          }
        },
        "description": "Full price breakdown including base fare, taxes, fees, and per-passenger amounts"
      },
      "FlightOffer": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "Unique offer identifier"
          },
          "expiration": {
            "type": "string",
            "description": "Offer expiration time (ISO 8601)"
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightOfferPricing",
            "description": "Pricing breakdown with FX conversion details"
          },
          "fare": {
            "type": "object",
            "properties": {
              "family": {
                "type": "string",
                "description": "Fare family name (e.g. Economy, Business, First)"
              },
              "mixedCabin": {
                "type": "boolean",
                "description": "True if outbound and inbound legs are in different cabin classes"
              },
              "seatsRemaining": {
                "type": "integer",
                "description": "Number of seats remaining at this fare"
              }
            },
            "description": "Fare class information"
          },
          "terms": {
            "type": "object",
            "properties": {
              "changeable": {
                "type": "boolean",
                "description": "True if the fare allows changes (rebooking)"
              },
              "refundable": {
                "type": "boolean",
                "description": "True if the fare is refundable"
              },
              "summary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string",
                      "description": "Severity: info, warning, or danger"
                    },
                    "message": {
                      "type": "string",
                      "description": "Policy message text (e.g. Non-refundable, Changes allowed with fee)"
                    }
                  }
                },
                "description": "Human-readable policy messages with severity levels"
              },
              "changeFee": {
                "$ref": "#/components/schemas/FlightFee",
                "description": "Change fee details; null when the provider does not publish a fee"
              },
              "refundFee": {
                "$ref": "#/components/schemas/FlightFee",
                "description": "Refund/cancellation fee details; null when the provider does not publish a fee"
              },
              "hasChangeFee": {
                "type": "boolean",
                "description": "True when the provider signalled that a change fee applies to the fare, even when the actual amount is not published in `changeFee`. Lets clients render a \"change fee applies — amount on request\" remark for fares where the rule is known but the monetary amount is not exposed (common for LCC content distributed via GDS, e.g. U2 / easyJet via Sabre). When `false` or absent, no change fee is known to apply."
              },
              "hasRefundFee": {
                "type": "boolean",
                "description": "True when the provider signalled that a refund/cancellation fee applies to the fare, even when the actual amount is not published in `refundFee`. Lets clients render a \"cancellation fee applies — amount on request\" remark for fares where the rule is known but the monetary amount is not exposed. When `false` or absent, no refund fee is known to apply."
              }
            },
            "description": "Booking terms and conditions for this offer"
          },
          "baggage": {
            "type": "object",
            "description": "Baggage policy for this offer",
            "properties": {
              "hasCarryOnBag": {
                "type": "boolean",
                "description": "Whether carry-on bag is included"
              },
              "hasCheckedBag": {
                "type": "boolean",
                "description": "Whether checked bag is included"
              },
              "included": {
                "type": "array",
                "description": "List of included baggage allowances",
                "items": {
                  "type": "object",
                  "properties": {
                    "bagType": {
                      "type": "string",
                      "enum": [
                        "cabin",
                        "checked"
                      ],
                      "description": "Type of bag"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable baggage description"
                    },
                    "passengerType": {
                      "type": "string",
                      "enum": [
                        "ADT",
                        "CHD",
                        "INF"
                      ],
                      "description": "Passenger type this allowance applies to"
                    },
                    "pieces": {
                      "type": "integer",
                      "description": "Number of pieces allowed"
                    },
                    "pricing": {
                      "$ref": "#/components/schemas/FlightItemPricing",
                      "description": "Cost if not free (amount 0 means included)"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Weight unit (e.g. kg)"
                    },
                    "weightKg": {
                      "type": "number",
                      "description": "Weight limit in kg"
                    }
                  }
                }
              }
            }
          },
          "segmentFares": {
            "type": "array",
            "description": "Per-segment fare details",
            "items": {
              "type": "object",
              "properties": {
                "bookingCode": {
                  "type": "string",
                  "description": "Booking/RBD class code (e.g. W, Y, J)"
                },
                "cabin": {
                  "type": "string",
                  "description": "Cabin class (e.g. Economy, Business, First)"
                },
                "fareBasisCode": {
                  "type": "string",
                  "description": "Fare basis code"
                },
                "fareFamily": {
                  "type": "string",
                  "description": "Fare family name"
                },
                "seatsRemaining": {
                  "type": "integer",
                  "description": "Number of seats remaining at this fare"
                },
                "segmentKey": {
                  "type": "string",
                  "description": "Links to the segment this fare applies to"
                }
              }
            }
          },
          "segmentAmenities": {
            "type": "array",
            "description": "Per-segment amenity data (each entry linked by segmentKey)",
            "items": {
              "$ref": "#/components/schemas/FlightSegmentAmenities"
            }
          }
        },
        "description": "A bookable offer for a journey, including pricing, baggage policy, fare details, and booking terms"
      },
      "FlightSegmentAmenities": {
        "type": "object",
        "description": "Amenities for a specific segment (linked by segmentKey)",
        "properties": {
          "aircraftType": {
            "type": "string",
            "description": "Aircraft model for this segment",
            "example": "Boeing 787-9"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities available on this segment",
            "items": {
              "$ref": "#/components/schemas/FlightAmenity"
            }
          },
          "segmentKey": {
            "type": "string",
            "description": "Links to the segment this amenities data belongs to (matches segment.segmentKey)",
            "example": "a3f2b1c9"
          }
        }
      },
      "FlightAmenity": {
        "type": "object",
        "description": "A single in-flight amenity for a segment",
        "properties": {
          "available": {
            "type": "boolean",
            "description": "Whether this amenity is offered on this segment",
            "example": true
          },
          "category": {
            "type": "string",
            "enum": [
              "wifi",
              "power",
              "entertainment",
              "food",
              "seat_comfort"
            ],
            "description": "Amenity category",
            "example": "wifi"
          },
          "chargeable": {
            "type": "boolean",
            "nullable": true,
            "description": "True if paid, False if free, null if unknown",
            "example": true
          },
          "details": {
            "type": "string",
            "nullable": true,
            "description": "Additional details (e.g. 'Streaming only', '34 inch pitch')",
            "example": "Available for purchase"
          },
          "name": {
            "type": "string",
            "description": "Human-readable amenity name",
            "example": "Wi-Fi"
          }
        }
      },
      "FlightJourney": {
        "type": "object",
        "properties": {
          "journeyKey": {
            "type": "string",
            "description": "Unique identifier for this journey (hash of route, flights, and times)"
          },
          "isCheapest": {
            "type": "boolean",
            "description": "True if this is the cheapest journey across all results"
          },
          "cheapestOffer": {
            "$ref": "#/components/schemas/FlightOffer",
            "description": "Quick reference to the lowest-priced offer for this journey"
          },
          "offers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightOffer"
            },
            "description": "All available provider offers for this journey, sorted by price ascending"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSegment"
            },
            "description": "Ordered list of flight segments that make up this journey"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "adults": {
                "type": "integer",
                "description": "Number of adult passengers"
              },
              "children": {
                "type": "integer",
                "description": "Number of child passengers"
              },
              "infants": {
                "type": "integer",
                "description": "Number of infant passengers"
              }
            },
            "description": "Passenger composition used in the search that produced this journey"
          },
          "timestamp": {
            "type": "string",
            "description": "UTC timestamp when this journey was retrieved from the provider"
          },
          "legDurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightLegDuration"
            },
            "description": "Per-direction elapsed times including layovers (outbound and/or inbound)"
          },
          "totalDuration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Total elapsed time from first departure to last arrival, including all layovers"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightConnection"
            },
            "description": "Layover details between consecutive segments"
          }
        },
        "description": "A complete journey (one or more segments) with all available offers"
      },
      "FlightDuration": {
        "type": "object",
        "properties": {
          "iso8601": {
            "type": "string",
            "example": "PT2H30M",
            "description": "Duration in ISO 8601 format (e.g. PT2H30M)"
          },
          "minutes": {
            "type": "integer",
            "example": 150,
            "description": "Duration in minutes"
          }
        },
        "description": "Duration expressed in both ISO 8601 format and minutes"
      },
      "FlightMatrixCell": {
        "type": "object",
        "description": "Cheapest-price summary for a single departure/return date combination.",
        "properties": {
          "outboundDate": {
            "type": "string",
            "format": "date",
            "description": "Departure date for this cell (YYYY-MM-DD).",
            "example": "2026-08-26"
          },
          "outboundOffset": {
            "type": "integer",
            "description": "Days from the requested departure date (-flexDays..+flexDays).",
            "example": 0
          },
          "returnDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Return date for this cell (YYYY-MM-DD). Null for one-way searches.",
            "example": "2026-09-03"
          },
          "returnOffset": {
            "type": "integer",
            "nullable": true,
            "description": "Days from the requested return date (-flexDays..+flexDays). Null for one-way searches.",
            "example": 0
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Cheapest display total for this date combination (includes rate-search margin). Null when no priced offer was found.",
            "example": 491.81
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 4217 currency of the cell price. Null when no priced offer was found.",
            "example": "EUR"
          },
          "success": {
            "type": "boolean",
            "description": "True when the underlying search returned at least one priced offer for this combination."
          },
          "cached": {
            "type": "boolean",
            "description": "True when the underlying search was served from cache."
          }
        }
      },
      "FlightMatrixData": {
        "type": "object",
        "description": "Flexible-date price matrix: cheapest fare per date combination around the requested dates.",
        "properties": {
          "baseOutboundDate": {
            "type": "string",
            "format": "date",
            "description": "The originally requested departure date (YYYY-MM-DD).",
            "example": "2026-08-26"
          },
          "baseReturnDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The originally requested return date. Null for one-way searches.",
            "example": "2026-09-03"
          },
          "cells": {
            "type": "array",
            "description": "One cell per valid date combination, sorted by (outboundOffset, returnOffset).",
            "items": {
              "$ref": "#/components/schemas/FlightMatrixCell"
            }
          },
          "cheapest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlightMatrixCell"
              }
            ],
            "nullable": true,
            "description": "The globally cheapest cell across the whole grid. Null when no cell was priced."
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 4217 currency of the global cheapest cell. Null when nothing was priced.",
            "example": "EUR"
          },
          "flexDays": {
            "type": "integer",
            "description": "Effective flexibility window applied (1-3).",
            "example": 3
          },
          "roundTrip": {
            "type": "boolean",
            "description": "True when the request was a round-trip (return dates vary across columns)."
          },
          "totalCells": {
            "type": "integer",
            "nullable": true,
            "description": "Total number of date combinations in the grid. Present on matrix-start SSE events; omitted from the non-streaming JSON response."
          }
        }
      },
      "FlightMatrixResponse": {
        "type": "object",
        "description": "Response for POST /flights/rates/matrix.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Matrix result sets (one element for this endpoint).",
            "items": {
              "$ref": "#/components/schemas/FlightMatrixData"
            }
          }
        }
      },
      "FlightLegDuration": {
        "type": "object",
        "properties": {
          "dayChange": {
            "type": "integer",
            "description": "Number of calendar days added crossing midnight (0 = same day arrival, 1 = next day, etc.)",
            "example": 1
          },
          "direction": {
            "type": "string",
            "enum": [
              "OUTBOUND",
              "INBOUND"
            ],
            "description": "Which leg this duration applies to",
            "example": "OUTBOUND"
          },
          "duration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Elapsed time for this leg including all layovers"
          },
          "overnightFlight": {
            "type": "boolean",
            "description": "True if the flight departs and arrives on different calendar days",
            "example": false
          }
        },
        "description": "Total elapsed time for one direction of a journey (outbound or inbound), including layovers"
      },
      "FlightMoneyAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        },
        "description": "A monetary amount with currency"
      },
      "FlightItemPricing": {
        "type": "object",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/FlightMoneyAmount",
            "description": "Customer-facing amount (converted to search currency if applicable)"
          },
          "converted": {
            "type": "boolean",
            "description": "True if FX currency conversion was applied"
          }
        },
        "description": "Pricing for an ancillary item (e.g. baggage)"
      },
      "FlightFee": {
        "type": "object",
        "nullable": true,
        "description": "Change or refund fee published by the provider. Null when the provider does not publish a fee.",
        "properties": {
          "pricing": {
            "type": "object",
            "nullable": true,
            "description": "Fee pricing; null when only a percentage is available",
            "properties": {
              "display": {
                "$ref": "#/components/schemas/FlightMoneyAmount",
                "description": "Customer-facing fee amount after FX conversion and margin"
              },
              "converted": {
                "type": "boolean",
                "description": "True when FX conversion was applied"
              }
            }
          },
          "percent": {
            "type": "number",
            "nullable": true,
            "description": "Fee as a percentage of the base fare (e.g. 100 = full penalty). May appear without pricing."
          },
          "applicability": {
            "type": "string",
            "enum": [
              "anytime",
              "noShow",
              "beforeDeparture",
              "afterDeparture"
            ],
            "description": "When the fee applies"
          },
          "label": {
            "type": "string",
            "description": "Human-readable fee description (e.g. 'Change fee (before departure)')"
          }
        }
      },
      "FlightBookedService": {
        "type": "object",
        "description": "Ancillary service (seat, baggage, etc.) that has been attached to a booking and confirmed by the provider. Returned under booking.bookedServices after /services or /bookings.",
        "required": [
          "serviceId",
          "pricing"
        ],
        "properties": {
          "serviceId": {
            "type": "string",
            "description": "Encoded service identifier (carries provider serviceId, post-margin price, currency, category)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable service name (e.g. 'Seat 1A')"
          },
          "category": {
            "type": "string",
            "description": "Service category (e.g. 'seat', 'baggage')"
          },
          "passengerType": {
            "type": "string",
            "description": "Applicable passenger type (ALL, ADT, CHD, INF)"
          },
          "passengerIndex": {
            "type": "integer",
            "description": "Index of the passenger this service applies to (0-based; matches the passengers[] array)"
          },
          "segmentKey": {
            "type": "string",
            "description": "The flight segment this service applies to (matches journey.segments[].segmentKey)"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units booked"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp when the provider attached the service"
          },
          "phase": {
            "type": "string",
            "description": "Provider phase, e.g. 'post_booking'"
          },
          "status": {
            "type": "string",
            "description": "Provider status of this service, e.g. 'pending', 'confirmed'"
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightItemPricing",
            "description": "Customer-facing price for this service (post-margin)"
          },
          "metadata": {
            "type": "object",
            "description": "Category-specific metadata. Contains exactly one of `seat` (when category is 'seat') or `baggage` (when category is 'baggage').",
            "properties": {
              "seat": {
                "type": "object",
                "description": "Seat details — present only when category is 'seat'",
                "properties": {
                  "available": {
                    "type": "boolean",
                    "description": "Whether this seat is currently available"
                  },
                  "position": {
                    "type": "string",
                    "description": "Physical position (window, middle, aisle)"
                  },
                  "seatColumn": {
                    "type": "string",
                    "description": "Column letter (e.g. A, B, C)"
                  },
                  "seatNumber": {
                    "type": "string",
                    "description": "Full seat label (e.g. 1A)"
                  },
                  "seatRow": {
                    "type": "integer",
                    "description": "Row number"
                  },
                  "seatType": {
                    "type": "string",
                    "description": "Seat class/type (standard, extra_legroom, exit_row, ...)"
                  }
                }
              },
              "baggage": {
                "type": "object",
                "description": "Baggage details — present only when category is 'baggage'",
                "properties": {
                  "bagType": {
                    "type": "string",
                    "description": "Type of bag (e.g. checked, cabin)"
                  },
                  "pieces": {
                    "type": "integer",
                    "description": "Number of bag pieces booked"
                  },
                  "weightKg": {
                    "type": "number",
                    "description": "Weight allowance in kilograms"
                  }
                }
              }
            }
          }
        }
      },
      "FlightOfferPricing": {
        "type": "object",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/FlightPrice",
            "description": "Customer-facing price breakdown (converted to search currency if applicable)"
          },
          "converted": {
            "type": "boolean",
            "description": "True if FX currency conversion was applied"
          }
        },
        "description": "Full offer pricing with per-passenger breakdown"
      },
      "FlightFullOfferPricing": {
        "type": "object",
        "description": "Offer pricing for the verify journey and changes: customer-facing display price.",
        "required": [
          "display",
          "converted"
        ],
        "properties": {
          "display": {
            "$ref": "#/components/schemas/FlightPrice",
            "description": "Customer-facing price"
          },
          "converted": {
            "type": "boolean",
            "description": "Whether FX currency conversion was applied"
          }
        }
      },
      "FlightChangesPricing": {
        "type": "object",
        "description": "Pricing comparison between search and verification (provider ChangesPricing).",
        "required": [
          "old",
          "new"
        ],
        "properties": {
          "old": {
            "$ref": "#/components/schemas/FlightFullOfferPricing",
            "description": "Pricing from the original search"
          },
          "new": {
            "$ref": "#/components/schemas/FlightFullOfferPricing",
            "description": "Pricing from the verified offer"
          }
        }
      },
      "FlightVerifyChanges": {
        "type": "object",
        "description": "Changes detected between search and verification.",
        "properties": {
          "cabinChanged": {
            "type": "boolean",
            "description": "True if cabin class changed"
          },
          "fareChanged": {
            "type": "boolean",
            "description": "True if fare class/booking code changed"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Human-readable list of change descriptions"
          },
          "newCabin": {
            "type": "string",
            "nullable": true,
            "description": "Current cabin class"
          },
          "newFareClass": {
            "type": "string",
            "nullable": true,
            "description": "Current booking code"
          },
          "newFareFamily": {
            "type": "string",
            "nullable": true,
            "description": "Current fare brand"
          },
          "oldCabin": {
            "type": "string",
            "nullable": true,
            "description": "Original cabin class"
          },
          "oldFareClass": {
            "type": "string",
            "nullable": true,
            "description": "Original booking code (e.g., Y, M)"
          },
          "oldFareFamily": {
            "type": "string",
            "nullable": true,
            "description": "Original fare brand (e.g., Economy Light)"
          },
          "priceChanged": {
            "type": "boolean",
            "description": "True if price has changed"
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightChangesPricing",
            "nullable": true,
            "description": "Full pricing comparison (search vs verified); use instead of legacy currency/price scalars"
          }
        }
      },
      "FlightVerifyJourney": {
        "type": "object",
        "description": "Journey in verify response. The `offerId` is not returned in the JSON body (use the same id you sent on the verify request for prebook/book).",
        "properties": {
          "journeyKey": {
            "type": "string",
            "description": "Unique identifier for this journey"
          },
          "expiration": {
            "type": "string",
            "description": "Offer expiration time (ISO 8601)"
          },
          "timestamp": {
            "type": "string",
            "description": "When the journey was generated (ISO 8601)"
          },
          "provider": {
            "type": "object",
            "description": "Flight provider information",
            "properties": {
              "code": {
                "type": "string",
                "description": "Provider code (e.g. SABRE, TRAVELPORT, ATLAS, FLIGHTHUB)"
              },
              "logo": {
                "type": "string",
                "description": "URL to provider logo"
              }
            }
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightFullOfferPricing",
            "description": "Offer pricing with original (provider) and display (customer) breakdown per provider FlattenedJourney"
          },
          "baggage": {
            "type": "object",
            "description": "Baggage policy for this offer",
            "properties": {
              "hasCarryOnBag": {
                "type": "boolean",
                "description": "True if a carry-on bag is included in this offer"
              },
              "hasCheckedBag": {
                "type": "boolean",
                "description": "True if a checked bag is included in this offer"
              },
              "included": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bagType": {
                      "type": "string",
                      "enum": [
                        "cabin",
                        "checked"
                      ],
                      "description": "Type of bag: cabin (carry-on) or checked"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable baggage allowance description"
                    },
                    "passengerType": {
                      "type": "string",
                      "enum": [
                        "ADT",
                        "CHD",
                        "INF"
                      ],
                      "description": "Passenger type this allowance applies to (ADT, CHD, INF)"
                    },
                    "pieces": {
                      "type": "integer",
                      "description": "Number of bag pieces allowed"
                    },
                    "pricing": {
                      "$ref": "#/components/schemas/FlightItemPricing",
                      "description": "Cost of this baggage allowance; amount 0 means included at no charge"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Weight unit (e.g. kg)"
                    },
                    "weightKg": {
                      "type": "number",
                      "description": "Maximum weight per bag in kg"
                    }
                  }
                },
                "description": "List of included baggage allowances per passenger type"
              }
            }
          },
          "fare": {
            "type": "object",
            "properties": {
              "family": {
                "type": "string",
                "description": "Fare family name (e.g. Economy, Business, First)"
              },
              "mixedCabin": {
                "type": "boolean",
                "description": "True if outbound and inbound legs are in different cabin classes"
              },
              "seatsRemaining": {
                "type": "integer",
                "description": "Number of seats remaining at this fare"
              }
            },
            "description": "Fare class information"
          },
          "passengers": {
            "type": "object",
            "description": "Passenger counts for this journey",
            "properties": {
              "adults": {
                "type": "integer",
                "description": "Number of adult passengers"
              },
              "children": {
                "type": "integer",
                "description": "Number of child passengers"
              },
              "infants": {
                "type": "integer",
                "description": "Number of infant passengers"
              }
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSegment"
            },
            "description": "Ordered list of flight segments for this journey"
          },
          "segmentFares": {
            "type": "array",
            "description": "Per-segment fare details",
            "items": {
              "type": "object",
              "properties": {
                "bookingCode": {
                  "type": "string",
                  "description": "Booking/RBD class code (e.g. W, Y, J)"
                },
                "cabin": {
                  "type": "string",
                  "description": "Cabin class (e.g. Economy, Business, First)"
                },
                "fareBasisCode": {
                  "type": "string",
                  "description": "Fare basis code used for pricing and rules"
                },
                "fareFamily": {
                  "type": "string",
                  "description": "Commercial fare family name"
                },
                "seatsRemaining": {
                  "type": "integer",
                  "description": "Number of seats remaining at this fare"
                },
                "segmentKey": {
                  "type": "string",
                  "description": "Links this fare to the corresponding segment"
                }
              }
            }
          },
          "terms": {
            "type": "object",
            "properties": {
              "changeable": {
                "type": "boolean",
                "description": "True if the fare allows changes (rebooking)"
              },
              "refundable": {
                "type": "boolean",
                "description": "True if the fare is refundable"
              },
              "summary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string",
                      "description": "Severity: info, warning, or danger"
                    },
                    "message": {
                      "type": "string",
                      "description": "Policy message text"
                    }
                  }
                },
                "description": "Human-readable policy messages with severity levels"
              },
              "changeFee": {
                "$ref": "#/components/schemas/FlightFee",
                "description": "Change fee details; null when the provider does not publish a fee"
              },
              "refundFee": {
                "$ref": "#/components/schemas/FlightFee",
                "description": "Refund/cancellation fee details; null when the provider does not publish a fee"
              },
              "hasChangeFee": {
                "type": "boolean",
                "description": "True when the provider signalled that a change fee applies to the fare, even when the actual amount is not published in `changeFee`. Lets clients render a \"change fee applies — amount on request\" remark for fares where the rule is known but the monetary amount is not exposed. When `false` or absent, no change fee is known to apply."
              },
              "hasRefundFee": {
                "type": "boolean",
                "description": "True when the provider signalled that a refund/cancellation fee applies to the fare, even when the actual amount is not published in `refundFee`. Lets clients render a \"cancellation fee applies — amount on request\" remark for fares where the rule is known but the monetary amount is not exposed. When `false` or absent, no refund fee is known to apply."
              }
            },
            "description": "Booking terms and conditions for this offer"
          }
        }
      },
      "FlightBooking": {
        "type": "object",
        "description": "Flight booking details (maps to provider BookingData)",
        "properties": {
          "bookingId": {
            "type": "string",
            "description": "Unique booking identifier"
          },
          "bookingRef": {
            "type": "string",
            "description": "FlightHub booking reference (FH-YYM-XXXXXXXX)"
          },
          "status": {
            "type": "string",
            "description": "Booking status: PENDING_CONFIRMATION, CONFIRMED, CANCELLED, PENDING, TICKETED"
          },
          "timestamp": {
            "type": "string",
            "description": "Booking creation time (UTC)"
          },
          "offerId": {
            "type": "string",
            "description": "Offer ID from verify stage"
          },
          "paymentStatus": {
            "type": "string",
            "description": "Payment status: pending, completed, failed, not_required"
          },
          "distributorCommission": {
            "type": "number",
            "description": "Commission amount for the distributor."
          },
          "distributorPrice": {
            "type": "number",
            "description": "Price after distributor commission."
          },
          "providerEnvironment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ],
            "description": "Provider environment used for this booking (sandbox or production)"
          },
          "ticketLimitTime": {
            "type": "string",
            "format": "date-time",
            "description": "Deadline for ticket issuance (UTC)"
          },
          "lastRefreshedAt": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp of the last successful provider API status refresh"
          },
          "journey": {
            "type": "object",
            "properties": {
              "journeyKey": {
                "type": "string",
                "description": "Unique journey identifier"
              },
              "segments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FlightSegment"
                },
                "description": "Flight segments in this booking"
              },
              "price": {
                "$ref": "#/components/schemas/FlightPrice",
                "description": "Journey price at time of booking"
              },
              "pricing": {
                "$ref": "#/components/schemas/FlightOfferPricing",
                "description": "Journey pricing (provider FlattenedJourney.pricing)"
              },
              "baggage": {
                "type": "object",
                "description": "Fare baggage allowance on the booked journey (included and paid options; aligns with provider FlattenedJourney.baggage)",
                "properties": {
                  "hasCarryOnBag": {
                    "type": "boolean",
                    "description": "Whether carry-on bag is included"
                  },
                  "hasCheckedBag": {
                    "type": "boolean",
                    "description": "Whether checked bag is included"
                  },
                  "included": {
                    "type": "array",
                    "description": "Baggage included in the fare",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bagType": {
                          "type": "string",
                          "enum": [
                            "cabin",
                            "checked",
                            "personal"
                          ]
                        },
                        "description": {
                          "type": "string"
                        },
                        "passengerType": {
                          "type": "string",
                          "enum": [
                            "ADT",
                            "CHD",
                            "INF",
                            "ALL"
                          ]
                        },
                        "pieces": {
                          "type": "integer"
                        },
                        "pricing": {
                          "$ref": "#/components/schemas/FlightItemPricing"
                        },
                        "size": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "weightKg": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "paid": {
                    "type": "array",
                    "description": "Available paid baggage options",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bagType": {
                          "type": "string",
                          "enum": [
                            "cabin",
                            "checked",
                            "personal"
                          ]
                        },
                        "description": {
                          "type": "string"
                        },
                        "passengerType": {
                          "type": "string",
                          "enum": [
                            "ADT",
                            "CHD",
                            "INF",
                            "ALL"
                          ]
                        },
                        "pieces": {
                          "type": "integer"
                        },
                        "pricing": {
                          "$ref": "#/components/schemas/FlightItemPricing"
                        },
                        "size": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "weightKg": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              },
              "terms": {
                "type": "object",
                "nullable": true,
                "description": "Booking terms from the provider",
                "properties": {
                  "changeable": {
                    "type": "boolean"
                  },
                  "refundable": {
                    "type": "boolean"
                  },
                  "summary": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "changeFee": {
                    "$ref": "#/components/schemas/FlightFee",
                    "description": "Change fee details; null when the provider does not publish a fee"
                  },
                  "refundFee": {
                    "$ref": "#/components/schemas/FlightFee",
                    "description": "Refund/cancellation fee details; null when the provider does not publish a fee"
                  },
                  "hasChangeFee": {
                    "type": "boolean"
                  },
                  "hasRefundFee": {
                    "type": "boolean"
                  }
                }
              }
            },
            "description": "Journey details as confirmed by the provider at booking time"
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Passenger type code (ADT, CHD, INF)"
                },
                "title": {
                  "type": "string",
                  "description": "Passenger title (Mr, Mrs, Ms, etc.)"
                },
                "firstName": {
                  "type": "string",
                  "description": "Passenger first name as on travel document"
                },
                "lastName": {
                  "type": "string",
                  "description": "Passenger last name as on travel document"
                },
                "middleName": {
                  "type": "string",
                  "description": "Passenger middle name"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "Date of birth (YYYY-MM-DD)"
                },
                "birthday": {
                  "type": "string",
                  "format": "date",
                  "description": "Date of birth (YYYY-MM-DD)"
                },
                "gender": {
                  "type": "string",
                  "description": "Passenger gender: M or F"
                },
                "nationality": {
                  "type": "string",
                  "description": "Passenger nationality as ISO country code"
                },
                "passengerType": {
                  "type": "integer",
                  "description": "0=Adult, 1=Child, 2=Infant"
                },
                "documentType": {
                  "type": "string",
                  "description": "Type of travel document (e.g. passport, id_card)"
                },
                "documentNumber": {
                  "type": "string",
                  "description": "Travel document number"
                },
                "documentIssueCountry": {
                  "type": "string",
                  "description": "ISO country code of the document issuing country"
                },
                "documentExpiry": {
                  "type": "string",
                  "description": "Travel document expiry date (YYYY-MM-DD)"
                }
              }
            },
            "description": "Passenger details as submitted and confirmed by the provider"
          },
          "contact": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "description": "Contact first name"
              },
              "lastName": {
                "type": "string",
                "description": "Contact last name"
              },
              "middleName": {
                "type": "string",
                "description": "Contact middle name"
              },
              "email": {
                "type": "string",
                "description": "Contact email address for booking confirmation"
              },
              "phoneCountryCode": {
                "type": "string",
                "description": "Phone country code without + (e.g. 1 for US, 33 for France)"
              },
              "phoneNumber": {
                "type": "string",
                "description": "Phone number without country code"
              }
            },
            "description": "Primary contact person for the booking"
          },
          "order": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string",
                    "description": "Provider order or PNR reference ID"
                  },
                  "provider": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Provider code (e.g. SABRE, TRAVELPORT)"
                      },
                      "pnr": {
                        "type": "string",
                        "description": "Provider PNR (Passenger Name Record) locator code"
                      }
                    },
                    "description": "Provider-level booking reference (code + PNR)"
                  },
                  "airlineBookings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "airlineCode": {
                          "type": "string",
                          "description": "Airline IATA code"
                        },
                        "airlineName": {
                          "type": "string",
                          "description": "Airline name"
                        },
                        "airlinePnr": {
                          "type": "string",
                          "description": "Airline-specific PNR/locator code"
                        },
                        "pnr": {
                          "type": "string",
                          "description": "PNR locator code for this airline"
                        }
                      }
                    },
                    "description": "Per-airline booking references and PNR codes"
                  }
                },
                "description": "Provider and airline reference identifiers"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code for this order"
              },
              "status": {
                "type": "string",
                "description": "Order status from the provider (e.g. ticketed, created)"
              },
              "price": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total order price"
                  }
                },
                "description": "Order price as confirmed by the provider"
              },
              "ticketLimitTime": {
                "type": "string",
                "description": "Deadline for ticket issuance (UTC)"
              },
              "timestamp": {
                "type": "string",
                "description": "UTC timestamp when the order was created"
              }
            },
            "description": "Order and provider confirmation details"
          },
          "airlineLocators": {
            "type": "array",
            "description": "Airline-specific PNR/locator codes",
            "items": {
              "type": "object",
              "properties": {
                "airlineCode": {
                  "type": "string",
                  "description": "Airline IATA code"
                },
                "airlinePnr": {
                  "type": "string",
                  "description": "Airline-specific PNR/locator code"
                }
              }
            }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "subtotal": {
                "type": "number",
                "description": "Subtotal before ancillary services"
              },
              "servicesAmount": {
                "type": "number",
                "description": "Total cost of attached ancillary services (seats, baggage, etc.)"
              },
              "seatsAmount": {
                "type": "number",
                "description": "Total cost of seat selections"
              },
              "baggageAmount": {
                "type": "number",
                "description": "Total cost of additional baggage"
              },
              "totalAmount": {
                "type": "number",
                "description": "Grand total charged to the customer"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code"
              }
            },
            "description": "Billing breakdown for this booking including base fare and any ancillary services"
          },
          "payment": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Amount captured for payment"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code of the payment"
              }
            },
            "description": "Payment amounts captured for this booking"
          },
          "remarks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Remark name or category"
                },
                "value": {
                  "type": "string",
                  "description": "Remark content"
                }
              }
            },
            "description": "Reservation remarks or comments from the provider"
          },
          "selectedServices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectedService"
            },
            "description": "Ancillary services attached to this booking (seats, baggage, etc.)"
          },
          "bookedServices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightBookedService"
            },
            "description": "Detailed view of the ancillary services confirmed by the provider for this booking, including pricing and per-passenger / per-segment metadata. Present once /services has been called."
          },
          "ticketData": {
            "type": "object",
            "properties": {
              "confirmationId": {
                "type": "string",
                "description": "Ticket confirmation identifier"
              },
              "ticketedAt": {
                "type": "string",
                "description": "UTC timestamp when the ticket was issued"
              },
              "provider": {
                "type": "string",
                "description": "Provider that issued the ticket"
              },
              "source": {
                "type": "string",
                "description": "Source system that generated the ticket"
              }
            },
            "description": "Ticket issuance details from the provider"
          },
          "timings": {
            "type": "object",
            "properties": {
              "startedAt": {
                "type": "string",
                "description": "When the booking flow was initiated"
              },
              "persistedAt": {
                "type": "string",
                "description": "When the booking record was saved to the database"
              },
              "orderSentAt": {
                "type": "string",
                "description": "When the order request was sent to the provider"
              },
              "pnrReceivedAt": {
                "type": "string",
                "description": "When the PNR confirmation was received from the provider"
              },
              "paymentStartedAt": {
                "type": "string",
                "description": "When payment capture was initiated"
              },
              "paymentCompletedAt": {
                "type": "string",
                "description": "When payment capture was completed"
              },
              "completedAt": {
                "type": "string",
                "description": "When the full booking flow was completed"
              }
            },
            "description": "Step-by-step UTC timestamps for booking flow observability"
          },
          "settings": {
            "type": "object",
            "description": "Booking settings"
          },
          "paymentInput": {
            "type": "object",
            "description": "Echo of payment submitted when creating the booking; may include additional provider-specific fields",
            "additionalProperties": true,
            "properties": {
              "method": {
                "type": "string",
                "enum": [
                  "TRANSACTION_ID",
                  "CREDIT"
                ],
                "description": "How the booking was paid: Stripe (`TRANSACTION_ID`) or credit line (`CREDIT`)"
              },
              "transactionId": {
                "type": "string",
                "description": "Stripe transaction id when `method` is `TRANSACTION_ID`"
              }
            }
          },
          "customTags": {
            "type": "object",
            "description": "Optional bag of up to 5 user-defined key/value labels persisted with the booking. Keys must match `^[A-Z0-9_-]+$` (uppercase letters, digits, `-`, `_`). Values are arbitrary strings up to 255 characters. These labels are returned on booking responses and can be used to filter `GET /flights/bookings` via the `customTags=KEY:VALUE,KEY2:VALUE2` query parameter.",
            "maxProperties": 5,
            "additionalProperties": {
              "type": "string",
              "maxLength": 255
            },
            "example": {
              "SOURCE": "GOOGLE",
              "TIER": "GOLD"
            }
          }
        }
      },
      "SelectedService": {
        "type": "object",
        "properties": {
          "passengerIndex": {
            "type": "integer",
            "description": "Zero-based index of the passenger this service is for (matches position in passengers array)",
            "example": 0
          },
          "serviceId": {
            "type": "string",
            "description": "Service identifier from servicesAttachable.groups[].services[].serviceId",
            "example": "g6Rwc2lk2SQwMTlkMDY3NC1hMzQzLTc0OGEtYmYyYS1jMDk4ZmNjMTk2ZGGhcMtAfB6PXCj1w6Fjo1VTRA=="
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units of this service to attach",
            "example": 1
          }
        },
        "description": "An ancillary service selected by a passenger (seat, baggage, etc.)"
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Numeric error code"
              },
              "message": {
                "type": "string",
                "description": "Short error message"
              },
              "description": {
                "type": "string",
                "description": "Detailed error description"
              },
              "key": {
                "type": "string",
                "description": "JSON path to the offending request field (e.g. bodyRequest.offerId, query.airlinePnr). Present on validation and client-input errors; omitted on auth and server-side errors.",
                "example": "bodyRequest.offerId"
              }
            },
            "description": "Error details"
          }
        },
        "description": "Standard error response envelope"
      },
      "FlightSortOptionMeta": {
        "type": "object",
        "description": "Winner reference for a single sort criterion. The `offerId` matches a `journeys[].offers[].offerId` in the same response, allowing fast lookup of the winning offer's full details.",
        "properties": {
          "journeyKey": {
            "type": "string",
            "nullable": true,
            "description": "The journeyKey of the winning journey for this sort criterion"
          },
          "offerId": {
            "type": "string",
            "nullable": true,
            "description": "The offerId of the winning offer (matches `journeys[].offers[].offerId`). Present for offer-centric criteria (best, price); may be null for journey-centric criteria (duration, stops)."
          },
          "price": {
            "type": "number",
            "description": "Display total price of the winning offer (with margin applied)",
            "example": 753.87
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the price (e.g. USD, EUR)",
            "example": "USD"
          }
        }
      },
      "FlightBookingCreatePayment": {
        "type": "object",
        "required": [
          "method"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "TRANSACTION_ID",
              "CREDIT"
            ],
            "description": "Payment method for `POST /flights/bookings`. Set to `TRANSACTION_ID` after Stripe SDK confirmation, or `CREDIT` to bill an enabled credit line (eligibility enforced server-side)."
          },
          "transactionId": {
            "type": "string",
            "description": "Stripe payment intent id. Required when `method` is `TRANSACTION_ID`; omit when `method` is `CREDIT`.",
            "example": "tr_ABCzxy91C-a9W123"
          }
        },
        "description": "Payment for `POST /flights/bookings`. **Stripe:** `method`: `TRANSACTION_ID` and `transactionId` (e.g. `tr_ABCzxy91C-a9W123`). **Credit line:** `method`: `CREDIT` (omit `transactionId`)."
      },
      "FlightBookingCreateRequest": {
        "title": "Create a flight booking",
        "type": "object",
        "required": [
          "prebookId",
          "payment"
        ],
        "properties": {
          "prebookId": {
            "type": "string",
            "description": "The prebookId returned by `POST /flights/prebooks` (prebook must have completed the book step).",
            "example": "019d0674-834d-7db7-9c8b-93fe8e46e7b8"
          },
          "payment": {
            "$ref": "#/components/schemas/FlightBookingCreatePayment"
          },
          "customTags": {
            "type": "object",
            "description": "Optional bag of up to 5 user-defined key/value labels persisted with the booking. Keys must match `^[A-Z0-9_-]+$` (uppercase letters, digits, `-`, `_`). Values are arbitrary strings up to 255 characters. These labels are returned on booking responses and can be used to filter `GET /flights/bookings` via the `customTags=KEY:VALUE,KEY2:VALUE2` query parameter.",
            "maxProperties": 5,
            "additionalProperties": {
              "type": "string",
              "maxLength": 255
            },
            "example": {
              "SOURCE": "GOOGLE",
              "TIER": "GOLD"
            }
          }
        },
        "description": "Request body to complete a flight booking"
      },
      "FlightConnection": {
        "type": "object",
        "properties": {
          "arrivalAirportCode": {
            "type": "string",
            "example": "JFK",
            "description": "IATA code of the airport where the passenger arrives for this connection"
          },
          "arrivalAirportName": {
            "type": "string",
            "example": "John F Kennedy International Airport",
            "description": "Full name of the arrival airport for this connection"
          },
          "arrivalTime": {
            "type": "string",
            "example": "2026-01-20T14:30:00",
            "description": "UTC ISO 8601 arrival time at the connection airport"
          },
          "changeAirport": {
            "type": "boolean",
            "example": true,
            "description": "True if the passenger must change airports during this connection"
          },
          "departureAirportCode": {
            "type": "string",
            "example": "LGA",
            "description": "IATA code of the airport from which the passenger departs after layover"
          },
          "departureAirportName": {
            "type": "string",
            "example": "LaGuardia Airport",
            "description": "Full name of the departure airport after layover"
          },
          "departureTime": {
            "type": "string",
            "example": "2026-01-20T17:15:00",
            "description": "UTC ISO 8601 departure time from the connection airport"
          },
          "direction": {
            "type": "string",
            "enum": [
              "OUTBOUND",
              "INBOUND"
            ],
            "description": "Which leg of the journey this connection belongs to (OUTBOUND or INBOUND)"
          },
          "duration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Connection (layover) duration"
          },
          "overnight": {
            "type": "boolean",
            "example": false,
            "description": "True if the layover crosses midnight (arrival and departure on different calendar days)"
          }
        },
        "description": "Layover details between two consecutive flight segments"
      }
    }
  },
  "tags": [
    {
      "name": "Airlines",
      "description": "Retrieve airline information and IATA codes"
    },
    {
      "name": "Airports",
      "description": "Retrieve airport information and IATA codes"
    },
    {
      "name": "Flight Search",
      "description": "Search for available flights and verify offers"
    },
    {
      "name": "Flight Bookings",
      "description": "Checkout flow: **1.** Create a checkout session (PREBOOK) → **1.2** Attach services to prebook (optional) → **2.** Complete a booking. Also includes retrieving a booking by ID."
    }
  ],
  "paths": {
    "/data/flights/airlines/iatas/{iataCode}": {
      "get": {
        "tags": [
          "Airlines"
        ],
        "summary": "Get airline by IATA code",
        "description": "## Overview\n\nRetrieve full details for a specific airline using its 2-letter IATA code.\n\n## When to Use\n\n- **Airline display** - Show airline name, logo, and alliance for a given IATA code\n- **Flight result enrichment** - Fetch airline details to display alongside search results\n- **Data validation** - Verify an airline code and retrieve its metadata\n\n## What You Get\n\n- **Airline details** including name, IATA/ICAO codes, and country\n- **Alliance membership** (Star Alliance, oneworld, SkyTeam, or Vanilla Alliance)\n- **Logo URL** for displaying the airline's logo in your UI\n- **Active status** indicating whether the airline is currently operating\n\n## Quick Start\n\nProvide the 2-letter IATA code (e.g., `AA` for American Airlines) in the URL path.",
        "parameters": [
          {
            "name": "iataCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "2-letter IATA airline code (e.g., AA)",
            "example": "AA"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airline": {
                            "$ref": "#/components/schemas/Airline",
                            "description": "Airline details for the requested IATA code"
                          }
                        }
                      },
                      "description": "Single airline result"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airline": {
                        "active": true,
                        "alliance": "oneworld",
                        "callsign": "AMERICAN",
                        "country": "United States",
                        "iata": "AA",
                        "icao": "AAL",
                        "logo": "https://production.nuitee.flights/static/images/airlines/AA.png",
                        "name": "American Airlines"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Airline not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4004,
                    "description": "Airline not found",
                    "message": "entity not found"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4002,
                    "description": "IATA code is required",
                    "message": "required request field is missing or wrong input"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Authentication failed",
                    "message": "unauthorized"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/flights/airports/iatas/{iataCode}": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "Get airport by IATA code",
        "description": "## Overview\n\nRetrieve detailed information for a specific airport using its 3-letter IATA code.\n\n## When to Use\n\n- **Airport display** - Show airport name, city, and country for a given IATA code\n- **Flight result enrichment** - Fetch airport details to display alongside origin/destination in search results\n- **Autocomplete validation** - Verify an airport code and retrieve its full details\n\n## What You Get\n\n- **Airport details** including name, city, country, and timezone\n- **IATA and ICAO codes** for the airport\n- **Geographic coordinates** (latitude and longitude)\n- **Country and city** information for display purposes\n\n## Quick Start\n\nProvide the 3-letter IATA code (e.g., `JFK` for John F. Kennedy International) in the URL path.",
        "parameters": [
          {
            "name": "iataCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-letter IATA airport code (e.g., JFK)",
            "example": "JFK"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airport": {
                            "$ref": "#/components/schemas/Airport",
                            "description": "Airport details for the requested IATA code"
                          }
                        }
                      },
                      "description": "Single airport result"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airport": {
                        "city": "New York",
                        "country": "United States",
                        "iata": "JFK",
                        "icao": "KJFK",
                        "lat": 40.63980103,
                        "lon": -73.77890015,
                        "name": "John F Kennedy International Airport",
                        "state": "New York",
                        "tz": "America/New_York"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4004,
                    "description": "Airport not found",
                    "message": "entity not found"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4002,
                    "description": "IATA code is required",
                    "message": "required request field is missing or wrong input"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Authentication failed",
                    "message": "unauthorized"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/flights/airports/iatas": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "List airport IATA codes",
        "description": "## Overview\n\nRetrieve a lightweight list of airport IATA codes with names for autocomplete and lookup purposes.\n\n## When to Use\n\n- **Autocomplete dropdowns** - Populate airport search inputs with a full list of codes and names\n- **Client-side filtering** - Download the full list once and filter locally\n- **Code validation** - Build a lookup table of valid airport codes\n\n## What You Get\n\n- **IATA codes** for all airports in the database\n- **Airport names** paired with each code\n- **Filtered results** when the `q` query parameter is provided\n\n## Quick Start\n\nCall with no parameters to get all airport codes and names. Use the `q` parameter to filter by name or code.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "example": "JFK"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airports": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/AirportIATA"
                            },
                            "description": "List of airport IATA codes and names"
                          }
                        }
                      },
                      "description": "List of airport IATA result sets"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airports": [
                        {
                          "iata": "JFK",
                          "name": "John F Kennedy International Airport"
                        },
                        {
                          "iata": "LHR",
                          "name": "London Heathrow Airport"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4002,
                    "description": "Query parameter 'q' is required for airport search",
                    "message": "required request field is missing or wrong input"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Authentication failed",
                    "message": "unauthorized"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 5000,
                    "description": "Failed to retrieve airport codes",
                    "message": "unable to process request"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flights/rates": {
      "post": {
        "tags": [
          "Flight Search"
        ],
        "summary": "Search for flights (legs-based itinerary)",
        "description": "## Overview\n\nSearch for available flights with real-time pricing from multiple providers. The itinerary **must** be sent as a non-empty `legs` array. Each leg follows the provider **SearchLeg** shape: required `origin`, `destination`, and `date` (YYYY-MM-DD); optional `direction` (`OUTBOUND` or `INBOUND`); optional per-leg `filters` that override global `filters` for that leg only.\n\n**Not supported:** top-level `origin`, `destination`, `departureDate`, or `returnDate` — use `legs` only.\n\n## When to Use\n\n- **Listings** — live prices for search results UI\n- **One-way, round-trip, or multi-city** — one leg per segment, in order\n- **Filtering** — cabin class, stops, price, refundability, times (globally or per leg)\n- **Streaming** — incremental provider results over SSE\n\n## What You Get\n\n- Offers from multiple providers\n- Itineraries with segments, layovers, and durations\n- Price breakdown (fares, taxes, fees) and baggage hints\n\n## Key Features\n\n- Multi-provider aggregation in one request\n- **SSE:** send header `Accept: text/event-stream` on `POST /flights/rates`, or `POST /flights/rates/stream` with the same JSON body\n- Global `filters`, `sort`\n\n## Quick Start\n\n**Required:** `legs` (at least one object with `origin`, `destination`, `date`), `adults` (≥ 1), `currency`\n\n**Round-trip:** two legs (e.g. outbound then return with `direction` `OUTBOUND` / `INBOUND`). **One-way:** one leg.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "legs",
                  "adults",
                  "currency"
                ],
                "properties": {
                  "legs": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Ordered itinerary legs (provider SearchLeg). One-way: one entry. Round-trip: outbound then inbound. Multi-city / open-jaw: additional legs in travel order.",
                    "items": {
                      "type": "object",
                      "required": [
                        "origin",
                        "destination",
                        "date"
                      ],
                      "properties": {
                        "origin": {
                          "type": "string",
                          "description": "Origin airport or city IATA code for this leg",
                          "example": "JFK"
                        },
                        "destination": {
                          "type": "string",
                          "description": "Destination airport or city IATA code for this leg",
                          "example": "CDG"
                        },
                        "date": {
                          "type": "string",
                          "format": "date",
                          "description": "Departure date for this leg (YYYY-MM-DD)",
                          "example": "2026-07-01"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "OUTBOUND",
                            "INBOUND"
                          ],
                          "description": "Leg direction (optional; defaults to OUTBOUND on the provider)",
                          "example": "OUTBOUND"
                        },
                        "filters": {
                          "type": "object",
                          "description": "Optional per-leg filters overriding global `filters` for this leg",
                          "properties": {
                            "departureTimeAfter": {
                              "type": "string",
                              "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                              "description": "Departure after this local time (HH:MM, 24h)"
                            },
                            "departureTimeBefore": {
                              "type": "string",
                              "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                              "description": "Departure before this local time (HH:MM, 24h)"
                            },
                            "arrivalTimeAfter": {
                              "type": "string",
                              "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                              "description": "Arrival after this local time (HH:MM, 24h)"
                            },
                            "arrivalTimeBefore": {
                              "type": "string",
                              "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                              "description": "Arrival before this local time (HH:MM, 24h)"
                            },
                            "excludeConnectionAirports": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "excludeOvernight": {
                              "type": "boolean"
                            },
                            "flightNumbers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "flightNumbersMatch": {
                              "type": "string",
                              "enum": [
                                "any",
                                "all"
                              ]
                            },
                            "maxDuration": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "Max leg duration in minutes"
                            },
                            "maxStops": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 2
                            }
                          }
                        }
                      }
                    },
                    "example": [
                      {
                        "origin": "JFK",
                        "destination": "CDG",
                        "date": "2026-07-01",
                        "direction": "OUTBOUND"
                      },
                      {
                        "origin": "CDG",
                        "destination": "JFK",
                        "date": "2026-08-02",
                        "direction": "INBOUND"
                      }
                    ]
                  },
                  "adults": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of adults (12+)",
                    "example": 1
                  },
                  "children": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of children (2-11)",
                    "example": 0
                  },
                  "infants": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of infants (<2)",
                    "example": 0
                  },
                  "childrenAges": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 2,
                      "maximum": 11
                    },
                    "description": "Age of each child (2–11 inclusive, per IATA). Length must equal children count. Optional — omit if ages are not relevant.",
                    "example": [
                      5,
                      11
                    ]
[...]
