{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Flights",
    "version": "3.0.0",
    "description": "The Flights API provides endpoints for searching flights, managing bookings, and accessing static flight data including airlines and airports."
  },
  "servers": [
    {
      "url": "https://api.liteapi.travel/v3.0"
    }
  ],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "name": "X-API-Key",
        "type": "apiKey",
        "in": "header"
      }
    },
    "schemas": {
      "Airline": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether the airline is currently active"
          },
          "alliance": {
            "type": "string",
            "description": "Airline alliance membership (star_alliance, oneworld, skyteam, vanilla_alliance)"
          },
          "callsign": {
            "type": "string",
            "description": "Airline callsign"
          },
          "country": {
            "type": "string",
            "description": "Country of origin"
          },
          "iata": {
            "type": "string",
            "description": "2-letter IATA airline code"
          },
          "icao": {
            "type": "string",
            "description": "3-letter ICAO airline code"
          },
          "logo": {
            "type": "string",
            "description": "URL to airline logo"
          },
          "name": {
            "type": "string",
            "description": "Airline name"
          }
        },
        "description": "Full airline details including name, codes, alliance, and logo"
      },
      "AirlineIATA": {
        "type": "object",
        "properties": {
          "iata": {
            "type": "string",
            "description": "2-letter IATA airline code"
          },
          "name": {
            "type": "string",
            "description": "Airline name"
          }
        },
        "description": "Minimal airline representation with IATA code and name"
      },
      "Airport": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City name"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "iata": {
            "type": "string",
            "description": "3-letter IATA airport code"
          },
          "icao": {
            "type": "string",
            "description": "4-letter ICAO airport code"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "name": {
            "type": "string",
            "description": "Airport name"
          },
          "state": {
            "type": "string",
            "description": "State or province"
          },
          "tz": {
            "type": "string",
            "description": "Timezone (e.g., America/New_York)"
          }
        },
        "description": "Full airport details including location, codes, and timezone"
      },
      "AirportIATA": {
        "type": "object",
        "properties": {
          "iata": {
            "type": "string",
            "description": "3-letter IATA airport code"
          },
          "name": {
            "type": "string",
            "description": "Airport name"
          }
        },
        "description": "Minimal airport representation with IATA code and name"
      },
      "FlightSegment": {
        "type": "object",
        "properties": {
          "arrivalTime": {
            "type": "string",
            "description": "Arrival time (ISO 8601)"
          },
          "carrier": {
            "type": "object",
            "properties": {
              "marketingCode": {
                "type": "string",
                "description": "Marketing carrier IATA code"
              },
              "marketingLogo": {
                "type": "string",
                "description": "Marketing carrier logo path/URL"
              },
              "marketingName": {
                "type": "string",
                "description": "Marketing carrier name"
              },
              "operatingCode": {
                "type": "string",
                "description": "Operating carrier IATA code"
              },
              "operatingLogo": {
                "type": "string",
                "description": "Operating carrier logo path/URL"
              },
              "operatingName": {
                "type": "string",
                "description": "Operating carrier name"
              }
            },
            "description": "Marketing and operating carrier details for this segment"
          },
          "departureTime": {
            "type": "string",
            "description": "Departure time (ISO 8601)"
          },
          "destinationCode": {
            "type": "string",
            "description": "Destination IATA code"
          },
          "direction": {
            "type": "string",
            "description": "OUTBOUND or INBOUND"
          },
          "duration": {
            "type": "object",
            "properties": {
              "iso8601": {
                "type": "string",
                "description": "Duration in ISO 8601 format (e.g. PT7H45M)"
              },
              "minutes": {
                "type": "integer",
                "description": "Duration in minutes"
              }
            },
            "description": "Flight duration in ISO 8601 and minutes"
          },
          "flight": {
            "type": "object",
            "properties": {
              "marketingNumber": {
                "type": "string",
                "description": "Flight number as marketed to passengers"
              },
              "operatingNumber": {
                "type": "string",
                "description": "Flight number as operated by the carrier"
              }
            },
            "description": "Marketing and operating flight numbers"
          },
          "originCode": {
            "type": "string",
            "description": "Origin IATA code"
          },
          "originName": {
            "type": "string",
            "description": "Full name of the origin airport"
          },
          "destinationName": {
            "type": "string",
            "description": "Full name of the destination airport"
          },
          "segmentKey": {
            "type": "string",
            "description": "Unique identifier for this segment, used to link with offers, fares, and amenities"
          }
        },
        "description": "A single flight segment (one takeoff and landing) within a journey"
      },
      "FlightPrice": {
        "type": "object",
        "properties": {
          "base": {
            "type": "number",
            "description": "Base fare amount (before taxes and fees)"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "fees": {
            "type": "number",
            "description": "Service fees and surcharges"
          },
          "taxes": {
            "type": "number",
            "description": "Total taxes applied to the fare"
          },
          "total": {
            "type": "number",
            "description": "Total price (base + taxes + fees)"
          },
          "perPassenger": {
            "type": "object",
            "properties": {
              "adult": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each adult passenger"
              },
              "child": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each child passenger"
              },
              "infant": {
                "type": "object",
                "properties": {
                  "base": {
                    "type": "number",
                    "description": "Base fare for this passenger type"
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "fees": {
                    "type": "number",
                    "description": "Fees for this passenger type"
                  },
                  "taxes": {
                    "type": "number",
                    "description": "Taxes for this passenger type"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price for this passenger type"
                  }
                },
                "description": "Price breakdown for each infant passenger"
              }
            },
            "description": "Price breakdown per passenger type"
          }
        },
        "description": "Full price breakdown including base fare, taxes, fees, and per-passenger amounts"
      },
      "FlightOffer": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "Unique offer identifier"
          },
          "expiration": {
            "type": "string",
            "description": "Offer expiration time (ISO 8601)"
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightOfferPricing",
            "description": "Pricing breakdown with FX conversion details"
          },
          "fare": {
            "type": "object",
            "properties": {
              "family": {
                "type": "string",
                "description": "Fare family name (e.g. Economy, Business, First)"
              },
              "mixedCabin": {
                "type": "boolean",
                "description": "True if outbound and inbound legs are in different cabin classes"
              },
              "seatsRemaining": {
                "type": "integer",
                "description": "Number of seats remaining at this fare"
              }
            },
            "description": "Fare class information"
          },
          "terms": {
            "type": "object",
            "properties": {
              "changeable": {
                "type": "boolean",
                "description": "True if the fare allows changes (rebooking)"
              },
              "refundable": {
                "type": "boolean",
                "description": "True if the fare is refundable"
              },
              "summary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string",
                      "description": "Severity: info, warning, or danger"
                    },
                    "message": {
                      "type": "string",
                      "description": "Policy message text (e.g. Non-refundable, Changes allowed with fee)"
                    }
                  }
                },
                "description": "Human-readable policy messages with severity levels"
              }
            },
            "description": "Booking terms and conditions for this offer"
          },
          "provider": {
            "type": "object",
            "description": "Flight provider information",
            "properties": {
              "code": {
                "type": "string",
                "description": "Provider code (e.g. SABRE, TRAVELPORT, ATLAS, FLIGHTHUB)",
                "example": "SABRE"
              },
              "logo": {
                "type": "string",
                "description": "URL to provider logo",
                "example": "https://sandbox.nuitee.flights/static/providers/sabre.svg"
              }
            }
          },
          "baggage": {
            "type": "object",
            "description": "Baggage policy for this offer",
            "properties": {
              "hasCarryOnBag": {
                "type": "boolean",
                "description": "Whether carry-on bag is included"
              },
              "hasCheckedBag": {
                "type": "boolean",
                "description": "Whether checked bag is included"
              },
              "included": {
                "type": "array",
                "description": "List of included baggage allowances",
                "items": {
                  "type": "object",
                  "properties": {
                    "bagType": {
                      "type": "string",
                      "enum": [
                        "cabin",
                        "checked"
                      ],
                      "description": "Type of bag"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable baggage description"
                    },
                    "passengerType": {
                      "type": "string",
                      "enum": [
                        "ADT",
                        "CHD",
                        "INF"
                      ],
                      "description": "Passenger type this allowance applies to"
                    },
                    "pieces": {
                      "type": "integer",
                      "description": "Number of pieces allowed"
                    },
                    "pricing": {
                      "$ref": "#/components/schemas/FlightItemPricing",
                      "description": "Cost if not free (amount 0 means included)"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Weight unit (e.g. kg)"
                    },
                    "weightKg": {
                      "type": "number",
                      "description": "Weight limit in kg"
                    }
                  }
                }
              }
            }
          },
          "segmentFares": {
            "type": "array",
            "description": "Per-segment fare details",
            "items": {
              "type": "object",
              "properties": {
                "bookingCode": {
                  "type": "string",
                  "description": "Booking/RBD class code (e.g. W, Y, J)"
                },
                "cabin": {
                  "type": "string",
                  "description": "Cabin class (e.g. Economy, Business, First)"
                },
                "fareBasisCode": {
                  "type": "string",
                  "description": "Fare basis code"
                },
                "fareFamily": {
                  "type": "string",
                  "description": "Fare family name"
                },
                "seatsRemaining": {
                  "type": "integer",
                  "description": "Number of seats remaining at this fare"
                },
                "segmentKey": {
                  "type": "string",
                  "description": "Links to the segment this fare applies to"
                }
              }
            }
          },
          "segmentAmenities": {
            "type": "array",
            "description": "Per-segment amenity data (each entry linked by segmentKey)",
            "items": {
              "$ref": "#/components/schemas/FlightSegmentAmenities"
            }
          }
        },
        "description": "A bookable offer for a journey, including pricing, baggage policy, fare details, and booking terms"
      },
      "FlightSegmentAmenities": {
        "type": "object",
        "description": "Amenities for a specific segment (linked by segmentKey)",
        "properties": {
          "aircraftType": {
            "type": "string",
            "description": "Aircraft model for this segment",
            "example": "Boeing 787-9"
          },
          "amenities": {
            "type": "array",
            "description": "List of amenities available on this segment",
            "items": {
              "$ref": "#/components/schemas/FlightAmenity"
            }
          },
          "segmentKey": {
            "type": "string",
            "description": "Links to the segment this amenities data belongs to (matches segment.segmentKey)",
            "example": "a3f2b1c9"
          }
        }
      },
      "FlightAmenity": {
        "type": "object",
        "description": "A single in-flight amenity for a segment",
        "properties": {
          "available": {
            "type": "boolean",
            "description": "Whether this amenity is offered on this segment",
            "example": true
          },
          "category": {
            "type": "string",
            "enum": [
              "wifi",
              "power",
              "entertainment",
              "food",
              "seat_comfort"
            ],
            "description": "Amenity category",
            "example": "wifi"
          },
          "chargeable": {
            "type": "boolean",
            "nullable": true,
            "description": "True if paid, False if free, null if unknown",
            "example": true
          },
          "details": {
            "type": "string",
            "nullable": true,
            "description": "Additional details (e.g. 'Streaming only', '34 inch pitch')",
            "example": "Available for purchase"
          },
          "name": {
            "type": "string",
            "description": "Human-readable amenity name",
            "example": "Wi-Fi"
          }
        }
      },
      "FlightJourney": {
        "type": "object",
        "properties": {
          "journeyKey": {
            "type": "string",
            "description": "Unique identifier for this journey (hash of route, flights, and times)"
          },
          "isCheapest": {
            "type": "boolean",
            "description": "True if this is the cheapest journey across all results"
          },
          "cheapestOffer": {
            "$ref": "#/components/schemas/FlightOffer",
            "description": "Quick reference to the lowest-priced offer for this journey"
          },
          "offers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightOffer"
            },
            "description": "All available provider offers for this journey, sorted by price ascending"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSegment"
            },
            "description": "Ordered list of flight segments that make up this journey"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "adults": {
                "type": "integer",
                "description": "Number of adult passengers"
              },
              "children": {
                "type": "integer",
                "description": "Number of child passengers"
              },
              "infants": {
                "type": "integer",
                "description": "Number of infant passengers"
              }
            },
            "description": "Passenger composition used in the search that produced this journey"
          },
          "timestamp": {
            "type": "string",
            "description": "UTC timestamp when this journey was retrieved from the provider"
          },
          "legDurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightLegDuration"
            },
            "description": "Per-direction elapsed times including layovers (outbound and/or inbound)"
          },
          "totalDuration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Total elapsed time from first departure to last arrival, including all layovers"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightConnection"
            },
            "description": "Layover details between consecutive segments"
          }
        },
        "description": "A complete journey (one or more segments) with all available offers"
      },
      "FlightDuration": {
        "type": "object",
        "properties": {
          "iso8601": {
            "type": "string",
            "example": "PT2H30M",
            "description": "Duration in ISO 8601 format (e.g. PT2H30M)"
          },
          "minutes": {
            "type": "integer",
            "example": 150,
            "description": "Duration in minutes"
          }
        },
        "description": "Duration expressed in both ISO 8601 format and minutes"
      },
      "FlightLegDuration": {
        "type": "object",
        "properties": {
          "dayChange": {
            "type": "integer",
            "description": "Number of calendar days added crossing midnight (0 = same day arrival, 1 = next day, etc.)",
            "example": 1
          },
          "direction": {
            "type": "string",
            "enum": [
              "OUTBOUND",
              "INBOUND"
            ],
            "description": "Which leg this duration applies to",
            "example": "OUTBOUND"
          },
          "duration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Elapsed time for this leg including all layovers"
          },
          "overnightFlight": {
            "type": "boolean",
            "description": "True if the flight departs and arrives on different calendar days",
            "example": false
          }
        },
        "description": "Total elapsed time for one direction of a journey (outbound or inbound), including layovers"
      },
      "FlightMoneyAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        },
        "description": "A monetary amount with currency"
      },
      "FlightFxInfo": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number",
            "description": "Effective conversion rate applied (may include markup or spread)"
          },
          "source": {
            "type": "string",
            "description": "Rate source identifier (e.g. nuitee)"
          },
          "timestamp": {
            "type": "string",
            "description": "UTC timestamp when the exchange rate was fetched"
          }
        },
        "description": "Foreign exchange rate details used for currency conversion"
      },
      "FlightItemPricing": {
        "type": "object",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/FlightMoneyAmount",
            "description": "Customer-facing amount (converted to search currency if applicable)"
          },
          "converted": {
            "type": "boolean",
            "description": "True if FX currency conversion was applied"
          },
          "fxInfo": {
            "$ref": "#/components/schemas/FlightFxInfo",
            "nullable": true,
            "description": "Exchange rate details; present only when converted is true"
          }
        },
        "description": "Pricing for an ancillary item (e.g. baggage) with optional FX conversion details"
      },
      "FlightOfferPricing": {
        "type": "object",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/FlightPrice",
            "description": "Customer-facing price breakdown (converted to search currency if applicable)"
          },
          "converted": {
            "type": "boolean",
            "description": "True if FX currency conversion was applied"
          },
          "fxInfo": {
            "$ref": "#/components/schemas/FlightFxInfo",
            "nullable": true,
            "description": "Exchange rate details; present only when converted is true"
          }
        },
        "description": "Full offer pricing with per-passenger breakdown and optional FX conversion details"
      },
      "FlightVerifyJourney": {
        "type": "object",
        "description": "Journey in verify response",
        "properties": {
          "journeyKey": {
            "type": "string",
            "description": "Unique identifier for this journey"
          },
          "offerId": {
            "type": "string",
            "description": "Unique offer identifier returned from search, used to identify the verified offer"
          },
          "expiration": {
            "type": "string",
            "description": "Offer expiration time (ISO 8601)"
          },
          "timestamp": {
            "type": "string",
            "description": "When the journey was generated (ISO 8601)"
          },
          "provider": {
            "type": "object",
            "description": "Flight provider information",
            "properties": {
              "code": {
                "type": "string",
                "description": "Provider code (e.g. SABRE, TRAVELPORT, ATLAS, FLIGHTHUB)"
              },
              "logo": {
                "type": "string",
                "description": "URL to provider logo"
              }
            }
          },
          "pricing": {
            "$ref": "#/components/schemas/FlightOfferPricing",
            "description": "Pricing breakdown with FX conversion details"
          },
          "baggage": {
            "type": "object",
            "description": "Baggage policy for this offer",
            "properties": {
              "hasCarryOnBag": {
                "type": "boolean",
                "description": "True if a carry-on bag is included in this offer"
              },
              "hasCheckedBag": {
                "type": "boolean",
                "description": "True if a checked bag is included in this offer"
              },
              "included": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bagType": {
                      "type": "string",
                      "enum": [
                        "cabin",
                        "checked"
                      ],
                      "description": "Type of bag: cabin (carry-on) or checked"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable baggage allowance description"
                    },
                    "passengerType": {
                      "type": "string",
                      "enum": [
                        "ADT",
                        "CHD",
                        "INF"
                      ],
                      "description": "Passenger type this allowance applies to (ADT, CHD, INF)"
                    },
                    "pieces": {
                      "type": "integer",
                      "description": "Number of bag pieces allowed"
                    },
                    "pricing": {
                      "$ref": "#/components/schemas/FlightItemPricing",
                      "description": "Cost of this baggage allowance; amount 0 means included at no charge"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Weight unit (e.g. kg)"
                    },
                    "weightKg": {
                      "type": "number",
                      "description": "Maximum weight per bag in kg"
                    }
                  }
                },
                "description": "List of included baggage allowances per passenger type"
              }
            }
          },
          "fare": {
            "type": "object",
            "properties": {
              "family": {
                "type": "string",
                "description": "Fare family name (e.g. Economy, Business, First)"
              },
              "mixedCabin": {
                "type": "boolean",
                "description": "True if outbound and inbound legs are in different cabin classes"
              },
              "seatsRemaining": {
                "type": "integer",
                "description": "Number of seats remaining at this fare"
              }
            },
            "description": "Fare class information"
          },
          "passengers": {
            "type": "object",
            "description": "Passenger counts for this journey",
            "properties": {
              "adults": {
                "type": "integer",
                "description": "Number of adult passengers"
              },
              "children": {
                "type": "integer",
                "description": "Number of child passengers"
              },
              "infants": {
                "type": "integer",
                "description": "Number of infant passengers"
              }
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSegment"
            },
            "description": "Ordered list of flight segments for this journey"
          },
          "segmentFares": {
            "type": "array",
            "description": "Per-segment fare details",
            "items": {
              "type": "object",
              "properties": {
                "bookingCode": {
                  "type": "string",
                  "description": "Booking/RBD class code (e.g. W, Y, J)"
                },
                "cabin": {
                  "type": "string",
                  "description": "Cabin class (e.g. Economy, Business, First)"
                },
                "fareBasisCode": {
                  "type": "string",
                  "description": "Fare basis code used for pricing and rules"
                },
                "fareFamily": {
                  "type": "string",
                  "description": "Commercial fare family name"
                },
                "seatsRemaining": {
                  "type": "integer",
                  "description": "Number of seats remaining at this fare"
                },
                "segmentKey": {
                  "type": "string",
                  "description": "Links this fare to the corresponding segment"
                }
              }
            }
          },
          "terms": {
            "type": "object",
            "properties": {
              "changeable": {
                "type": "boolean",
                "description": "True if the fare allows changes (rebooking)"
              },
              "refundable": {
                "type": "boolean",
                "description": "True if the fare is refundable"
              },
              "summary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string",
                      "description": "Severity: info, warning, or danger"
                    },
                    "message": {
                      "type": "string",
                      "description": "Policy message text"
                    }
                  }
                },
                "description": "Human-readable policy messages with severity levels"
              }
            },
            "description": "Booking terms and conditions for this offer"
          }
        }
      },
      "FlightBooking": {
        "type": "object",
        "description": "Flight booking details (maps to provider BookingData)",
        "properties": {
          "bookingId": {
            "type": "string",
            "description": "Unique booking identifier"
          },
          "bookingRef": {
            "type": "string",
            "description": "FlightHub booking reference (FH-YYM-XXXXXXXX)"
          },
          "status": {
            "type": "string",
            "description": "Booking status: PENDING_CONFIRMATION, CONFIRMED, CANCELLED, PENDING, TICKETED"
          },
          "timestamp": {
            "type": "string",
            "description": "Booking creation time (UTC)"
          },
          "offerId": {
            "type": "string",
            "description": "Offer ID from verify stage"
          },
          "paymentStatus": {
            "type": "string",
            "description": "Payment status: pending, completed, failed, not_required"
          },
          "providerEnvironment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ],
            "description": "Provider environment used for this booking (sandbox or production)"
          },
          "ticketLimitTime": {
            "type": "string",
            "format": "date-time",
            "description": "Deadline for ticket issuance (UTC)"
          },
          "lastRefreshedAt": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp of the last successful provider API status refresh"
          },
          "journey": {
            "type": "object",
            "properties": {
              "journeyKey": {
                "type": "string",
                "description": "Unique journey identifier"
              },
              "segments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FlightSegment"
                },
                "description": "Flight segments in this booking"
              },
              "price": {
                "$ref": "#/components/schemas/FlightPrice",
                "description": "Journey price at time of booking"
              }
            },
            "description": "Journey details as confirmed by the provider at booking time"
          },
          "passengers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Passenger type code (ADT, CHD, INF)"
                },
                "title": {
                  "type": "string",
                  "description": "Passenger title (Mr, Mrs, Ms, etc.)"
                },
                "firstName": {
                  "type": "string",
                  "description": "Passenger first name as on travel document"
                },
                "lastName": {
                  "type": "string",
                  "description": "Passenger last name as on travel document"
                },
                "middleName": {
                  "type": "string",
                  "description": "Passenger middle name"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "Date of birth (YYYY-MM-DD)"
                },
                "birthday": {
                  "type": "string",
                  "format": "date",
                  "description": "Date of birth (YYYY-MM-DD)"
                },
                "gender": {
                  "type": "string",
                  "description": "Passenger gender: M or F"
                },
                "nationality": {
                  "type": "string",
                  "description": "Passenger nationality as ISO country code"
                },
                "passengerType": {
                  "type": "integer",
                  "description": "0=Adult, 1=Child, 2=Infant"
                },
                "documentType": {
                  "type": "string",
                  "description": "Type of travel document (e.g. passport, id_card)"
                },
                "documentNumber": {
                  "type": "string",
                  "description": "Travel document number"
                },
                "documentIssueCountry": {
                  "type": "string",
                  "description": "ISO country code of the document issuing country"
                },
                "documentExpiry": {
                  "type": "string",
                  "description": "Travel document expiry date (YYYY-MM-DD)"
                }
              }
            },
            "description": "Passenger details as submitted and confirmed by the provider"
          },
          "contact": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "description": "Contact first name"
              },
              "lastName": {
                "type": "string",
                "description": "Contact last name"
              },
              "middleName": {
                "type": "string",
                "description": "Contact middle name"
              },
              "email": {
                "type": "string",
                "description": "Contact email address for booking confirmation"
              },
              "phoneCountryCode": {
                "type": "string",
                "description": "Phone country code without + (e.g. 1 for US, 33 for France)"
              },
              "phoneNumber": {
                "type": "string",
                "description": "Phone number without country code"
              }
            },
            "description": "Primary contact person for the booking"
          },
          "order": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string",
                    "description": "Provider order or PNR reference ID"
                  },
                  "provider": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Provider code (e.g. SABRE, TRAVELPORT)"
                      },
                      "pnr": {
                        "type": "string",
                        "description": "Provider PNR (Passenger Name Record) locator code"
                      }
                    },
                    "description": "Provider-level booking reference (code + PNR)"
                  },
                  "airlineBookings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "airlineCode": {
                          "type": "string",
                          "description": "Airline IATA code"
                        },
                        "airlineName": {
                          "type": "string",
                          "description": "Airline name"
                        },
                        "airlinePnr": {
                          "type": "string",
                          "description": "Airline-specific PNR/locator code"
                        },
                        "pnr": {
                          "type": "string",
                          "description": "PNR locator code for this airline"
                        }
                      }
                    },
                    "description": "Per-airline booking references and PNR codes"
                  }
                },
                "description": "Provider and airline reference identifiers"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code for this order"
              },
              "status": {
                "type": "string",
                "description": "Order status from the provider (e.g. ticketed, created)"
              },
              "price": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total order price"
                  }
                },
                "description": "Order price as confirmed by the provider"
              },
              "ticketLimitTime": {
                "type": "string",
                "description": "Deadline for ticket issuance (UTC)"
              },
              "timestamp": {
                "type": "string",
                "description": "UTC timestamp when the order was created"
              }
            },
            "description": "Order and provider confirmation details"
          },
          "airlineLocators": {
            "type": "array",
            "description": "Airline-specific PNR/locator codes",
            "items": {
              "type": "object",
              "properties": {
                "airlineCode": {
                  "type": "string",
                  "description": "Airline IATA code"
                },
                "airlinePnr": {
                  "type": "string",
                  "description": "Airline-specific PNR/locator code"
                }
              }
            }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "subtotal": {
                "type": "number",
                "description": "Subtotal before ancillary services"
              },
              "servicesAmount": {
                "type": "number",
                "description": "Total cost of attached ancillary services (seats, baggage, etc.)"
              },
              "seatsAmount": {
                "type": "number",
                "description": "Total cost of seat selections"
              },
              "baggageAmount": {
                "type": "number",
                "description": "Total cost of additional baggage"
              },
              "totalAmount": {
                "type": "number",
                "description": "Grand total charged to the customer"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code"
              }
            },
            "description": "Billing breakdown for this booking including base fare and any ancillary services"
          },
          "payment": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Amount captured for payment"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code of the payment"
              }
            },
            "description": "Payment amounts captured for this booking"
          },
          "remarks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Remark name or category"
                },
                "value": {
                  "type": "string",
                  "description": "Remark content"
                }
              }
            },
            "description": "Reservation remarks or comments from the provider"
          },
          "selectedServices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectedService"
            },
            "description": "Ancillary services attached to this booking (seats, baggage, etc.)"
          },
          "ticketData": {
            "type": "object",
            "properties": {
              "confirmationId": {
                "type": "string",
                "description": "Ticket confirmation identifier"
              },
              "ticketedAt": {
                "type": "string",
                "description": "UTC timestamp when the ticket was issued"
              },
              "provider": {
                "type": "string",
                "description": "Provider that issued the ticket"
              },
              "source": {
                "type": "string",
                "description": "Source system that generated the ticket"
              }
            },
            "description": "Ticket issuance details from the provider"
          },
          "timings": {
            "type": "object",
            "properties": {
              "startedAt": {
                "type": "string",
                "description": "When the booking flow was initiated"
              },
              "persistedAt": {
                "type": "string",
                "description": "When the booking record was saved to the database"
              },
              "orderSentAt": {
                "type": "string",
                "description": "When the order request was sent to the provider"
              },
              "pnrReceivedAt": {
                "type": "string",
                "description": "When the PNR confirmation was received from the provider"
              },
              "paymentStartedAt": {
                "type": "string",
                "description": "When payment capture was initiated"
              },
              "paymentCompletedAt": {
                "type": "string",
                "description": "When payment capture was completed"
              },
              "completedAt": {
                "type": "string",
                "description": "When the full booking flow was completed"
              }
            },
            "description": "Step-by-step UTC timestamps for booking flow observability"
          },
          "settings": {
            "type": "object",
            "description": "Booking settings"
          },
          "paymentInput": {
            "type": "object",
            "description": "Echo of payment submitted when creating the booking; may include additional provider-specific fields",
            "additionalProperties": true,
            "properties": {
              "method": {
                "type": "string",
                "enum": [
                  "TRANSACTION_ID",
                  "CREDIT"
                ],
                "description": "How the booking was paid: Stripe (`TRANSACTION_ID`) or credit line (`CREDIT`)"
              },
              "transactionId": {
                "type": "string",
                "description": "Stripe transaction id when `method` is `TRANSACTION_ID`"
              }
            }
          }
        }
      },
      "SelectedService": {
        "type": "object",
        "properties": {
          "passengerIndex": {
            "type": "integer",
            "description": "Zero-based index of the passenger this service is for (matches position in passengers array)",
            "example": 0
          },
          "serviceId": {
            "type": "string",
            "description": "Service identifier from servicesAttachable.groups[].services[].serviceId",
            "example": "g6Rwc2lk2SQwMTlkMDY3NC1hMzQzLTc0OGEtYmYyYS1jMDk4ZmNjMTk2ZGGhcMtAfB6PXCj1w6Fjo1VTRA=="
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units of this service to attach",
            "example": 1
          }
        },
        "description": "An ancillary service selected by a passenger (seat, baggage, etc.)"
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Numeric error code"
              },
              "message": {
                "type": "string",
                "description": "Short error message"
              },
              "description": {
                "type": "string",
                "description": "Detailed error description"
              }
            },
            "description": "Error details"
          }
        },
        "description": "Standard error response envelope"
      },
      "FlightBookingCreatePayment": {
        "type": "object",
        "required": [
          "method"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "TRANSACTION_ID",
              "CREDIT"
            ],
            "description": "`TRANSACTION_ID` after Stripe SDK confirmation. `CREDIT` when paying on a credit line (eligibility enforced server-side)."
          },
          "transactionId": {
            "type": "string",
            "description": "Stripe payment intent transaction id when using `TRANSACTION_ID`. Omit when using `CREDIT`.",
            "example": "tr_cts_t0LaZePPxdCM_Kyskafml"
          }
        },
        "description": "Payment for `POST /flights/bookings`: Stripe (`TRANSACTION_ID` + `transactionId`) or credit line (`CREDIT`)"
      },
      "FlightBookingCreateRequest": {
        "title": "Create a flight booking",
        "type": "object",
        "required": [
          "prebookId",
          "payment"
        ],
        "properties": {
          "prebookId": {
            "type": "string",
            "description": "The prebookId from the prebook endpoint (prebook must have completed the book step).",
            "example": "019d0674-834d-7db7-9c8b-93fe8e46e7b8"
          },
          "payment": {
            "$ref": "#/components/schemas/FlightBookingCreatePayment"
          }
        },
        "description": "Request body to complete a flight booking"
      },
      "FlightConnection": {
        "type": "object",
        "properties": {
          "arrivalAirportCode": {
            "type": "string",
            "example": "JFK",
            "description": "IATA code of the airport where the passenger arrives for this connection"
          },
          "arrivalAirportName": {
            "type": "string",
            "example": "John F Kennedy International Airport",
            "description": "Full name of the arrival airport for this connection"
          },
          "arrivalTime": {
            "type": "string",
            "example": "2026-01-20T14:30:00",
            "description": "UTC ISO 8601 arrival time at the connection airport"
          },
          "changeAirport": {
            "type": "boolean",
            "example": true,
            "description": "True if the passenger must change airports during this connection"
          },
          "departureAirportCode": {
            "type": "string",
            "example": "LGA",
            "description": "IATA code of the airport from which the passenger departs after layover"
          },
          "departureAirportName": {
            "type": "string",
            "example": "LaGuardia Airport",
            "description": "Full name of the departure airport after layover"
          },
          "departureTime": {
            "type": "string",
            "example": "2026-01-20T17:15:00",
            "description": "UTC ISO 8601 departure time from the connection airport"
          },
          "direction": {
            "type": "string",
            "enum": [
              "OUTBOUND",
              "INBOUND"
            ],
            "description": "Which leg of the journey this connection belongs to (OUTBOUND or INBOUND)"
          },
          "duration": {
            "$ref": "#/components/schemas/FlightDuration",
            "description": "Connection (layover) duration"
          },
          "overnight": {
            "type": "boolean",
            "example": false,
            "description": "True if the layover crosses midnight (arrival and departure on different calendar days)"
          }
        },
        "description": "Layover details between two consecutive flight segments"
      }
    }
  },
  "tags": [
    {
      "name": "Airlines",
      "description": "Retrieve airline information and IATA codes"
    },
    {
      "name": "Airports",
      "description": "Retrieve airport information and IATA codes"
    },
    {
      "name": "Flight Search",
      "description": "Search for available flights and verify offers"
    },
    {
      "name": "Flight Bookings",
      "description": "Checkout flow: **1.** Create a checkout session (PREBOOK) \u2192 **1.2** Attach services to prebook (optional) \u2192 **2.** Complete a booking. Also includes retrieving a booking by ID."
    }
  ],
  "paths": {
    "/data/flights/airlines/iatas/{iataCode}": {
      "get": {
        "tags": [
          "Airlines"
        ],
        "summary": "Get airline by IATA code",
        "description": "## Overview\n\nRetrieve full details for a specific airline using its 2-letter IATA code.\n\n## When to Use\n\n- **Airline display** - Show airline name, logo, and alliance for a given IATA code\n- **Flight result enrichment** - Fetch airline details to display alongside search results\n- **Data validation** - Verify an airline code and retrieve its metadata\n\n## What You Get\n\n- **Airline details** including name, IATA/ICAO codes, and country\n- **Alliance membership** (Star Alliance, oneworld, SkyTeam, or Vanilla Alliance)\n- **Logo URL** for displaying the airline's logo in your UI\n- **Active status** indicating whether the airline is currently operating\n\n## Quick Start\n\nProvide the 2-letter IATA code (e.g., `AA` for American Airlines) in the URL path.",
        "parameters": [
          {
            "name": "iataCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "2-letter IATA airline code (e.g., AA)",
            "example": "AA"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airline": {
                            "$ref": "#/components/schemas/Airline",
                            "description": "Airline details for the requested IATA code"
                          }
                        }
                      },
                      "description": "Single airline result"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airline": {
                        "active": true,
                        "alliance": "oneworld",
                        "callsign": "AMERICAN",
                        "country": "United States",
                        "iata": "AA",
                        "icao": "AAL",
                        "logo": "https://production.nuitee.flights/static/images/airlines/AA.png",
                        "name": "American Airlines"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Airline not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4040,
                    "description": "Airline not found",
                    "message": "not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/flights/airports/iatas/{iataCode}": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "Get airport by IATA code",
        "description": "## Overview\n\nRetrieve detailed information for a specific airport using its 3-letter IATA code.\n\n## When to Use\n\n- **Airport display** - Show airport name, city, and country for a given IATA code\n- **Flight result enrichment** - Fetch airport details to display alongside origin/destination in search results\n- **Autocomplete validation** - Verify an airport code and retrieve its full details\n\n## What You Get\n\n- **Airport details** including name, city, country, and timezone\n- **IATA and ICAO codes** for the airport\n- **Geographic coordinates** (latitude and longitude)\n- **Country and city** information for display purposes\n\n## Quick Start\n\nProvide the 3-letter IATA code (e.g., `JFK` for John F. Kennedy International) in the URL path.",
        "parameters": [
          {
            "name": "iataCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-letter IATA airport code (e.g., JFK)",
            "example": "JFK"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airport": {
                            "$ref": "#/components/schemas/Airport",
                            "description": "Airport details for the requested IATA code"
                          }
                        }
                      },
                      "description": "Single airport result"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airport": {
                        "city": "New York",
                        "country": "United States",
                        "iata": "JFK",
                        "icao": "KJFK",
                        "lat": 40.63980103,
                        "lon": -73.77890015,
                        "name": "John F Kennedy International Airport",
                        "state": "New York",
                        "tz": "America/New_York"
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4040,
                    "description": "Airport not found",
                    "message": "not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/flights/airports/iatas": {
      "get": {
        "tags": [
          "Airports"
        ],
        "summary": "List airport IATA codes",
        "description": "## Overview\n\nRetrieve a lightweight list of airport IATA codes with names for autocomplete and lookup purposes.\n\n## When to Use\n\n- **Autocomplete dropdowns** - Populate airport search inputs with a full list of codes and names\n- **Client-side filtering** - Download the full list once and filter locally\n- **Code validation** - Build a lookup table of valid airport codes\n\n## What You Get\n\n- **IATA codes** for all airports in the database\n- **Airport names** paired with each code\n- **Filtered results** when the `q` query parameter is provided\n\n## Quick Start\n\nCall with no parameters to get all airport codes and names. Use the `q` parameter to filter by name or code.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "example": "JFK"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airports": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/AirportIATA"
                            },
                            "description": "List of airport IATA codes and names"
                          }
                        }
                      },
                      "description": "List of airport IATA result sets"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "airports": [
                        {
                          "iata": "JFK",
                          "name": "John F Kennedy International Airport"
                        },
                        {
                          "iata": "LHR",
                          "name": "London Heathrow Airport"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights/rates": {
      "post": {
        "tags": [
          "Flight Search"
        ],
        "summary": "Search for flights",
        "description": "## Overview\n\nSearch for available flights between any two airports with real-time results from multiple providers. Supports one-way and round-trip searches with flexible filtering options.\n\n## When to Use\n\n- **Display flight listings** with live pricing on your search results page\n- **One-way and round-trip** flight searches for any route\n- **Filter results** by cabin class, number of stops, price, or refundability\n- **Stream results** as they arrive from each provider using SSE\n\n## What You Get\n\n- **Flight offers** from multiple providers with real-time pricing\n- **Complete itineraries** with segments, layovers, and flight durations\n- **Pricing breakdown** including taxes, fees, and fare family details\n- **Baggage allowances** per offer for each passenger type\n\n## Key Features\n\n- **Multi-provider search**: Aggregates results from multiple flight providers in a single request\n- **SSE streaming**: Send `Accept: text/event-stream` to receive results as each provider responds (Server-Sent Events)\n- **Flexible filtering**: Filter by `cabinClass`, `maxStops`, `maxPrice`, `refundableOnly`, departure time range, and more\n- **Round-trip support**: Include `returnDate` for round-trip searches\n\n## Quick Start\n\n**Required fields**: `origin` (IATA code), `destination` (IATA code), `departureDate` (YYYY-MM-DD)\n\n**Tip**: Add `returnDate` for round-trip results. Send `Accept: text/event-stream` for faster time-to-first-result on your search page (SSE).",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "origin",
                  "destination",
                  "departureDate",
                  "adults",
                  "currency"
                ],
                "properties": {
                  "origin": {
                    "type": "string",
                    "description": "Origin IATA airport code",
                    "example": "JFK"
                  },
                  "destination": {
                    "type": "string",
                    "description": "Destination IATA airport code",
                    "example": "CDG"
                  },
                  "departureDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Departure date (YYYY-MM-DD)",
                    "example": "2026-07-01"
                  },
                  "returnDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Return date for round trip (YYYY-MM-DD)",
                    "example": "2026-08-02"
                  },
                  "adults": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of adults (12+)",
                    "example": 1
                  },
                  "children": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of children (2-11)",
                    "example": 0
                  },
                  "infants": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of infants (<2)",
                    "example": 0
                  },
                  "childrenAges": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 2,
                      "maximum": 11
                    },
                    "description": "Age of each child (2\u201311 inclusive, per IATA). Length must equal children count. Optional \u2014 omit if ages are not relevant.",
                    "example": [
                      5,
                      11
                    ]
                  },
                  "infantAges": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "description": "Age of each infant (under 2, per IATA). Length must equal infants count. Optional \u2014 omit if ages are not relevant.",
                    "example": [
                      1
                    ]
                  },
                  "cabinClass": {
                    "type": "string",
                    "enum": [
                      "Economy",
                      "Business",
                      "First"
                    ],
                    "description": "Cabin class preference",
                    "example": "Economy"
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 1,
                    "description": "ISO 4217 currency code",
                    "example": "USD"
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional ISO 3166-1 alpha-2 country code for point of sale",
                    "example": "US"
                  },
                  "maxStops": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": -1,
                    "maximum": 2,
                    "description": "Maximum number of stops: -1 or omit = any, 0 = nonstop, 1 = 1 or fewer, 2 = 2 or fewer",
                    "example": 0
                  },
                  "filters": {
                    "type": "object",
                    "description": "Optional filters to refine search results",
                    "example": {
                      "maxStops": 1,
                      "maxPrice": 1500,
                      "includesCheckedBag": false,
                      "refundableOnly": false
                    },
                    "properties": {
                      "arrivalTimeBefore": {
                        "type": "string",
                        "description": "Filter journeys arriving before this time (HH:MM, 24h)",
                        "example": "18:00",
                        "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
                      },
                      "cabinClassMatch": {
                        "type": "string",
                        "enum": [
                          "exactly",
                          "at_least"
                        ],
                        "description": "'exactly' for exact match, 'at_least' for selected cabin or better",
                        "example": "at_least"
                      },
                      "changeableOnly": {
                        "type": "boolean",
                        "description": "When true, only show offers with changeable (modifiable) fares",
                        "example": false
                      },
                      "departureTimeBefore": {
                        "type": "string",
                        "description": "Filter journeys departing before this time (HH:MM, 24h)",
                        "example": "14:00",
                        "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
                      },
                      "excludeConnectionAirports": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Exclude layovers at these airports (e.g. IST, DOH)",
                        "example": [
                          "IST",
                          "DOH"
                        ]
                      },
                      "excludeOvernight": {
                        "type": "boolean",
                        "description": "Exclude red-eye flights and overnight layovers",
                        "example": false
                      },
                      "flightNumbers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Filter by flight numbers (e.g. SK500, AF123)",
                        "example": [
                          "DE2017",
                          "DE4265"
                        ]
                      },
                      "flightNumbersMatch": {
                        "type": "string",
                        "enum": [
                          "any",
                          "all"
                        ],
                        "description": "'any' = at least one match, 'all' = all specified flights",
                        "example": "any"
                      },
                      "includesCarryOnBag": {
                        "type": "boolean",
                        "description": "Only show offers with carry-on included",
                        "example": false
                      },
                      "includesCheckedBag": {
                        "type": "boolean",
                        "description": "Only show offers with checked bag included",
                        "example": false
                      },
                      "legDurations": {
                        "type": "array",
                        "description": "Per-leg max duration constraints. Each entry limits one direction (OUTBOUND or INBOUND) independently.",
                        "example": [
                          {
                            "direction": "OUTBOUND",
                            "maxMinutes": 600
                          },
                          {
                            "direction": "INBOUND",
                            "maxMinutes": 720
                          }
                        ],
                        "items": {
                          "type": "object",
                          "required": [
                            "direction",
                            "maxMinutes"
                          ],
                          "properties": {
                            "direction": {
                              "type": "string",
                              "enum": [
                                "OUTBOUND",
                                "INBOUND"
                              ],
                              "description": "Which leg to constrain",
                              "example": "OUTBOUND"
                            },
                            "maxMinutes": {
                              "type": "integer",
                              "minimum": 1,
                              "description": "Maximum leg duration in minutes (inclusive)",
                              "example": 600
                            }
                          }
                        }
                      },
                      "maxDuration": {
                        "type": "integer",
                        "minimum": 1,
                        "nullable": true,
                        "description": "Maximum total journey duration in minutes (inclusive). Journeys exceeding this duration are excluded.",
                        "example": 600
                      },
                      "maxPrice": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum total price (offer total, in search currency)",
                        "example": 1500
                      },
                      "minPrice": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum total price (offer total, in search currency)",
                        "example": 200
                      },
                      "maxStops": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": -1,
                        "maximum": 2,
                        "description": "Maximum stops (same semantics as top-level maxStops)",
                        "example": 1
                      },
                      "refundableOnly": {
                        "type": "boolean",
                        "description": "When true, only show offers with refundable fares",
                        "example": false
                      },
                      "showCheapestOfferOnly": {
                        "type": "boolean",
                        "description": "Return only cheapest offer per journey",
                        "example": false
                      }
                    }
                  },
                  "sort": {
                    "type": "object",
                    "description": "Sort options for results",
                    "example": {
                      "sortBy": "price",
                      "sortOrder": "asc"
                    },
                    "properties": {
                      "sortBy": {
                        "type": "string",
                        "enum": [
                          "price",
                          "duration",
                          "departure",
                          "arrival",
                          "stops"
                        ],
                        "description": "Sort by price, duration, departure, arrival, or stops",
                        "example": "price"
                      },
                      "sortOrder": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ],
                        "description": "asc or desc",
                        "example": "asc"
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "Search execution options",
                    "example": {
                      "providers": [
                        "SABRE"
                      ]
                    },
                    "properties": {
                      "providers": {
                        "description": "Filter by specific providers. When set, bypasses cache.",
                        "example": [
                          "TRAVELPORT"
                        ],
                        "items": {
                          "enum": [
                            "ATLAS",
                            "SABRE",
                            "TRAVELPORT",
                            "FLIGHTHUB"
                          ],
                          "type": "string"
                        },
                        "type": "array",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              "example": {
                "origin": "JFK",
                "destination": "CDG",
                "departureDate": "2026-07-01",
                "returnDate": "2026-08-02",
                "adults": 1,
                "children": 0,
                "infants": 0,
                "currency": "USD",
                "country": "US",
                "maxStops": -1,
                "sort": {
                  "sortBy": "price",
                  "sortOrder": "asc"
                }
              }
            }
          },
          "description": "Flight search parameters including route, dates, passengers, and optional filters"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "journeys": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/FlightJourney"
                            },
                            "description": "Journeys returned by this provider batch, sorted by price ascending"
                          }
                        }
                      },
                      "description": "List of search result sets, one per provider batch"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "journeys": [
                        {
                          "journeyKey": "a3bbe883fe3a4f6b",
                          "isCheapest": true,
                          "timestamp": "2026-03-19T12:52:59.494Z",
                          "totalDuration": {
                            "iso8601": "PT7H45M",
                            "minutes": 465
                          },
                          "legDurations": [
                            {
                              "direction": "OUTBOUND",
                              "duration": {
                                "iso8601": "PT7H45M",
                                "minutes": 465
                              },
                              "dayChange": 1,
                              "overnightFlight": false
                            }
                          ],
                          "parameters": {
                            "adults": 1,
                            "children": 0,
                            "infants": 0
                          },
                          "segments": [
                            {
                              "segmentKey": "d0a8a7dd",
                              "originCode": "JFK",
                              "originName": "John F. Kennedy International Airport",
                              "destinationCode": "CDG",
                              "destinationName": "Charles de Gaulle Airport",
                              "departureTime": "2026-07-01T16:10:00",
                              "arrivalTime": "2026-07-02T05:55:00",
                              "direction": "OUTBOUND",
                              "duration": {
                                "iso8601": "PT7H45M",
                                "minutes": 465
                              },
                              "flight": {
                                "marketingNumber": "2017",
                                "operatingNumber": "2017"
                              },
                              "carrier": {
                                "marketingCode": "DE",
                                "marketingLogo": "https://sandbox.nuitee.flights/static/images/airlines/DE.png",
                                "marketingName": "Condor Flugdienst",
                                "operatingCode": "DE",
                                "operatingLogo": "https://sandbox.nuitee.flights/static/images/airlines/DE.png",
                                "operatingName": "Condor Flugdienst"
                              }
                            }
                          ],
                          "offers": [
                            {
                              "offerId": "h6NwaWTZJDAxOWQwNjFlLWRlMjYtNzI1NC1hZDNmLTA0ZDkwZmMxMDNhZaJ0cMtAh471wo9cKaJtdctAJAAAAAAAAKNjdXKjVVNEo3VpZM0CeaJkZKoyMDI2LTA3LTAxonJkqjIwMjYtMDgtMDI=",
                              "expiration": "2026-03-19T12:52:59.494Z",
                              "pricing": {
                                "display": {
                                  "total": 753.87,
                                  "currency": "USD",
                                  "base": 403.63,
                                  "fees": 0,
                                  "taxes": 350.24,
                                  "perPassenger": {
                                    "adult": {
                                      "base": 403.63,
                                      "currency": "USD",
                                      "fees": 0,
                                      "taxes": 350.24,
                                      "total": 753.87
                                    },
                                    "child": {
                                      "base": 0,
                                      "currency": "USD",
                                      "fees": 0,
                                      "taxes": 0,
                                      "total": 0
                                    },
                                    "infant": {
                                      "base": 0,
                                      "currency": "USD",
                                      "fees": 0,
                                      "taxes": 0,
                                      "total": 0
                                    }
                                  }
                                },
                                "converted": false,
                                "fxInfo": null
                              },
                              "provider": {
                                "code": "SABRE",
                                "logo": "https://sandbox.nuitee.flights/static/providers/sabre.svg"
                              },
                              "fare": {
                                "family": "Economy",
                                "mixedCabin": false,
                                "seatsRemaining": 7
                              },
                              "baggage": {
                                "hasCarryOnBag": true,
                                "hasCheckedBag": false,
                                "included": [
                                  {
                                    "bagType": "cabin",
                                    "description": "1 carry-on bag up to 8 kg",
                                    "passengerType": "ADT",
                                    "pieces": 1,
                                    "pricing": {
                                      "display": {
                                        "amount": 0,
                                        "currency": "USD"
                                      },
                                      "converted": false
                                    },
                                    "unit": "kg",
                                    "weightKg": 8
                                  }
                                ]
                              },
                              "terms": {
                                "changeable": false,
                                "refundable": false,
                                "summary": [
                                  {
                                    "level": "danger",
                                    "message": "Non-refundable fare"
                                  }
                                ]
                              },
                              "segmentFares": [
                                {
                                  "segmentKey": "d0a8a7dd",
                                  "bookingCode": "W",
                                  "cabin": "Economy",
                                  "fareBasisCode": "WRAQ1",
                                  "fareFamily": "Economy",
                                  "seatsRemaining": 7
                                }
                              ],
                              "segmentAmenities": [
                                {
                                  "segmentKey": "d0a8a7dd",
                                  "aircraftType": "339",
                                  "amenities": [
                                    {
                                      "available": true,
                                      "category": "wifi",
                                      "chargeable": true,
                                      "name": "Wi-Fi",
                                      "details": "Available for purchase"
                                    },
                                    {
                                      "available": true,
                                      "category": "entertainment",
                                      "chargeable": false,
                                      "name": "In-seat entertainment",
                                      "details": null
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "When the request includes `Accept: text/event-stream`. SSE stream; each event: data: {json}\n\n"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": 4002,
                    "description": "Missing required parameters: origin, destination, departureDate are required",
                    "message": "bad request"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flights/verify": {
      "post": {
        "tags": [
          "Flight Search"
        ],
        "summary": "Verify flight offer",
        "description": "## Overview\n\nConfirm a flight offer is still available and retrieve the latest pricing before proceeding to booking. Always verify before prebooking to avoid price discrepancies.\n\n## When to Use\n\n- **Pre-booking validation** - Confirm offer availability after user selects a flight\n- **Price confirmation** - Show users the guaranteed price before they enter payment details\n- **Fare rule retrieval** - Get the latest cancellation and change policies\n\n## What You Get\n\n- **Verified pricing** with up-to-date fare breakdown\n- **Fare family details** including name and included amenities\n- **Baggage policy** for each passenger type and segment\n- **Booking terms** including cancellation and change fee rules\n\n## Key Features\n\n- **Real-time price check**: Confirms current availability and price with the provider\n- **Updated baggage info**: Returns the latest baggage allowances at time of verification\n- **Fare rules**: Includes cancellation and change fee policies before commitment\n\n## Quick Start\n\nProvide the `offerId` from `/flights/rates` search results. Use the verified offer data to populate a booking summary page before proceeding to `/flights/prebook`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "offerId"
                ],
                "properties": {
                  "offerId": {
                    "type": "string",
                    "description": "The offerId from the search results"
                  }
                }
              },
              "example": {
                "offerId": "h6NwaWTZJDAxOWQwNjIwLWQzMDItNzBiYS04OGUxLTdlMTdkMzYyZDQ0MKJ0cMtAkdkUeuFHrqJtdcsAAAAAAAAAAKNjdXKjVVNEo3VpZM0CeaJkZKoyMDI2LTA3LTAxonJkqjIwMjYtMDgtMDI="
              }
            }
          },
          "description": "The offerId to verify before booking"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "journey": {
                            "$ref": "#/components/schemas/FlightVerifyJourney",
                            "description": "Verified journey with updated pricing, baggage, and terms"
                          }
                        }
                      },
                      "description": "Verified journey result"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "journey": {
                        "journeyKey": "26b2fa3085dc22b2",
                        "offerId": "019d0620-d302-70ba-88e1-7e17d362d440",
                        "expiration": "2026-03-19T13:15:09.485Z",
                        "timestamp": "2026-03-19T12:45:07.715Z",
                        "provider": {
                          "code": "SABRE",
                          "logo": "https://production.nuitee.flights/static/providers/sabre.svg"
                        },
                        "pricing": {
                          "display": {
                            "total": 1423.42,
                            "currency": "USD",
                            "base": 1127.92,
                            "fees": 0,
                            "taxes": 295.5,
                            "perPassenger": {
                              "adult": {
                                "base": 1127.92,
                                "currency": "USD",
                                "fees": 0,
                                "taxes": 295.5,
                                "total": 1423.42
                              },
                              "child": {
                                "base": 0,
                                "currency": "USD",
                                "fees": 0,
                                "taxes": 0,
                                "total": 0
                              },
                              "infant": {
                                "base": 0,
                                "currency": "USD",
                                "fees": 0,
                                "taxes": 0,
                                "total": 0
                              }
                            }
                          },
                          "converted": true,
                          "fxInfo": {
                            "rate": 1.35241967,
                            "source": "nuitee",
                            "timestamp": "2026-03-19T12:45:20.772Z"
                          }
                        },
                        "baggage": {
                          "hasCarryOnBag": true,
                          "hasCheckedBag": true,
                          "included": [
                            {
                              "bagType": "checked",
                              "description": "",
                              "passengerType": "ADT",
                              "pieces": 1,
                              "pricing": {
                                "display": {
                                  "amount": 0,
                                  "currency": "EUR"
                                },
                                "converted": false
                              },
                              "weightKg": 23
                            },
                            {
                              "bagType": "cabin",
                              "description": "Cabin bag",
                              "passengerType": "ADT",
                              "pieces": 1,
                              "pricing": {
                                "display": {
                                  "amount": 0,
                                  "currency": "EUR"
                                },
                                "converted": false
                              },
                              "unit": "kg",
                              "weightKg": 8
                            }
                          ]
                        },
                        "fare": {
                          "family": "Economy",
                          "mixedCabin": false,
                          "seatsRemaining": 9
                        },
                        "passengers": {
                          "adults": 1,
                          "children": 0,
                          "infants": 0
                        },
                        "segments": [
                          {
                            "segmentKey": "096fada4",
                            "originCode": "JFK",
                            "originName": "John F. Kennedy International Airport",
                            "destinationCode": "FRA",
                            "destinationName": "Frankfurt Main Airport",
                            "departureTime": "2026-07-01T16:25:00",
                            "arrivalTime": "2026-07-02T06:10:00",
                            "direction": "OUTBOUND",
                            "duration": {
                              "iso8601": "PT7H45M",
                              "minutes": 465
                            },
                            "flight": {
                              "marketingNumber": "2017",
                              "operatingNumber": "2017"
                            },
                            "carrier": {
                              "marketingCode": "DE",
                              "marketingLogo": "https://production.nuitee.flights/static/images/airlines/DE.png",
                              "marketingName": "Condor Flugdienst",
                              "operatingCode": "DE",
                              "operatingLogo": "https://production.nuitee.flights/static/images/airlines/DE.png",
                              "operatingName": "Condor Flugdienst"
                            }
                          },
                          {
                            "segmentKey": "8528a309",
                            "originCode": "FRA",
                            "originName": "Frankfurt Main Airport",
                            "destinationCode": "CDG",
                            "destinationName": "Charles de Gaulle International Airport",
                            "departureTime": "2026-07-02T08:55:00",
                            "arrivalTime": "2026-07-02T10:15:00",
                            "direction": "OUTBOUND",
                            "duration": {
                              "iso8601": "PT1H20M",
                              "minutes": 80
                            },
                            "flight": {
                              "marketingNumber": "4265",
                              "operatingNumber": "4265"
                            },
                            "carrier": {
                              "marketingCode": "DE",
[...]
