{
  "openapi": "3.0.0",
  "info": { "title": "API: Hotel data", "version": "3.0.0" },
  "servers": [{ "url": "https://api.liteapi.travel/v3.0" }],
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "paths": {
    "/data/places": {
      "get": {
        "tags": ["Places"],
        "summary": "Search for a list of places",
        "description": "Look up for a list of places and areas, given a search query. Places can be used to search for hotels within a location and restrict the list to results within the boundaries of a selected place.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "textQuery",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query. e.g. 'Manhattan'",
            "required": true,
            "example": "Manhattan"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restricts the results to places matching the specified type. e.g. 'hotel'",
            "example": "hotel"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The language code, indicating in which language the results should be returned. e.g. 'en'",
            "example": "en"
          },
          {
            "name": "clientIP",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The IP address of the client making the request.",
            "example": "176.31.84.249"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "5"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "4"
                }
              },
              "X-Ratelimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": "1721314949"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ljgo-XZyYUfs8xBtfdhTo"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 18 Jul 2024 15:02:29 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "275"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "placeId": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "types": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "placeId": "ChIJu1K2erNv5kcR6HyzBQieKJ0",
                      "displayName": "Rome",
                      "formattedAddress": "75017 París, Francia",
                      "types": [
                        "subway_station",
                        "transit_station",
                        "point_of_interest",
                        "establishment"
                      ],
                      "language": "fr"
                    },
                    {
                      "placeId": "ChIJNcQlLHTIzhIRSLrqN9rgv5Q",
                      "displayName": "Paris Rome",
                      "formattedAddress": "4 Rue de Provence, 75009 Paris, Francia",
                      "types": [
                        "hotel",
                        "lodging",
                        "point_of_interest",
                        "establishment"
                      ],
                      "language": "es"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "5"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "4"
                }
              },
              "X-Ratelimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": "1721314949"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ljgo-XZyYUfs8xBtfdhTo"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 18 Jul 2024 15:02:29 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "275"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "value": {
                    "error": {
                      "code": 4002,
                      "description": "query parameter 'textQuery' is required",
                      "message": "required request field is missing or wrong input"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/places/{placeId}": {
      "get": {
        "tags": ["Places"],
        "summary": "Search for a specific place",
        "description": "Look up for a specific place, given a search query. Places can be used to search for hotels within a location and restrict the list to results within the boundaries of a selected place.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "placeId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the voucher to retrieve.",
            "required": true,
            "example": "ChIJu1K2erNv5kcR6HyzBQieKJ0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "5"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "4"
                }
              },
              "X-Ratelimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": "1721314949"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ljgo-XZyYUfs8xBtfdhTo"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 18 Jul 2024 15:02:29 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "275"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "placeId": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "types": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "placeId": "ChIJu1K2erNv5kcR6HyzBQieKJ0",
                      "displayName": "Rome",
                      "formattedAddress": "75017 París, Francia",
                      "types": [
                        "subway_station",
                        "transit_station",
                        "point_of_interest",
                        "establishment"
                      ],
                      "language": "fr"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Ratelimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "5"
                }
              },
              "X-Ratelimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "4"
                }
              },
              "X-Ratelimit-Reset": {
                "schema": {
                  "type": "integer",
                  "example": "1721314949"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ljgo-XZyYUfs8xBtfdhTo"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 18 Jul 2024 15:02:29 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "275"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "value": {
                    "error": {
                      "code": 4003,
                      "description": "invalid place ID",
                      "message": "request field is invalid or wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/data/hotels": {
      "get": {
        "tags": ["Hotels"],
        "summary": "Retrieve a list of hotels",
        "description": "This API endpoint returns a **list of hotels** available based on different search criterion.\n\nThe API supports additional search criteria such as city name, geo coordinates, and radius.\n\nThis endpoint provides detailed hotel metadata, including names, addresses, ratings, amenities, and images, facilitating robust hotel search and display features within applications.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code ISO-2 code - example (SG)",
            "example": "US"
          },
          {
            "name": "cityName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name of the city",
            "example": "New York"
          },
          {
            "name": "hotelName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name of the hotel (loose match, case-insensitive, e.g. 'hilton')",
            "example": "Hilton"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Specifies the number of rows to skip before starting to return rows",
            "example": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Specifies the maximum number of results to return. By default, this is set to 200, even if not explicitly defined. If a higher limit is specified, the maximum allowed is 5000 results",
            "example": "1000"
          },
          {
            "name": "aiSearch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for AI search",
            "example": "Hotels near the Eiffel tower"
          },
          {
            "schema": {
              "type": "number",
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          },
          {
            "name": "zip",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "ZIP code of the location",
            "example": "08401"
          },
          {
            "name": "minRating",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "in": "query",
            "description": "Minimum rating of the hotel. e.g. 8.6",
            "example": "8.6"
          },
          {
            "name": "minReviewsCount",
            "schema": {
              "type": "number",
              "format": "integer"
            },
            "in": "query",
            "description": "Minimum number of reviews. e.g. 100",
            "example": "100"
          },
          {
            "name": "facilityIds",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of facilities. e.g. '1,2,3'",
            "example": "1,2,3"
          },
          {
            "name": "hotelTypeIds",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of hotel types. e.g. '201,204,208'",
            "example": "201,204,208"
          },
          {
            "name": "chainIds",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of hotel chain ids. e.g. '14675,14677'",
            "example": "14675,14677"
          },
          {
            "name": "strictFacilitiesFiltering",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "If `true`, only hotels with all the specified facilities will be returned",
            "example": false
          },
          {
            "name": "starRating",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma-separated list of star ratings. Note: star ratings have 2 allowed decimals '.0' and '.5' from 1 to 5. e.g. '3.5,4.0,5.0'",
            "example": "3.5,4.0,5.0"
          },
          {
            "name": "placeId",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Unique ID of a place retrieved from the places endpoint",
            "example": "ChIJYeZuBI9YwokRjMDs_IEyCwo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the hotel"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the hotel"
                          },
                          "hotelDescription": {
                            "type": "string",
                            "description": "A brief description of the hotel and its facilities"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency code used for hotel pricing (e.g., USD, EUR)"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country where the hotel is located"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city where the hotel is situated"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "The latitude coordinate of the hotel's location"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "The longitude coordinate of the hotel's location"
                          },
                          "address": {
                            "type": "string",
                            "description": "The street address of the hotel"
                          },
                          "zip": {
                            "type": "string",
                            "description": "The postal code of the hotel"
                          },
                          "main_photo": {
                            "type": "string",
                            "description": "The main image representing the hotel"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "A smaller version of the main photo used for previews"
                          },
                          "stars": {
                            "type": "number",
                            "description": "The hotel's star rating (e.g., 3, 4, 5 stars)"
                          },
                          "hotelTypeId": {
                            "type": "number",
                            "description": "The unique identifier for the hotel's category or type"
                          },
                          "chainId": {
                            "type": "number",
                            "description": "The unique identifier of the hotel chain"
                          },
                          "chain": {
                            "type": "string",
                            "description": "The name of the hotel chain, if applicable (e.g., Hilton, Marriott)."
                          },
                          "accessibilityAttributes": {
                            "type": "object",
                            "properties": {
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "List of attributes representing boolean fields that are true."
                              },
                              "showerChair": {
                                "type": "string",
                                "nullable": true,
                                "description": "Information about the availability of a shower chair."
                              },
                              "entranceType": {
                                "type": "string",
                                "nullable": true,
                                "description": "Type of entrance, e.g., automatic or manual."
                              },
                              "petFriendly": {
                                "type": "string",
                                "description": "Indicates if the hotel is pet-friendly."
                              },
                              "rampAngle": {
                                "type": "number",
                                "format": "float",
                                "description": "The angle of the ramp in degrees."
                              },
                              "rampLength": {
                                "type": "number",
                                "format": "float",
                                "description": "The length of the ramp in meters."
                              },
                              "entranceDoorWidth": {
                                "type": "integer",
                                "description": "Width of the entrance door in centimeters."
                              },
                              "roomMaxGuestsNumber": {
                                "type": "integer",
                                "description": "Maximum number of guests allowed in the room."
                              },
                              "distanceFromTheElevatorToTheAccessibleRoom": {
                                "type": "number",
                                "format": "float",
                                "description": "Distance from the elevator to the accessible room in meters."
                              }
                            },
                            "required": [
                              "attributes",
                              "petFriendly",
                              "rampAngle",
                              "rampLength",
                              "entranceDoorWidth",
                              "roomMaxGuestsNumber",
                              "distanceFromTheElevatorToTheAccessibleRoom"
                            ],
                            "description": "A compact representation of the hotel's accessibility features."
                          },
                          "deletedAt": {
                            "type": "string",
                            "description": "Timestamp indicating when hotel is deleted in our system"
                          }
                        }
                      }
                    },
                    "hotelIds": {
                      "type": "array",
                      "description": "An array of unique hotel identifiers that match the specified filters or query parameters, allowing quick reference to specific hotels.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "The total number of hotels retrieved based on the applied filters or query parameters."
                    }
                  }
                },
                "examples": {
                  "HR Sibenik 3 hotels": {
                    "value": {
                      "data": [
                        {
                          "id": "lp42fec",
                          "name": "Hotel Jadran",
                          "hotelDescription": "Location : With a stay at Hotel Jadran in Sibenik (Sibenik Old Town), you'll be steps from Museum of Church Art and Church of St. Barbara.  This hotel is 10.6 mi (17 km) from Krka National Park and 0.1 mi (0.1 km) from Sibenik Aquarium.<br/>Amenities : Take in the views from a terrace and a garden and make use of amenities such as complimentary wireless Internet access. Additional amenities at this hotel include concierge services, wedding services, and a television in a common area.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Museum of Church Art - 0.1 km / 0.1 mi <br /> Church of St. Barbara - 0.1 km / 0.1 mi <br /> Bunari Museum - 0.1 km / 0.1 mi <br /> Sibenik Aquarium - 0.2 km / 0.1 mi <br /> Cathedral of St. James - 0.2 km / 0.1 mi <br /> Benedictine Monastery of St. Lucia - 0.2 km / 0.2 mi <br /> Church of St. Krsevan - 0.3 km / 0.2 mi <br /> Church of St. Ivan - 0.3 km / 0.2 mi <br /> Uspenie Bogomatere Church - 0.3 km / 0.2 mi <br /> Church and Monastery of St.Francis - 0.3 km / 0.2 mi <br /> Medieval Mediterranean Garden of the Monastery of St. Lawrence - 0.3 km / 0.2 mi <br /> Church of Saint Spirit - 0.3 km / 0.2 mi <br /> Church of Gospe van Grada - 0.5 km / 0.3 mi <br /> St Michael's Fortress - 0.7 km / 0.4 mi <br /> Subicevac Fortress - 1 km / 0.6 mi <br /> </p><p>The nearest airports are:<br />Split Airport (SPU) - 60.1 km / 37.4 mi<br /> Zadar (ZAD) - 77.1 km / 47.9 mi<br /> </p><p>The preferred airport for Hotel Jadran is Zadar (ZAD). </p><br/>business_amenities : Featured amenities include a business center, dry cleaning/laundry services, and a 24-hour front desk. Planning an event in Sibenik? This hotel has 699 square feet (65 square meters) of space consisting of conference space and a meeting room. Guests may use a ferry terminal shuttle for a surcharge, and self parking (subject to charges) is available onsite.<br/>Dining : Enjoy a meal at the restaurant or snacks in the coffee shop/cafe. The hotel also offers room service (during limited hours). Quench your thirst with your favorite drink at the bar/lounge.<br/>HeadLine : In Sibenik (Sibenik Old Town)<br/>Rooms : Make yourself at home in one of the 57 air-conditioned guestrooms. Satellite television is provided for your entertainment. Private bathrooms with bathtubs feature complimentary toiletries and hair dryers. Conveniences include phones and desks, and housekeeping is provided daily.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.73464,
                          "longitude": 15.88974,
                          "address": "Obala dr. Franje Tudmana 52",
                          "zip": "22000",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/274412.jpg",
                          "thumbnail": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/274412.jpg",
                          "hotelTypeId": 204,
                          "chainId": 0,
                          "chain": "Not Available",
                          "stars": 3,
                          "facilityIds": [1, 2, 3],
                          "accessibilityAttributes": {
                            "attributes": [
                              "entranceLeveled",
                              "restaurantWheelchairAccessible",
                              "cabinUnderSink"
                            ],
                            "showerChair": "",
                            "entranceType": "electric",
                            "petFriendly": "",
                            "rampAngle": 0,
                            "rampLength": 0,
                            "entranceDoorWidth": 0,
                            "roomMaxGuestsNumber": 0,
                            "distanceFromTheElevatorToTheAccessibleRoom": 0
                          }
                        },
                        {
                          "id": "lp50f7f",
                          "name": "Apartmani Ani",
                          "hotelDescription": "Location : When you stay at Apartmani Ani in Sibenik, you'll be near the beach and within a 5-minute drive of Krapanj Franciscan Monastery.  This apartment is 12.8 mi (20.6 km) from Krka National Park and 6 mi (9.7 km) from Dalmatian Ethno Village.<br/>Amenities : Take in the views from a terrace and a garden and make use of amenities such as complimentary wireless Internet access. This apartment also features tour/ticket assistance and barbecue grills.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Krapanj Franciscan Monastery - 4.2 km / 2.6 mi <br /> Dalmatian Ethno Village - 9.7 km / 6 mi <br /> Church of St. Barbara - 11 km / 6.8 mi <br /> Museum of Church Art - 11 km / 6.8 mi <br /> Bunari Museum - 11.1 km / 6.9 mi <br /> Church of Gospe van Grada - 11.9 km / 7.4 mi <br /> Church and Monastery of St.Francis - 12.1 km / 7.5 mi <br /> Sibenik Aquarium - 12.4 km / 7.7 mi <br /> Subicevac Fortress - 12.4 km / 7.7 mi <br /> Cathedral of St. James - 12.5 km / 7.8 mi <br /> Benedictine Monastery of St. Lucia - 12.5 km / 7.8 mi <br /> Beach Rtic - 13 km / 8.1 mi <br /> St. John's Fortress - 14 km / 8.7 mi <br /> Sokolarski Raptor Centre - 14 km / 8.7 mi <br /> Medieval Mediterranean Garden of the Monastery of St. Lawrence - 14.3 km / 8.9 mi <br /> </p><p>The preferred airport for Apartmani Ani is Split Airport (SPU) - 50.2 km / 31.2 mi </p><br/>business_amenities : Free self parking is available onsite.<br/>HeadLine : Near the beach<br/>Rooms : Make yourself at home in one of the 7 air-conditioned rooms featuring kitchens with full-sized refrigerators/freezers and stovetops. Rooms have private balconies or patios. Complimentary wireless Internet access keeps you connected, and satellite programming is available for your entertainment. Conveniences include safes and coffee/tea makers.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.660413,
                          "longitude": 15.947561,
                          "address": "Bubanj I / Br. 10",
                          "zip": "22010",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/331647.jpg",
                          "thumbnail": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/331647.jpg",
                          "hotelTypeId": 201,
                          "chainId": 0,
                          "chain": "Not Available",
                          "stars": 3,
                          "accessibilityAttributes": {
                            "attributes": [
                              "entranceLeveled",
                              "restaurantWheelchairAccessible",
                              "cabinUnderSink"
                            ],
                            "showerChair": "",
                            "entranceType": "electric",
                            "petFriendly": "",
                            "rampAngle": 0,
                            "rampLength": 0,
                            "entranceDoorWidth": 0,
                            "roomMaxGuestsNumber": 0,
                            "distanceFromTheElevatorToTheAccessibleRoom": 0
                          }
                        },
                        {
                          "id": "lp51261",
                          "name": "Villa Rosa",
                          "hotelDescription": "Location : Located in Sibenik, Villa Rosa is a 1-minute drive from Krapanj Franciscan Monastery and 6 minutes from Dalmatian Ethno Village.  This beach hotel is 10.7 mi (17.2 km) from Krka National Park and 4.6 mi (7.3 km) from Uspenie Bogomatere Church.<br/>Amenities : Take advantage of recreation opportunities such as a fitness center or take in the view from a terrace and a garden. This hotel also features complimentary wireless Internet access, tour/ticket assistance, and barbecue grills.<br/>Attractions : Radius are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Krapanj Franciscan Monastery - 1.4 km / 0.9 mi <br /> Dalmatian Ethno Village - 5.4 km / 3.3 mi <br /> Uspenie Bogomatere Church - 7.3 km / 4.6 mi <br /> Church of Gospe van Grada - 7.6 km / 4.7 mi <br /> Church of St. Barbara - 7.6 km / 4.7 mi <br /> Museum of Church Art - 7.7 km / 4.8 mi <br /> Bunari Museum - 7.7 km / 4.8 mi <br /> Church of Saint Spirit - 7.8 km / 4.9 mi <br /> Church of St. Ivan - 7.9 km / 4.9 mi <br /> Sibenik Aquarium - 8.1 km / 5 mi <br /> Cathedral of St. James - 8.2 km / 5.1 mi <br /> Subicevac Fortress - 8.4 km / 5.2 mi <br /> St. John's Fortress - 8.7 km / 5.4 mi <br /> Church and Monastery of St.Francis - 8.7 km / 5.4 mi <br /> Benedictine Monastery of St. Lucia - 9.2 km / 5.7 mi <br /> </p><p>The nearest major airport is Split Airport (SPU) - 52.4 km / 32.6 mi</p><br/>business_amenities : Featured amenities include dry cleaning/laundry services and laundry facilities. Free self parking is available onsite.<br/>Dining : Enjoy a meal at the restaurant, or stay in and take advantage of the hotel's room service. Buffet breakfasts are available daily from 7:30 AM to 9:00 AM for a fee.<br/>HeadLine : Near Krapanj Franciscan Monastery<br/>Rooms : Make yourself at home in one of the 8 guestrooms, featuring kitchenettes with refrigerators and microwaves. Rooms have private balconies. Complimentary wireless Internet access is available to keep you connected. Conveniences include desks and coffee/tea makers, and housekeeping is provided daily.",
                          "currency": "EUR",
                          "country": "HR",
                          "city": "Sibenik",
                          "latitude": 43.678974,
                          "longitude": 15.917649,
                          "address": "Krapanjskih Spuzvara 40",
                          "zip": "22010",
                          "main_photo": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/332385.jpg",
                          "thumbnail": "https://liteapi-travel-static-data.s3.amazonaws.com/images/hotels/main/332385.jpg",
                          "hotelTypeId": 204,
                          "chainId": 0,
                          "chain": "Not Available",
                          "stars": 2.5,
                          "accessibilityAttributes": {
                            "attributes": [
                              "entranceLeveled",
                              "restaurantWheelchairAccessible",
                              "cabinUnderSink"
                            ],
                            "showerChair": "",
                            "entranceType": "electric",
                            "petFriendly": "",
                            "rampAngle": 0,
                            "rampLength": 0,
                            "entranceDoorWidth": 0,
                            "roomMaxGuestsNumber": 0,
                            "distanceFromTheElevatorToTheAccessibleRoom": 0
                          }
                        }
                      ],
                      "hotelIds": ["lp42fec", "lp50f7f", "lp51261"],
                      "total": 1004
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "description": {
                          "type": "string",
                          "description": "Brief explanation of the error type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "countryCode is required": {
                    "value": {
                      "error": {
                        "code": 4000,
                        "description": "countryCode is required",
                        "message": "bad request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "47"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code representing the type of issue"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message providing context about the error"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": 401,
                        "message": "Unauthorized"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hotel": {
      "get": {
        "tags": ["Hotels"],
        "summary": "Get the details of a hotel",
        "description": "The \"Get Hotel Details\" endpoint allows developers to retrieve detailed information about a specific hotel using its unique identifier. This endpoint provides extensive data, including the hotel's name, address, rating, amenities, images, and a detailed description. By making a `GET` request to `/v3.0/data/hotel?hotelId={id}`, developers can access this comprehensive information, which is crucial for displaying detailed hotel profiles in their applications.\n\nThis endpoint ensures that users have access to all necessary details to make informed decisions about their hotel stays, enhancing the overall user experience.",
        "security": [
          {
            "apikeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique ID of a hotel",
            "required": true,
            "example": "lp1897"
          },
          {
            "schema": {
              "type": "number",
              "default": 4,
              "format": "float"
            },
            "in": "query",
            "name": "timeout",
            "description": "request timeout in seconds",
            "example": "1.5"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The language code, indicating in which language the results should be returned. e.g. 'fr'",
            "example": "fr"
          },
          {
            "name": "advancedAccessibilityOnly",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "If `true`, accessibility section will be returned",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the hotel."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the hotel."
                        },
                        "hotelDescription": {
                          "type": "string",
                          "description": "Detailed description of the hotel."
                        },
                        "hotelImportantInformation": {
                          "type": "string",
                          "description": "Critical information and important details about the hotel."
                        },
                        "checkinCheckoutTimes": {
                          "type": "object",
                          "description": "Check-in and check-out timing details for the hotel.",
                          "properties": {
                            "checkout": {
                              "type": "string",
                              "description": "Standard check-out time for guests."
                            },
                            "checkin": {
                              "type": "string",
                              "description": "Standard check-in time for guests."
                            },
                            "checkinStart": {
                              "type": "string",
                              "description": "Earliest time a guest can check in."
                            },
                            "checkinEnd": {
                              "type": "string",
                              "description": "Latest time a guest can check in."
                            }
                          }
                        },
                        "hotelImages": {
                          "type": "array",
                          "description": "List of images representing the hotel.",
                          "items": {
                            "type": "object",
                            "description": "Details of an individual hotel image.",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL of the hotel image."
                              },
                              "urlHd": {
                                "type": "string",
                                "description": "High definition URL of the hotel image."
                              },
                              "caption": {
                                "type": "string",
                                "description": "Caption or description for the image."
                              },
                              "order": {
                                "type": "integer",
                                "description": "Display order of the image."
                              },
                              "defaultImage": {
                                "type": "boolean",
                                "description": "Indicates if this image is the default for the hotel."
                              }
                            }
                          }
                        },
                        "main_photo": {
                          "type": "string",
                          "description": "URL of the main photo for the hotel."
                        },
                        "thumbnail": {
                          "type": "string",
                          "description": "URL of the hotel's thumbnail image."
                        },
                        "country": {
                          "type": "string",
                          "description": "Country where the hotel is located."
                        },
                        "city": {
                          "type": "string",
                          "description": "City where the hotel is located."
                        },
                        "starRating": {
                          "type": "integer",
                          "description": "Star rating of the hotel."
                        },
                        "location": {
                          "type": "object",
                          "description": "Geographical coordinates of the hotel.",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "description": "Latitude coordinate of the hotel."
                            },
                            "longitude": {
                              "type": "number",
                              "description": "Longitude coordinate of the hotel."
                            }
                          }
                        },
                        "address": {
                          "type": "string",
                          "description": "Physical address of the hotel."
                        },
                        "hotelFacilities": {
                          "type": "array",
                          "description": "List of facilities offered by the hotel.",
                          "items": {
                            "type": "string",
                            "description": "A facility available at the hotel."
                          }
                        },
                        "chain": {
                          "type": "string",
                          "description": "Name of the hotel chain, if applicable."
                        },
                        "facilities": {
                          "type": "array",
                          "description": "Detailed list of facilities provided by the hotel.",
                          "items": {
                            "type": "object",
                            "description": "Information about a specific facility.",
                            "properties": {
                              "facilityId": {
                                "type": "integer",
                                "description": "Unique identifier for the facility."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the facility."
                              }
                            }
                          }
                        },
                        "rooms": {
                          "type": "array",
                          "description": "List of room objects available in the hotel.",
                          "items": {
                            "type": "object",
                            "description": "Details of an individual room in the hotel.",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Unique identifier for the room."
                              },
                              "roomName": {
                                "type": "string",
                                "description": "Name or type designation of the room."
                              },
                              "description": {
                                "type": "string",
                                "description": "Detailed description of the room and its features."
                              },
                              "roomSizeSquare": {
                                "type": "number",
                                "description": "Size of the room in square meters."
                              },
                              "roomSizeUnit": {
                                "type": "string",
                                "description": "Unit of measurement for room size (e.g., 'm2')."
                              },
                              "hotelId": {
                                "type": "string",
                                "description": "Identifier of the hotel this room belongs to."
                              },
                              "maxAdults": {
                                "type": "integer",
                                "description": "Maximum number of adults that can be accommodated."
                              },
                              "maxChildren": {
                                "type": "integer",
                                "description": "Maximum number of children that can be accommodated."
                              },
                              "maxOccupancy": {
                                "type": "integer",
                                "description": "Overall maximum occupancy of the room."
                              },
                              "bedTypes": {
                                "type": "array",
                                "description": "List of bed configurations available in the room.",
                                "items": {
                                  "type": "object",
                                  "description": "Details of a specific bed type in the room.",
                                  "properties": {
                                    "quantity": {
                                      "type": "integer",
                                      "description": "Number of beds of this type available in the room."
                                    },
                                    "bedType": {
                                      "type": "string",
                                      "description": "Type of the bed (e.g., 'King size', 'Double bed')."
                                    },
                                    "bedSize": {
                                      "type": "string",
                                      "description": "Dimensions or size description of the bed."
                                    }
                                  }
                                }
                              },
                              "roomAmenities": {
                                "type": "array",
                                "description": "List of amenities provided in the room.",
                                "items": {
                                  "type": "object",
                                  "description": "Details of a specific room amenity.",
                                  "properties": {
                                    "amenitiesId": {
                                      "type": "integer",
                                      "description": "Unique identifier for the amenity."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the amenity."
                                    },
                                    "sort": {
                                      "type": "integer",
                                      "description": "Sort order for displaying the amenity."
                                    }
                                  }
                                }
                              },
                              "photos": {
                                "type": "array",
                                "description": "List of photos associated with the room.",
                                "items": {
                                  "type": "object",
                                  "description": "Details of a room photo.",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "URL of the room photo."
                                    },
                                    "imageDescription": {
                                      "type": "string",
                                      "description": "Description or caption for the photo."
                                    },
                                    "imageClass1": {
                                      "type": "string",
                                      "description": "Additional classification or tag for the image."
                                    },
                                    "imageClass2": {
                                      "type": "string",
                                      "description": "Secondary classification or tag for the image."
                                    },
                                    "failoverPhoto": {
                                      "type": "string",
                                      "description": "Backup URL for the photo in case the primary URL fails."
                                    },
                                    "mainPhoto": {
                                      "type": "boolean",
                                      "description": "Indicates if this is the main photo for the room."
                                    },
                                    "score": {
                                      "type": "number",
                                      "description": "Relevance score or ranking for the photo."
                                    },
                                    "classId": {
                                      "type": "integer",
                                      "description": "Identifier for the photo's classification."
                                    },
                                    "classOrder": {
                                      "type": "integer",
                                      "description": "Order of appearance for the photo based on its classification."
                                    },
                                    "hd_url": {
                                      "type": "string",
                                      "description": "High definition URL of the room photo."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "accessibility": {
                          "type": "object",
                          "description": "Accessibility information and certifications for the hotel.",
                          "properties": {
                            "certificateId": {
                              "type": "string",
                              "description": "Identifier for the accessibility certificate."
                            },
                            "certificateUrl": {
                              "type": "string",
                              "description": "URL where the accessibility certificate can be viewed."
                            },
                            "certificateHtml": {
                              "type": "string",
                              "description": "HTML content of the accessibility certificate."
                            },
                            "attributes": {
                              "type": "object",
                              "description": "Detailed accessibility attributes for various areas of the hotel.",
                              "properties": {
                                "publicArea": {
                                  "type": "object",
                                  "description": "Accessibility details for public areas.",
                                  "properties": {
                                    "hillLocated": {
                                      "type": "boolean",
                                      "description": "Indicates if the public area is located on a hill."
                                    },
                                    "isRamp": {
                                      "type": "boolean",
                                      "description": "Indicates if a ramp is available in the public area."
                                    },
                                    "rampAngle": {
                                      "type": "number",
                                      "description": "Angle of the ramp in the public area."
                                    },
                                    "rampLength": {
                                      "type": "number",
                                      "description": "Length of the ramp in the public area."
                                    },
                                    "entranceType": {
                                      "type": "string",
                                      "description": "Type of entrance provided in the public area."
                                    },
                                    "entranceDoorWidth": {
                                      "type": "number",
                                      "description": "Width of the entrance door."
                                    },
                                    "entranceLeveled": {
                                      "type": "boolean",
                                      "description": "Indicates if the entrance is level with the ground."
                                    },
                                    "distanceFromTheElevatorToTheAccessibleRoom": {
                                      "type": "number",
                                      "description": "Distance between the elevator and an accessible room."
                                    },
                                    "roomMaxGuestsNumber": {
                                      "type": "integer",
                                      "description": "Maximum number of guests allowed in an accessible room."
                                    },
                                    "petFriendly": {
                                      "type": "string",
                                      "description": "Indicates if the accessible area is pet-friendly."
                                    }
                                  }
                                },
                                "receptionAndRestaurant": {
                                  "type": "object",
                                  "description": "Accessibility details for the reception and restaurant areas.",
                                  "properties": {
                                    "receptionHearingAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the reception area is accessible for the hearing impaired."
                                    },
                                    "receptionWheelchairAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the reception area is wheelchair accessible."
                                    },
                                    "restaurantWheelchairAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the restaurant is wheelchair accessible."
                                    }
                                  }
                                },
                                "elevator": {
                                  "type": "object",
                                  "description": "Accessibility features for elevators.",
                                  "properties": {
                                    "elevatorAudioSignals": {
                                      "type": "boolean",
                                      "description": "Indicates if the elevator has audio signals."
                                    },
                                    "elevatorBrailleNumbers": {
                                      "type": "boolean",
                                      "description": "Indicates if the elevator displays braille numbers."
                                    },
                                    "elevatorContrastingButtons": {
                                      "type": "boolean",
                                      "description": "Indicates if the elevator buttons use contrasting colors for visibility."
                                    },
                                    "elevatorVisualSigns": {
                                      "type": "boolean",
                                      "description": "Indicates if visual indicators are present in the elevator."
                                    },
                                    "liftsAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the lifts are accessible to all users."
                                    }
                                  }
                                },
                                "room": {
                                  "type": "object",
                                  "description": "Accessibility features provided within hotel rooms.",
                                  "properties": {
                                    "brailleRoomNumbers": {
                                      "type": "boolean",
                                      "description": "Indicates if room numbers are available in braille."
                                    },
                                    "noticeableRoomNumber": {
                                      "type": "boolean",
                                      "description": "Indicates if the room number is prominently displayed."
                                    },
                                    "roomDoorPeephole": {
                                      "type": "boolean",
                                      "description": "Indicates if the room door is equipped with a peephole."
                                    },
                                    "roomKnockSign": {
                                      "type": "boolean",
                                      "description": "Indicates if there is a knock sign on the room door."
                                    },
                                    "serviceFromTv": {
                                      "type": "boolean",
                                      "description": "Indicates if in-room TV service is available."
                                    },
                                    "hearingKit": {
                                      "type": "boolean",
                                      "description": "Indicates if a hearing kit is provided in the room."
                                    },
                                    "tvAlarmClock": {
                                      "type": "boolean",
                                      "description": "Indicates if the room includes a TV alarm clock."
                                    },
                                    "accessibleRoomConnectingDoors": {
                                      "type": "boolean",
                                      "description": "Indicates if accessible rooms have connecting doors."
                                    },
                                    "ttyHearingSpeechImpaired": {
                                      "type": "boolean",
                                      "description": "Indicates if the room is equipped with TTY facilities for those who are hearing or speech impaired."
                                    }
                                  }
                                },
                                "toiletAndShower": {
                                  "type": "object",
                                  "description": "Accessibility features for toilet and shower facilities.",
                                  "properties": {
                                    "toiletBathroomDoorsIndicator": {
                                      "type": "boolean",
                                      "description": "Indicates if the bathroom door is clearly marked."
                                    },
                                    "toiletGrabbingHandles": {
                                      "type": "boolean",
                                      "description": "Indicates if grabbing handles are available in the toilet area."
                                    },
                                    "adjustableShowerHead": {
                                      "type": "boolean",
                                      "description": "Indicates if the shower head is adjustable."
                                    },
                                    "bathroomBathtub": {
                                      "type": "boolean",
                                      "description": "Indicates if a bathtub is available in the bathroom."
                                    },
                                    "bathroomEmergencyCord": {
                                      "type": "boolean",
                                      "description": "Indicates if an emergency cord is present in the bathroom."
                                    },
                                    "bathtubGrabbingHandles": {
                                      "type": "boolean",
                                      "description": "Indicates if the bathtub is equipped with grabbing handles."
                                    },
                                    "cabinUnderSink": {
                                      "type": "boolean",
                                      "description": "Indicates if there is a cabinet or storage space under the sink."
                                    },
                                    "showerChair": {
                                      "type": "string",
                                      "description": "Specifies the type of shower chair available, if any."
                                    },
                                    "showerLevelFloor": {
                                      "type": "boolean",
                                      "description": "Indicates if the shower area has a level floor."
                                    }
                                  }
                                },
                                "stairs": {
                                  "type": "object",
                                  "description": "Accessibility details for staircases.",
                                  "properties": {
                                    "isHandrails": {
                                      "type": "boolean",
                                      "description": "Indicates if handrails are installed on the stairs."
                                    },
                                    "isStairMarked": {
                                      "type": "boolean",
                                      "description": "Indicates if the stairs are clearly marked for safety."
                                    }
                                  }
                                },
                                "poolAndSpa": {
                                  "type": "object",
                                  "description": "Accessibility features for pool and spa areas.",
                                  "properties": {
                                    "isPoolHandrails": {
                                      "type": "boolean",
                                      "description": "Indicates if handrails are available in the pool area."
                                    },
                                    "liftInPool": {
                                      "type": "boolean",
                                      "description": "Indicates if there is a lift available in the pool."
                                    },
                                    "spaWheelchairAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the spa area is designed to be wheelchair accessible."
                                    }
                                  }
                                },
                                "parking": {
                                  "type": "object",
                                  "description": "Accessibility details for the parking area.",
                                  "properties": {
                                    "parkingWheelchairAccessible": {
                                      "type": "boolean",
                                      "description": "Indicates if the parking area is accessible for wheelchair users."
                                    }
                                  }
                                },
                                "publicToilets": {
                                  "type": "object",
                                  "description": "Accessibility features for public toilet facilities.",
                                  "properties": {
                                    "publicToiletsEmergencyCord": {
                                      "type": "boolean",
                                      "description": "Indicates if an emergency cord is available in public toilets."
                                    },
                                    "publicToiletsGrabbingHandles": {
                                      "type": "boolean",
                                      "description": "Indicates if grabbing handles are provided in public toilets."
                                    },
                                    "publicToiletsVisualIndicators": {
                                      "type": "boolean",
                                      "description": "Indicates if visual indicators are present in public toilet facilities."
                                    }
                                  }
                                }
                              }
                            },
                            "totalDisabilityScore": {
                              "type": "number",
                              "description": "Overall score representing the hotel's disability accessibility."
                            },
                            "disabilities": {
                              "type": "object",
                              "description": "Flags indicating specific disability accommodations available at the hotel.",
                              "properties": {
                                "crouchesCaneImpaired": {
                                  "type": "boolean",
                                  "description": "Indicates if accommodations are available for individuals using a cane."
                                },
                                "elderlyImpaired": {
                                  "type": "boolean",
                                  "description": "Indicates if the facility is adapted for the elderly."
                                },
                                "electricWheelchair": {
                                  "type": "boolean",
                                  "description": "Indicates if electric wheelchair accessibility is provided."
                                },
                                "hearingImpaired": {
                                  "type": "boolean",
                                  "description": "Indicates if the facility is adapted for those with hearing impairments."
                                },
                                "manualWheelchair": {
                                  "type": "boolean",
                                  "description": "Indicates if manual wheelchair accessibility is provided."
                                },
                                "visuallyImpaired": {
                                  "type": "boolean",
                                  "description": "Indicates if accommodations are available for the visually impaired."
                                },
                                "wheelchairOrScooterImpaired": {
                                  "type": "boolean",
                                  "description": "Indicates if the facility accommodates wheelchair or scooter users."
                                }
                              }
                            },
                            "disabilityScores": {
                              "type": "object",
                              "description": "Accessibility scores for various disability categories.",
                              "properties": {
                                "crouchesCaneImpaired": {
                                  "type": "integer",
                                  "description": "Accessibility score for individuals using a cane."
                                },
                                "elderlyImpaired": {
                                  "type": "integer",
                                  "description": "Accessibility score for elderly guests."
                                },
                                "electricWheelchair": {
                                  "type": "integer",
                                  "description": "Accessibility score for electric wheelchair users."
                                },
                                "hearingImpaired": {
                                  "type": "integer",
                                  "description": "Accessibility score for hearing impaired individuals."
                                },
                                "manualWheelchair": {
                                  "type": "integer",
                                  "description": "Accessibility score for manual wheelchair users."
                                },
                                "visuallyImpaired": {
                                  "type": "integer",
                                  "description": "Accessibility score for visually impaired individuals."
                                },
                                "wheelchairOrScooterImpaired": {
                                  "type": "integer",
                                  "description": "Accessibility score for wheelchair or scooter users."
                                }
                              }
                            }
                          }
                        },
                        "phone": {
                          "type": "string",
                          "description": "Contact phone number for the hotel."
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax number for the hotel."
                        },
                        "email": {
                          "type": "string",
                          "description": "Contact email address for the hotel."
                        },
                        "hotelType": {
                          "type": "string",
                          "description": "Type or category of the hotel."
                        },
                        "hotelTypeId": {
                          "type": "number",
                          "description": "Identifier for the hotel type."
                        },
                        "chainId": {
                          "type": "number",
                          "description": "Identifier for the hotel chain."
                        },
                        "airportCode": {
                          "type": "string",
                          "description": "IATA code of the nearest airport."
                        },
                        "rating": {
                          "type": "number",
                          "description": "Overall rating of the hotel."
                        },
                        "reviewCount": {
                          "type": "integer",
                          "description": "Total number of reviews received for the hotel."
                        },
                        "parking": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Indicates whether parking is available (nullable)."
                        },
                        "groupRoomMin": {
                          "type": "number",
                          "nullable": true,
                          "description": "Minimum number of rooms required for group bookings (nullable)."
                        },
                        "childAllowed": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Indicates if children are allowed at the hotel (nullable)."
                        },
                        "petsAllowed": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Indicates if pets are allowed at the hotel (nullable)."
                        },
                        "policies": {
                          "type": "array",
                          "description": "List of policies and guidelines applicable to the hotel.",
                          "items": {
                            "type": "object",
                            "description": "An individual policy object.",
                            "properties": {
                              "policy_type": {
                                "type": "string",
                                "description": "Specifies the category or classification of the policy."
                              },
                              "name": {
                                "type": "string",
                                "description": "The official title or identifier of the policy, providing a concise summary of its purpose."
                              },
                              "description": {
                                "type": "string",
                                "description": "A comprehensive explanation of the policy, outlining its terms, conditions, and operational details."
                              },
                              "child_allowed": {
                                "type": "string",
                                "description": "Details regarding the hotel's policy on children, including any age restrictions, complimentary services, or special provisions."
                              },
                              "pets_allowed": {
                                "type": "string",
                                "description": "Describes the pet policy, including whether pets are allowed, any applicable restrictions or fees, and specific guidelines for pet owners."
                              },
                              "parking": {
                                "type": "string",
                                "description": "Provides information on parking facilities, including availability, any associated fees, and usage guidelines."
                              }
                            }
                          }
                        },
                        "sentiment_analysis": {
                          "type": "object",
                          "description": "Sentiment analysis data derived from guest reviews.",
                          "properties": {
                            "cons": {
                              "type": "array",
                              "description": "List of negative feedback points from guest reviews.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "pros": {
                              "type": "array",
                              "description": "List of positive feedback points from guest reviews.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "categories": {
                              "type": "array",
                              "description": "Detailed sentiment analysis categorized by aspects such as cleanliness, service, etc.",
                              "items": {
                                "type": "object",
                                "description": "A sentiment category including its name, rating, and a detailed description.",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the sentiment category (e.g., Cleanliness, Service)."
                                  },
                                  "rating": {
                                    "type": "number",
                                    "description": "Numerical rating for this sentiment category."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Detailed description of guest sentiment for this category."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "sentiment_updated_at": {
                          "type": "string",
                          "description": "Timestamp indicating when the sentiment analysis was last updated."
                        },
                        "deletedAt": {
                          "type": "string",
                          "description": "Timestamp indicating when hotel is deleted in our system"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "hotel lp1897": {
                    "value": {
                      "data": {
                        "id": "lp1897",
                        "name": "The Manhattan at Times Square",
                        "hotelDescription": "<p><strong>Central Manhattan Location</strong><br>The Manhattan at Times Square is perfectly situated in the heart of Manhattan, just steps away from iconic landmarks like Times Square and Rockefeller Centre.</p><p><strong>Comfortable Accommodations</strong><br>Each room at The Manhattan at Times Square is equipped with a work desk, and select rooms boast stunning skyline views and a cozy seating area for relaxation.</p><p><strong>Convenient Amenities</strong><br>Guests can enjoy a range of amenities at The Manhattan at Times Square, including a fitness centre, a business centre with fax and photocopying services, and attentive concierge services.</p><p>Book your stay at The Manhattan at Times Square to experience the best of New York City right at your doorstep.</p>",
                        "hotelImportantInformation": "Guests are required to show a photo identification and credit card upon check-in. Please note that all Special Requests are subject to availability and additional charges may apply.\nIn response to Coronavirus (COVID-19), additional safety and sanitation measures are in effect at this property.\nPlease inform The Manhattan at Times Square in advance of your expected arrival time. You can use the Special Requests box when booking, or contact the property directly with the contact details provided in your confirmation.\nA damage deposit of USD 50 is required on arrival. This will be collected by credit card. You should be reimbursed on check-out. Your deposit will be refunded in full via credit card, subject to an inspection of the property.\nPlease note that the Manhattan at Times Square Hotel has a mandatory Facilities Fee of $43.61 per room per night provides guests with the following inclusive services, amenities and added value offerings:\n\nAll local, long distance and international phone calls\nPremium high-speed wireless internet access for unlimited devices\nAn eco-friendly, collapsible 16 oz. water bottle to use at the hotel’s water filtration stations\nUnlimited use of our Business Center\nUnlimited use of our 24/7 Fitness Center with treadmills, bikes, elliptical machines and free weights\n25% discount on hop on/hop off bus tour with provided QR code\n*The Facilities Fee does not include service gratuity",
                        "checkinCheckoutTimes": {
                          "checkout": "11:00 AM",
                          "checkin": "04:00 PM",
                          "checkinStart": "04:00 PM"
                        },
                        "hotelImages": [
                          {
                            "url": "https://static.cupid.travel/hotels/524489007.jpg",
                            "urlHd": "https://static.cupid.travel/hotels/524489007.jpg",
                            "caption": "",
                            "order": 0,
                            "defaultImage": true
                          },
                          {
                            "url": "https://static.cupid.travel/hotels/333925043.jpg",
                            "urlHd": "https://static.cupid.travel/hotels/333925043.jpg",
                            "caption": "",
                            "order": 0,
                            "defaultImage": false
                          },
                          {
                            "url": "https://static.cupid.travel/hotels/40322143.jpg",
                            "urlHd": "https://static.cupid.travel/hotels/40322143.jpg",
                            "caption": "",
                            "order": 0,
                            "defaultImage": false
                          },
                          {
                            "url": "https://static.cupid.travel/hotels/333925055.jpg",
                            "urlHd": "https://static.cupid.travel/hotels/333925055.jpg",
                            "caption": "",
                            "order": 0,
                            "defaultImage": false
                          }
                        ],
                        "main_photo": "https://static.cupid.travel/hotels/524489007.jpg",
                        "thumbnail": "https://static.cupid.travel/hotels/thumbnail/524489007.jpg",
                        "country": "us",
                        "city": "New York",
                        "starRating": 4,
                        "location": {
                          "latitude": 40.76217,
                          "longitude": -73.98306
                        },
                        "address": "790 7th Avenue",
                        "hotelFacilities": [
                          "Fitness facilities (surcharge)",
                          "Non-smoking rooms",
                          "Air conditioning",
                          "Family rooms",
                          "Pets allowed",
                          "Lift / Elevator",
                          "Luggage storage",
                          "Express check-in/check-out",
                          "Safety deposit box",
                          "Fax/photocopying",
                          "Soundproof rooms",
                          "Facilities for disabled guests",
                          "Ironing service",
                          "Non-smoking throughout",
                          "Private check-in/check-out",
                          "Staff adhere to local safety protocols",
                          "Guest rooms disinfected between stays",
                          "Cleaning standards that are effective against Coronavirus",
                          "Physical distancing rules followed",
                          "Hand sanitizer in guest room and key areas",
                          "Cashless payment available",
                          "Fire extinguishers",
                          "First aid kit available",
                          "Sanitized tableware & silverware",
                          "Contactless check-in/check-out",
                          "Invoice provided",
                          "Guests can opt-out any cleaning services during stay",
                          "Smoke alarms",
                          "Shared stationery like menus, pens are removed",
                          "Guest room sealed after cleaning",
                          "Property cleaned by professional cleaning companies",
                          "Physical distancing in dining areas",
                          "Key access",
                          "Food delivered to guest room",
                          "CCTV outside property",
                          "Process in place to check health of guests",
                          "Screens / Barriers between staff and guests for safety",
                          "Face masks for guests available",
                          "24-hour security",
                          "Delivered food - securely covered",
                          "Security alarm",
                          "Key card access",
                          "ATM/banking",
                          "Shopping on site",
                          "Television in common areas",
                          "Front desk (limited hours)",
                          "Express check-in",
                          "Free wired internet",
                          "Fitness facilities (surcharge)",
                          "Internet access",
                          "Housekeeping on request",
                          "Covered parking",
                          "Secured parking",
                          "Garage"
                        ],
                        "chain": "Not Available",
                        "facilities": [
                          {
                            "facilityId": 6848,
                            "name": "Fitness facilities (surcharge)"
                          },
                          {
                            "facilityId": 16,
                            "name": "Non-smoking rooms"
                          },
                          {
                            "facilityId": 109,
                            "name": "Air conditioning"
                          },
                          {
                            "facilityId": 28,
                            "name": "Family rooms"
                          },
                          {
                            "facilityId": 4,
                            "name": "Pets allowed"
                          },
                          {
                            "facilityId": 48,
                            "name": "Lift / Elevator"
                          },
                          {
                            "facilityId": 91,
                            "name": "Luggage storage"
                          },
                          {
                            "facilityId": 49,
                            "name": "Express check-in/check-out"
                          },
                          {
                            "facilityId": 51,
                            "name": "Safety deposit box"
                          },
                          {
                            "facilityId": 81,
                            "name": "Fax/photocopying"
                          },
                          {
                            "facilityId": 64,
                            "name": "Soundproof rooms"
                          },
                          {
                            "facilityId": 25,
                            "name": "Facilities for disabled guests"
                          },
                          {
                            "facilityId": 44,
                            "name": "Ironing service"
                          },
                          {
                            "facilityId": 108,
                            "name": "Non-smoking throughout"
                          },
                          {
                            "facilityId": 127,
                            "name": "Private check-in/check-out"
                          },
[...]
