{
  "openapi": "3.0.0",
  "info": {
    "title": "API: Supply Customization",
    "version": "1.0.0",
    "description": "API endpoints for managing supply customization settings"
  },
  "servers": [
    {
      "url": "https://api.liteapi.travel/v3.0",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "data": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "advancedAccessibility": {
              "type": "boolean",
              "description": "Indicates if advanced accessibility options are enabled for the user"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code identifying the error"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      },
      "SupplyCustomizationUpdate": {
        "type": "object",
        "properties": {
          "advancedAccessibility": {
            "type": "boolean",
            "description": "Indicates if advanced accessibility options should be enabled for the user"
          }
        },
        "required": ["advancedAccessibility"]
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Supply Customization",
      "description": "Operations for managing supply customization settings"
    }
  ],
  "paths": {
    "/supply-customization": {
      "get": {
        "tags": [
          "Supply Customization"
        ],
        "summary": "Retrieve supply customization settings",
        "description": "## Overview\n\nGet your current supply customization preferences, including advanced accessibility options for hotel searches.\n\n## When to Use\n\n- **Settings display** - Show current customization settings in admin panels\n- **Configuration checks** - Verify your current preferences\n- **Feature verification** - Check if advanced accessibility is enabled\n\n## What You Get\n\n- **Current settings** - Your active supply customization configuration\n- **Advanced accessibility flag** - Whether advanced accessibility options are enabled\n\n## Quick Start\n\nNo parameters required. Returns your current supply customization settings.",
        "responses": {
          "200": {
            "description": "Supply customization settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Supply Customization"
        ],
        "summary": "Update supply customization settings",
        "description": "## Overview\n\nConfigure your supply customization preferences, including enabling or disabling advanced accessibility options for hotel searches.\n\n## When to Use\n\n- **Enable features** - Turn on advanced accessibility filtering\n- **Customize supply** - Adjust how hotel results are filtered\n- **Accessibility control** - Control whether advanced accessibility hotels are included\n\n## What You Get\n\n- **Updated settings** - Confirmation with your new configuration\n- **Current state** - Your active supply customization settings\n\n## Key Features\n\n- **Advanced accessibility** - Enable/disable filtering for hotels with advanced accessibility features\n- **Search impact** - Settings affect hotel search results\n\n## Quick Start\n\nProvide `advancedAccessibility` (boolean) to enable or disable advanced accessibility options. Returns updated settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplyCustomizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Supply customization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
